{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/hmppsActionButton.njk" import hmppsActionButton %}

{% macro hmppsFilteredListPage(params) %}
    {% if not params.serviceUnavailable and params.errors.length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: params.errors,
            attributes: { 'data-qa-errors': true }
        }) }}
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1{% if params.titleId %} id="{{ params.titleId }}"{% endif %} class="govuk-heading-l govuk-!-margin-top-5">{{ params.title | safe }}</h1>
        </div>
    </div>

    {% if params.serviceUnavailable %}
        <div class="dps-banner dps-banner__error">
            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ params.serviceUnavailableMessage }} are currently unavailable</p>
            <p>Reload the page or try again later. {{ params.serviceUnavailableMessage }} might still be available in other parts of DPS.</p>
        </div>
    {% else %}
        {{ params.afterTitleHtml | safe }}

        {% if params.actionButton %}
            <div class="govuk-grid-row govuk-!-display-none-print">
                <div class="govuk-grid-column-one-quarter">&nbsp;<!-- Purely to force formatting --></div>
                <div class="govuk-grid-column-three-quarters">
                    <div class="hmpps-action-header">
                        {{ hmppsActionButton(params.actionButton) }}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if params.hasContent %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter app-sidebar govuk-!-display-none-print">
                    {{ params.filterHtml | safe }}
                </div>
                <div class="govuk-grid-column-three-quarters hmpps-full-width-print">
                    {{ caller() }}
                </div>
            </div>
        {% else %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full" data-qa="{{ params.emptyStateDataQa }}">
                    {{ params.emptyStateText | safe }}
                </div>
            </div>
        {% endif %}

        {% include "partials/backToTop.njk" %}
    {% endif %}
{% endmacro %}
