{%- from './hmppsPagination.njk' import hmppsPagination -%}
{%- from './hmppsPaginationSummary.njk' import hmppsPaginationSummary -%}
{%- from './hmppsSortSelector.njk' import hmppsSortSelector -%}

{% macro hmppsPagedListHeader(listMetadata) %}
<div class="hmpps-paged-list-header">
    <div class="govuk-!-display-none-print">
        {{ hmppsSortSelector(listMetadata.sorting) }}
        {{ hmppsPagination(listMetadata.pagination) }}
    </div>
    <div>
        {{ hmppsPaginationSummary(listMetadata.pagination) }}
    </div>
</div>
{% endmacro %}