{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro hmppsSortSelector(params) %}
<div>
    <form id="{{ params.formId | default('sortForm')}}">
        <label class="govuk-label" for="{{ params.id }}">{{ params.label }}</label>
        <select
                class="govuk-select hmpps-sort-selector__select"
                id="{{ params.id }}"
                name="{{ params.id }}"
                value={{ params.sort }}
        >
            {% for option in params.options %}
                <option value="{{ option.value }}" {{ 'selected' if params.sort === option.value }}>{{ option.description }}</option>
            {% endfor %}
        </select>
        {% for key, val in params.queryParams %}
            {% if val and val is iterable and val is not string %}
                {% for i in val %}
                    <input type="hidden" name="{{ key }}" value="{{ i }}">
                {% endfor %}
            {% elseif val %}
                <input type="hidden" name="{{ key }}" value="{{ val }}">
            {% endif %}
        {% endfor %}
        {{ govukButton({
            text: "Sort",
            classes: "hmpps-sort-selector__sort-button",
            preventDoubleClick: true
        }) }}
    </form>
</div>
    {% block pageScripts %}
        <script src="/assets/js/hmppsSortSelector.js" nonce="{{ cspNonce }}"></script>
    {% endblock %}
{%  endmacro %}