{% macro hmppsPagedListFooter(options) %}
<div class="hmpps-paged-list-footer">
    <nav class="moj-pagination" aria-label="Pagination navigation">
        <ul class="moj-pagination__list">
            {#                            <li class="moj-pagination__item  moj-pagination__item--prev">#}
            {#                                <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>#}
            {#                            </li>#}
            <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 2" aria-current="page">1</li>
            <li class="moj-pagination__item"><a class="moj-pagination__link" href="{{ options.currentUrlPath }}" aria-label="Page 2 of 2">2</a></li>
            {#                            <li class="moj-pagination__item"><a class="moj-pagination__link" href="{{ currentUrlPath+'&page=3' }}" aria-label="Page 3 of 30">3</a></li>#}
            {#                            <li class="moj-pagination__item moj-pagination__item--dots">…</li>#}
            {#                            <li class="moj-pagination__item"><a class="moj-pagination__link" href="{{ currentUrlPath+'&page=5' }}" aria-label="Page 5 of 30">5</a></li>#}
            <li class="moj-pagination__item  moj-pagination__item--next">
                <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
            </li>
        </ul>
    </nav>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>20</b> of <b>23</b> alerts</p>
</div>
{% endmacro %}