{% macro printLink(linkText = 'Print this page', align = "left") %}
<div style="text-align: {{ align }}">
  <a href="javascript:window.print()" class="govuk-link print-link govuk-!-display-none-print">
    <img src="/assets/images/printer_icon.svg" role="presentation" alt="" width="23px" height="20px" class="hmpps-icon" data-qa="prisoner-photo-print-icon"/> {{ linkText }}
  </a>
</div>
{% endmacro %}