{%- macro sexualOrientationText(orientation) -%}
    {%- set txt = "Not entered" -%}
    {%- if orientation === 'Heterosexual / Straight' -%}
        {%- set txt = "Heterosexual or straight" -%}
    {%- elif orientation === 'Gay / Lesbian' -%}
        {%- set txt = "Gay or lesbian" -%}
    {%- elif orientation === 'Not Answered' -%}
        {%- set txt = "They prefer not to say" -%}
    {%- elif orientation -%}
        {%- set txt = orientation | capitalize -%}
    {%- endif -%}
    {{- txt -}}
{%- endmacro -%}