{% from 'macros/pagedListWithCards.njk' import hmppsPagedListWithCards %}
{% from './macros/caseNoteCard.njk' import caseNoteCard %}

{{ hmppsPagedListWithCards(
    listMetadata = listMetadata,
    items = pagedCaseNotes.content,
    listClass = "hmpps-case-note-card-list",
    noResultsMessage = "No case notes have been found for the selected filters.",
    suggestions = [
        "select different types and/or sub types",
        "choose different dates",
        "clear filters to view all case notes"
    ],
    cardMacro = caseNoteCard,
    cardParams = isGranted(CaseNotesPermission.edit, prisonerPermissions)
) }}
