{% extends "./editPage.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% block form %}
  {% set numberOfChildrenHtml -%}
  {{ govukInput({
    classes: "govuk-input govuk-input--width-2",
    name: "numberOfChildren",
    id: "numberOfChildren",
    value: currentNumberOfChildren,
    errorMessage: errors | findError('numberOfChildren'),
    label: {
      text: "Number of children"
    }
  }) }}
  {% endset -%}
  <form method="post" novalidate="novalidate" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <div class="govuk-form-group">
      {{ govukRadios({
        idPrefix: "radio",
        name: "hasChildren",
        errorMessage: errors | findError("hasChildren"),
        fieldset: {
          classes: "has-children-radio-fieldset",
          legend: {
            text: formTitle,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "YES",
            text: "Yes",
            checked: radioFieldValue === 'YES',
            conditional: {
              html: numberOfChildrenHtml
            }
          },
          {
            value: "NO",
            text: "No",
            checked: radioFieldValue === 'NO'
          }
        ]
      }) }}
    </div>
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save",
        type: "submit",
        preventDoubleClick: true,
        attributes: { "data-qa": "edit-submit-button" }
      }) }}
      <a
        href="/prisoner/{{ prisonerNumber }}/personal#{{ redirectAnchor }}"
        class="govuk-link govuk-link--no-visited-state"
        data-qa="edit-cancel-button">Cancel</a>
    </div>
  </form>
{% endblock %}