{% extends "../index.njk" %}
{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set hideBackLink = true %}
{% set breadCrumbs = [
  {
  text: 'Digital Prison Services',
  href:  "/" | prependBaseUrl
  },
  {
  text: breadcrumbPrisonerName,
  href: "/prisoner/" + prisonerNumber
  }
  ] %}
{% block body %}


    {% if errors.length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors,
            attributes: { 'data-qa-errors': true }
        })}}
    {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form method="post" novalidate="novalidate" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <div class="govuk-form-group">
          {{ govukInput({
            label: {
              text: "Edit " + fieldName,
              classes: "govuk-label--l",
              isPageHeading: true
            },
            id: "edit-field",
            name: "editField",
            value: fieldValue,
            suffix: { text: fieldSuffix } if fieldSuffix else {}
          }) }}
        </div>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save",
            type: "submit",
            preventDoubleClick: true,
            attributes: { "data-qa": "edit-submit-button" }
            }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}