{% extends "../index.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../components/miniBanner/miniBanner.njk' import miniBanner %}
{% from "../../macros/nomisLockedWarning.njk" import nomisLockedWarning %}
{% from "../../macros/problemSavingWarning.njk" import problemSavingWarning %}
{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% set hideBackLink = true %}
{% set breadCrumbs = [
    { text: 'Digital Prison Services', href:  "/" | prependBaseUrl },
    { text: prisonerName.lastCommaFirst, href: "/prisoner/" + prisonerNumber },
    { text: 'Personal', href: "/prisoner/" + prisonerNumber + "/personal" }
  ] %}
{% block body %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">{{ miniBanner(miniBannerData) }}</div>
  </div>
  {% if backLinkUrl %}
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-full">
        {{ govukBackLink({
          text: "Back",
          classes: "govuk-!-margin-0",
          attributes: { 'data-qa': 'back-link' },
          href: backLinkUrl
        }) }}
      </div>
    </div>
  {% endif %}
  {{ nomisLockedWarning(isLocked) }}
  {{ problemSavingWarning(problemSaving) }}
  {% if errors.length > 0 %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errors,
              attributes: { 'data-qa-errors': true },
              classes: 'govuk-!-margin-bottom-6'
          }) }}
      </div>
    </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block form %}{% endblock %}
    </div>
    <div class="govuk-grid-column-one-third">
      {% block sideBar %}{% endblock %}
    </div>
  </div>
{% endblock %}
