{% extends "./editPage.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from 'components/miniBanner/miniBanner.njk' import miniBanner %}
{% from "../../macros/nomisLockedWarning.njk" import nomisLockedWarning %}
{% block form %}
  <h1 class="govuk-!-margin-top-0">{{ formTitle }}</h1>
  <form method="post" novalidate="novalidate" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <div class="govuk-form-group">
      {{ govukRadios({
        idPrefix: "left",
        name: "leftEyeColour",
        errorMessage: errors | findError("leftEyeColour"),
        fieldset: {
          id: "leftFieldset",
          legend: {
            text: "Left eye colour",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: hintText
        },
        items: leftOptions
      }) }}
      {{ govukRadios({
        idPrefix: "right",
        name: "rightEyeColour",
        errorMessage: errors | findError("rightEyeColour"),
        fieldset: {
          id: "rightFieldset",
          legend: {
            text: "Right eye colour",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: hintText
        },
        items: rightOptions
      }) }}
    </div>
    <p class="govuk-body">
      <a class="govuk-link" data-qa="switch-eye-entry" href="/prisoner/{{ prisonerNumber }}/personal/eye-colour">
        Eyes are the same colour
      </a>
    </p>
    <div class="govuk-button-group">
      {{ govukButton({
            text: "Save",
            type: "submit",
            preventDoubleClick: true,
            attributes: { "data-qa": "edit-submit-button" }
            }) }}
      <a
        href="/prisoner/{{ prisonerNumber }}/personal#appearance"
        class="govuk-link govuk-link--no-visited-state"
        data-qa="edit-cancel-button">Cancel</a>
    </div>
  </form>
{% endblock %}