{% extends "./editPage.njk" %}
{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from 'components/miniBanner/miniBanner.njk' import miniBanner %}
{% from "../../macros/nomisLockedWarning.njk" import nomisLockedWarning %}
{% block form %}
  <form method="post" novalidate="novalidate" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <div class="govuk-form-group">
      {{ govukRadios({
        idPrefix: "radio",
        name: "eyeColour",
        errorMessage: errors | findError("eyeColour"),
        fieldset: {
          id: "radioFieldset",
          legend: {
            text: formTitle,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: hintText
        },
        items: options
      }) }}
    </div>
    <p class="govuk-body">
      <a class="govuk-link" data-qa="switch-eye-entry" href="/prisoner/{{ prisonerNumber }}/personal/eye-colour-individual">
        Left and right eyes are different colours
      </a>
    </p>
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save",
        type: "submit",
        preventDoubleClick: true,
        attributes: { "data-qa": "edit-submit-button" }
      }) }}
      <a
        href="/prisoner/{{ prisonerNumber }}/personal#appearance"
        class="govuk-link govuk-link--no-visited-state"
        data-qa="edit-cancel-button">Cancel</a>
    </div>
  </form>
{% endblock %}