{% extends "./editPage.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% block form %}
  <form method="post" novalidate="novalidate" autocomplete="off">
    <div class="govuk-form-group {{ " govuk-form-group--error" if errors.length > 0 }}">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/> {% call govukFieldset({
          legend: {
            text: "Height",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
      {{ govukInput({
        label: {
          text: "Centimetres"
        },
        id: "height",
        name: "editField",
        value: fieldValue,
        classes: "govuk-input--width-3",
        errorMessage: { text: errors[0].text } if errors.length > 0
      }) }}
      {% endcall %}
    </div>
    <p class="govuk-body">
      <a class="govuk-link" data-qa="switch-units" href="/prisoner/{{ prisonerNumber }}/personal/height/imperial">
        Switch to feet and inches
      </a>
    </p>
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save",
        type: "submit",
        preventDoubleClick: true,
        attributes: { "data-qa": "edit-submit-button" }
      }) }}
      <a
        href="/prisoner/{{ prisonerNumber }}/personal#appearance"
        class="govuk-link govuk-link--no-visited-state"
        data-qa="edit-cancel-button">Cancel</a>
    </div>
  </form>
{% endblock %}