{% extends "../../partials/layout.njk" %}
{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from 'components/miniBanner/miniBanner.njk' import miniBanner %}
{% set hideBackLink = true %}
{% set breadCrumbs = [
    {
        text: 'Digital Prison Services',
        href:  "/" | prependBaseUrl
    },
    {
        text: breadcrumbPrisonerName,
        href: "/prisoner/" + prisonerNumber
    },
    {
        text: 'Personal',
        href: "/prisoner/" + prisonerNumber + "/personal"
    }
] %}
{% set mainClasses = 'govuk-body' %}

{% block content %}

    {% block body %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">{{ miniBanner(miniBannerData) }}</div>
        </div>

        {% if errors.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errors,
                attributes: { 'data-qa-errors': true },
                classes: 'govuk-!-margin-bottom-6'
            }) }}
        {% endif %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h1>Nationality</h1>
                <form method="post" novalidate="novalidate" autocomplete="off">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    <div class="govuk-form-group">

                        {% set autocompleteHtml %}
                            {{ govukSelect({
                                id: "autocomplete",
                                name: "autocompleteField",
                                label: {
                                    text: autocompleteOptionLabel
                                },
                                items: autocompleteOptions,
                                errorMessage: errors | findError("autocomplete"),
                                classes: "js-autocomplete-select",
                                formGroup: {
                                    classes: "govuk-!-width-one-third"
                                },
                                attributes: {
                                    "data-test": "select-autocomplete-input"
                                }
                            }) }}
                        {% endset -%}

                        {% set radioOptions = radioOptions.concat({
                            value: "OTHER",
                            text: autocompleteOptionTitle,
                            conditional: { html: autocompleteHtml },
                            checked: autocompleteSelected or autocompleteOptions | containsSelected
                        }) %}

                        {{ govukRadios({
                            idPrefix: "radio",
                            name: "radioField",
                            errorMessage: errors | findError("radioField"),
                            fieldset: {
                                id: "radioFieldset",
                                legend: {
                                    text: formTitle,
                                    isPageHeading: false,
                                    classes: "govuk-fieldset__legend--m"
                                }
                            },
                            hint: {
                                text: hintText
                            },
                            items: radioOptions
                        }) }}

                        {{ govukCharacterCount({
                            name: "additionalNationalities",
                            id: "additional-nationalities",
                            classes: "govuk-!-width-two-thirds",
                            rows: 1,
                            maxlength: 40,
                            value: additionalNationalitiesValue,
                            errorMessage: errors | findError('additionalNationalities'),
                            label: {
                                text: "Additional nationalities",
                                isPageHeading: false,
                                classes: "govuk-label--m"
                            },
                            hint: { text: "Enter any additional nationalities this person holds." }
                        }) }}
                    </div>

                    <div class="govuk-button-group">
                        {{ govukButton({
                            text: "Save",
                            type: "submit",
                            classes: "js-autocomplete-submit",
                            preventDoubleClick: true,
                            attributes: { "data-qa": "edit-submit-button" }
                        }) }}
                        <a href="/prisoner/{{ prisonerNumber }}/personal#{{ redirectAnchor }}"
                           class="govuk-link govuk-link--no-visited-state" data-qa="edit-cancel-button">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block pageScripts %}
    <script src="/assets/js/accessible-autocomplete.min.js"></script>
    <script src="/assets/js/autocomplete.js"></script>
{% endblock %}
