{% extends "./editPage.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% block form %}
  <form method="post" novalidate="novalidate" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <div class="govuk-form-group {{ " govuk-form-group--error" if errors.length > 0 }}">
      {{ govukRadios({
        idPrefix: "radio",
        name: "radioField",
        errorMessage: errors | findError("radioField"),
        fieldset: {
          id: "radioFieldset",
          legend: {
            text: formTitle,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: hintText
        },
        items: options
      }) }}
    </div>
    <div class="govuk-button-group">
      {{ govukButton({
        text: submitButtonText or "Save",
        type: "submit",
        preventDoubleClick: true,
        attributes: { "data-qa": "edit-submit-button" }
      }) }}
      <a
        href="/prisoner/{{ prisonerNumber }}/personal#{{ redirectAnchor }}"
        class="govuk-link govuk-link--no-visited-state"
        data-qa="edit-cancel-button">Cancel</a>
    </div>
  </form>
{% endblock %}