{% extends "../../partials/layout.njk" %}
{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from 'components/miniBanner/miniBanner.njk' import miniBanner %}
{% set hideBackLink = true %}
{%
  set breadCrumbs = [
  {
  text: 'Digital Prison Services',
  href:  "/" | prependBaseUrl
  },
  {
  text: breadcrumbPrisonerName,
  href: "/prisoner/" + prisonerNumber
  },
  {
  text: 'Personal',
  href: "/prisoner/" + prisonerNumber + "/personal"
  }
  ]
%}
{% set mainClasses = 'govuk-body dps-edit-container' %}

{% block content %}

{% block body %}

  {% if errors.length > 0 %}
    {{
      govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors,
          attributes: { 'data-qa-errors': true },
          classes: 'govuk-!-margin-bottom-6'
      })
    }}
  {% endif %}

      {{ miniBanner(miniBannerData) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form method="post" novalidate="novalidate" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <div class="govuk-form-group">
          {{ govukRadios({
            idPrefix: "radio",
            name: "radioField",
            errorMessage: errors | findError("radioField"),
            fieldset: {
              id: "radioFieldset",
              legend: {
                text: formTitle,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: hintText
            },
            items: options
          }) }}
        </div>
        <div class="govuk-button-group">
          {{
          govukButton({
            text: "Save",
            type: "submit",
            preventDoubleClick: true,
            attributes: { "data-qa": "edit-submit-button" }
            })
          }}
          <a href="/prisoner/{{ prisonerNumber }}/personal#appearance" class="govuk-link govuk-link--no-visited-state" data-qa="edit-cancel-button">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% endblock %}
