{% extends "./editPage.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% set currentReligionHtml %}
{% if currentReligion %}
  <span>
    <b>Current religion, faith or belief:</b>
    {% if currentReligion.description %}
      {{ currentReligion.description }}
    {% endif %}
  </span>
{% endif %}
{% endset %}
{% set reasonForChangeKnownHtml -%}
{{ govukTextarea({
  name: "reasonForChange",
  id: "reason-for-change-known",
  value: currentReasonForChange,
  errorMessage: errors | findError('reasonForChange'),
  label: {
    text: "Enter why this person's religion, faith or belief has changed"
  }
}) }}
{% endset -%}
{% set reasonForChangeUnknownHtml -%}
{{ govukTextarea({
  name: "reasonForChangeUnknown",
  id: "reason-for-change-unknown",
  value: currentReasonForChangeUnknown,
  label: {
    text: "Give details (optional)"
  }
}) }}
{% endset -%}
{% block form %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Religion, faith or belief</h1>
  {% if currentReligion and currentReligion.code %}
    {{ govukInsetText({
      id: "current-religion-display",
      html: currentReligionHtml,
      classes: "govuk-!-margin-top-2"
    }) }}
  {% endif %}
  <form method="post" novalidate="novalidate" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <input type="hidden" name="currentReligionCode" value="{{ currentReligion.code }}"/>
    <div class="govuk-form-group">
      {{ govukRadios({
        name: "religion",
        errorMessage: errors | findError("religion"),
        attributes: { "data-qa": "religion-value-input" },
        fieldset: {
          classes: "religion-radio-fieldset",
          legend: {
            text: formTitle,
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: hintText
        },
        items: options
      }) }}
    </div>
    {% if currentReligion and currentReligion.code %}
      {{ govukRadios({
        name: "reasonKnown",
        errorMessage: errors | findError("reasonKnown"),
        attributes: { "data-qa": "change-reason-input" },
        fieldset: {
          id: "reasonRadioFieldset",
          legend: {
            text: "Do you know why this has changed?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "YES",
            text: "Yes",
            checked: currentReasonKnown === 'YES',
            conditional: {
              html: reasonForChangeKnownHtml
            }
          },
          {
            value: "NO",
            text: "No",
            checked: currentReasonKnown === 'NO',
            conditional: {
              html: reasonForChangeUnknownHtml
            }
          }
        ]
      }) }}
      {{ govukWarningText({
        text: "This will record a new religion, faith or belief. The current religion, faith or belief will be made inactive.",
        attributes: { "data-qa": "religion-update-warning" }
      }) }}
    {% endif %}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save",
        type: "submit",
        preventDoubleClick: true,
        attributes: { "data-qa": "edit-submit-button" }
      }) }}
      <a
        href="/prisoner/{{ prisonerNumber }}/personal#{{ redirectAnchor }}"
        class="govuk-link govuk-link--no-visited-state"
        data-qa="edit-cancel-button">Cancel</a>
    </div>
  </form>
{% endblock %}
