{% extends "./editPage.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% block form %}
  <form method="post" novalidate="novalidate" autocomplete="off">
    <div class="govuk-form-group {{ " govuk-form-group--error" if errors.length > 0 }}">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/> {% call govukFieldset({
        legend: {
          text: "Weight",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}
      {% if errors.length > 0 %}
        <p id="weight-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          {{ errors[0].text }}
        </p>
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              {{ govukInput({
                label: {
                  text: "Stone"
                },
                id: "stone",
                name: "stone",
                value: stoneValue,
                classes: "govuk-input--width-3"
              }) }}
            </div>
            <div class="govuk-grid-column-one-quarter">
              {{ govukInput({
                label: {
                  text: "Pounds"
                },
                id: "pounds",
                name: "pounds",
                value: poundsValue,
                classes: "govuk-input--width-3"
              }) }}
            </div>
          </div>
        </div>
      </div>
      {% endcall %}
    </div>
    <p class="govuk-body">
      <a class="govuk-link" data-qa="switch-units" href="/prisoner/{{ prisonerNumber }}/personal/weight">
        Switch to kilograms
      </a>
    </p>
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save",
        type: "submit",
        preventDoubleClick: true,
        attributes: { "data-qa": "edit-submit-button" }
      }) }}
      <a
        href="/prisoner/{{ prisonerNumber }}/personal#appearance"
        class="govuk-link govuk-link--no-visited-state"
        data-qa="edit-cancel-button">Cancel</a>
    </div>
  </form>
{% endblock %}