{% extends "../index.njk" %}
{% set hideBackLink = true %}

{% block body %}

<div class="govuk-!-width-two-thirds">
    <h1 class="govuk-heading-l">Accessibility statement</h1>
    {{ pageContent | safe }}
</div>

{% endblock %}
