{% from '../../macros/hmppsPagedListHeader.njk' import hmppsPagedListHeader %}
{% from '../../macros/hmppsPagedListFooter.njk' import hmppsPagedListFooter %}
{% from './macros/alertCard.njk' import alertCard %}

{{ hmppsPagedListHeader(listMetadata) }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="hmpps-alert-card-list" role="list">
            {% for alert in pagedAlerts.content %}
                {{ alertCard(alert) }}
            {% endfor %}
        </div>
        {% if not listMetadata.pagination.totalElements %}
            <div>
                <p>No {{ 'active' if activeTab else 'inactive' }} alerts have been found for the chosen dates.</p>
                <p>You can:</p>
                <ul>
                    <li>choose different dates</li>
                    <li>select different types of alert</li>
                    <li>clear filters to view all {{ 'active' if activeTab else 'inactive' }} alerts</li>
                </ul>
            </div>
        {% endif %}
    </div>
</div>
{{ hmppsPagedListFooter(listMetadata) }}

