{% from '../../macros/hmppsSideFilter.njk' import hmppsSideFilter %}
{% set options = {
    title: 'Filter',
    id: 'alertsFilter',
    currentUrlPath: currentUrlPath,
    queryParams: listMetadata.filtering.queryParams
} %}
{%- call hmppsSideFilter(options) -%}
    <div class="govuk-form-group">
        {% if alertTypes.length %}
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Alert type
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            {% for alertType in alertTypes %}
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="{{ alertType.code }}" name="alertType"
                           type="checkbox" value="{{ alertType.code }}" {{ 'checked' if alertType.checked }}>
                    <label class="govuk-label govuk-checkboxes__label" for="{{ alertType.code }}">
                        {{ alertType.description }} <span class="hmpps-side-filter__alert-count">({{ alertType.count | pluralise('alert') }})</span>
                    </label>
                </div>
            {% endfor %}
            </div>
        </fieldset>
        {% endif %}
        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="from">
                Date from
            </label>
            <input class="govuk-input" id="from" name="from" type="text" value="{{ listMetadata.filtering.from }}">
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="to">
                Date to
            </label>
            <input class="govuk-input" id="to" name="to" type="text" value="{{ listMetadata.filtering.to }}">
        </div>
    </div>
{%- endcall -%}