{% from 'macros/pagedListWithCards.njk' import hmppsPagedListWithCards %}
{% from './macros/alertCard.njk' import alertCard %}

{{ hmppsPagedListWithCards(
    listMetadata = listMetadata,
    items = alertsList,
    listClass = "hmpps-alert-card-list",
    noResultsMessage = "No " + ('active' if activeTab else 'inactive') + " alerts have been found for the chosen dates.",
    suggestions = [
        "choose different dates",
        "select different types of alert",
        "clear filters to view all " + ('active' if activeTab else 'inactive') + " alerts"
    ],
    cardMacro = alertCard
) }}
