{% from "govuk/components/input/macro.njk" import govukInput %}
{% from '../../macros/hmppsSideFilter.njk' import hmppsSideFilter %}
{% set options = {
    title: 'Filter',
    id: 'alertsFilter',
    currentUrlPath: currentUrlPath,
    queryParams: listMetadata.filtering.queryParams
} %}
{%- call hmppsSideFilter(options) -%}
    <div class="govuk-form-group">
        {% if alertTypes.length %}
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Alert type
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            {% for alertType in alertTypes %}
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="{{ alertType.code }}" name="alertType"
                           type="checkbox" value="{{ alertType.code }}" {{ 'checked' if alertType.checked }}>
                    <label class="govuk-label govuk-checkboxes__label" for="{{ alertType.code }}">
                        {{ alertType.description }} <span class="hmpps-side-filter__alert-count">({{ alertType.count | pluralise('alert') }})</span>
                    </label>
                </div>
            {% endfor %}
            </div>
        </fieldset>
        {% endif %}
        <div class="govuk-form-group">
            {{ govukInput({
                label: {
                    text: "Date from",
                    classes: "govuk-label--m"
                },
                id: "from",
                name: "from",
                errorMessage: errors | findError('from'),
                value: listMetadata.filtering.from,
                autocomplete: "off"
            }) }}
        </div>
        <div class="govuk-form-group">
            {{ govukInput({
                label: {
                    text: "Date to",
                    classes: "govuk-label--m"
                },
                id: "to",
                name: "to",
                errorMessage: errors | findError('to'),
                value: listMetadata.filtering.to,
                autocomplete: "off"
            }) }}
        </div>
    </div>
{%- endcall -%}