{% from "govuk/components/input/macro.njk" import govukInput %}
{% from '../../macros/hmppsSideFilter.njk' import hmppsSideFilter %}
{% from 'components/datepicker/macro.njk' import hmppsDatepicker %}
{% set options = {
    title: 'Filter',
    id: 'alertsFilter',
    currentUrlPath: currentUrlPath,
    queryParams: listMetadata.filtering.queryParams
} %}
{%- call hmppsSideFilter(options) -%}
    <div class="govuk-form-group">
        {% if alertTypes.length %}
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Alert type
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            {% for alertType in alertTypes %}
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="{{ alertType.code }}" name="alertType"
                           type="checkbox" value="{{ alertType.code }}" {{ 'checked' if alertType.checked }}>
                    <label class="govuk-label govuk-checkboxes__label" for="{{ alertType.code }}">
                        {{ alertType.description }} <span class="hmpps-side-filter__alert-count">({{ alertType.count | pluralise('alert') }})</span>
                    </label>
                </div>
            {% endfor %}
            </div>
        </fieldset>
        {% endif %}
        {{ hmppsDatepicker({
            id: "from",
            name: "from",
            label: {
                text: "Date from (earliest)",
                classes: "govuk-label--m"
            },
            hint: {
              text: "For example, 31/3/2022"
            },
            errorMessage: errors | findError('from'),
            value: listMetadata.filtering.from
        }) }}
        {{ hmppsDatepicker({
            id: "to",
            name: "to",
            label: {
                text: "Date to (latest)",
                classes: "govuk-label--m"
            },
            hint: {
                text: "For example, 31/3/2023."
            },
            errorMessage: errors | findError('to'),
            value: listMetadata.filtering.to
        }) }}
    </div>
{%- endcall -%}