{% from "../../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{%- call summaryCard({title: "Court cases and release dates"}) -%}
  <div class="govuk-grid-row" data-qa="court-cases-release-dates">
    <div class="govuk-grid-column-full">
      <h3 data-qa="overview-active-court-cases" class="govuk-heading-s govuk-!-margin-bottom-1">Active court cases</h3>
      <p class="govuk-!-font-size-36" data-qa="overview-court-cases-count">{{ courtCaseSummary.activeCourtCasesCount or 0 }}</p>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2" />
    </div>
    <div data-qa="overview-next-court-appearance" class="govuk-grid-column-full">
      <h3 class="card-subheading govuk-!-margin-top-2 govuk-!-margin-bottom-1">Next court hearing</h3>
      {% if courtCaseSummary.nextCourtAppearance %}
        {{ govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: [
            {
              key: { text: "Case reference" },
              value: { text: courtCaseSummary.nextCourtAppearance.caseReference or "Not entered" }
            },
            {
              key: { text: "Location" },
              value: { text: courtCaseSummary.nextCourtAppearance.location }
            },
            {
              key: { text: "Hearing type" },
              value: { text: courtCaseSummary.nextCourtAppearance.hearingType }
            },
            {
              key: { text: "Date" },
              value: { text: courtCaseSummary.nextCourtAppearance.date | formatDate('long') }
            }
          ]
        }) }}
      {% else %}
          <p>There are no upcoming court hearings.</p>
      {% endif %}
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2" />
    </div>

    <div data-qa="overview-latest-calculation" class="govuk-grid-column-full">
      <h3 class="card-subheading govuk-!-margin-top-2 govuk-!-margin-bottom-1">Latest calculation</h3>
      {% if courtCaseSummary.latestCalculation %}
        {{ govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: [
            {
              key: { text: "Date of calculation" },
              value: { text: courtCaseSummary.latestCalculation.calculationDate | formatDate('long') }
            },
            {
              key: { text: "Establishment" },
              value: { text: courtCaseSummary.latestCalculation.establishment or "Not entered"  }
            },
            {
              key: { text: "Calculation reason" },
              value: { text: courtCaseSummary.latestCalculation.reason }
            }
          ]
        }) }}
      {% else %}
        <p>There are no release dates calculated for {{ prisonerDisplayName }}</p>
      {% endif %}
    </div>

    <div class="govuk-grid-column-full">
      <p><a href="{{ courtCaseSummary.link.href }}" class='govuk-link'>{{ courtCaseSummary.link.text }}</a></p>
    </div>
  </div>
{%- endcall -%}
