{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% extends "govuk/template.njk" %}
{% block head %}
  {% if tagManagerContainerId %}
    <!-- Google Tag Manager -->
    <script nonce="{{ cspNonce }}">window.dataLayer = window.dataLayer || [];</script>

    <!-- Add user details to the dataLayer if present on this page load - for google analytics & tag manager -->
    {% if user %}
      <script nonce="{{ cspNonce }}">window.dataLayer.push({
          'user': {
            'prison': '{{ user.activeCaseLoadId }}',
          },
        })</script>
    {% endif %}

    <script nonce="{{ cspNonce }}">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;var n=d.querySelector('[nonce]');
        n&&j.setAttribute('nonce',n.nonce||n.getAttribute('nonce'));f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ tagManagerContainerId }}');</script>
    <!-- End Google Tag Manager -->
  {% endif %}

  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet" />

  <script src="/assets/js/jquery.min.js"></script>
  <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    nonce="{{ cspNonce }}"
    crossorigin="anonymous"
  ></script>
  <link
    href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css"
    rel="stylesheet"
    nonce="{{ cspNonce }}"
    crossorigin
  />

  {% if feComponents.jsIncludes %}
    {% for js in feComponents.jsIncludes %}
      <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}
  {% endif %}

  {% if feComponents.cssIncludes %}
    {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
    {% endfor %}
  {% endif %}

{% endblock %}

{% block pageTitle %}{{ pageTitle + ' - ' + applicationName if pageTitle else applicationName }}{% endblock %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "./header.njk" %}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% if user.showFeedbackBanner %}
    {% include "./feedbackBanner.njk" %}
  {% endif %}
  {% if flashMessage %}
    <div class="{{ 'hmpps-flash-message hmpps-flash-message--'+flashMessage.type if flashMessage.type }}">
      <p role="alert">{{ flashMessage.text }}</p>
    </div>
  {% endif %}

  <div class="prisoner-profile-breadcrumbs">

    {% if refererUrl %}
      <div class="prisoner-profile-breadcrumbs__back">
        <a href="{{ refererUrl }}" class="govuk-link govuk-link--no-visited-state" data-qa="referer-back-link">
          Back
        </a>
      </div>
    {% elseif user.backLink and not hideBackLink %}
      <div class="prisoner-profile-breadcrumbs__search">
        <a href="{{ user.backLink.url }}" class="govuk-link govuk-link--no-visited-state" data-qa="back-link">
          {{ user.backLink.text }}
        </a>
      </div>
    {% endif %}

    <div class="prisoner-profile-breadcrumbs__breadcrumbs govuk-!-display-none-print">
    {{ govukBreadcrumbs({
        items: breadCrumbs | default([])
      }) }}
    </div>
  </div>
{% endblock %}

{% block bodyStart %}
  {% if tagManagerContainerId %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id={{ tagManagerContainerId }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
  <a id="top"></a>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/datepicker.js"></script>
  <script src="/assets/backToTop.js"></script>
  <script src="/assets/printPage.js"></script>

  {# Javascript block for individual pages #}
  {% block pageScripts %}
  {% endblock %}

{% endblock %}

{% block footer %}
  {% if feComponents.footer %}
    {{ feComponents.footer | safe }}
  {% else %}
    {% include "./footer.njk" %}
  {% endif %}
{% endblock %}