{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% extends "govuk/template.njk" %}
{% block head %}
  {% if tagManagerContainerId %}
    <!-- Google Tag Manager -->
    <script nonce="{{ cspNonce }}">window.dataLayer = window.dataLayer || [];</script>

    <!-- Add user details to the dataLayer if present on this page load - for google analytics & tag manager -->
    {% if user %}
      <script nonce="{{ cspNonce }}">window.dataLayer.push({
          'user': {
            'prison': '{{ user.activeCaseLoadId }}',
          },
        })</script>
    {% endif %}

    <script nonce="{{ cspNonce }}">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;var n=d.querySelector('[nonce]');
        n&&j.setAttribute('nonce',n.nonce||n.getAttribute('nonce'));f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ tagManagerContainerId }}');</script>
    <!-- End Google Tag Manager -->
  {% endif %}

  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
  <script src="/assets/js/jquery.min.js"></script>
  <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    nonce="{{ cspNonce }}"
    crossorigin="anonymous"
  ></script>
  <link
    href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css"
    rel="stylesheet"
    nonce="{{ cspNonce }}"
    crossorigin
  />

  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}

  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}

{% endblock %}

{% block pageTitle %}{{ pageTitle + ' - ' + applicationName if pageTitle else applicationName }}{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
{% endblock %}

{% block beforeContent %}
  {% if pageHasApiErrors %}
    <div class="hmpps-api-error-banner">
      <p>Sorry, there is a problem with the service</p>
      <p>Some information on this page may be unavailable. Try again later.</p>
    </div>
  {% endif %}

  {% if bannerText %}
    {% include "./banner.njk" %}
  {% endif %}

  {% if flashMessage %}
    <div class="{{ 'hmpps-flash-message hmpps-flash-message--'+flashMessage.type if flashMessage.type }}{{ ' hmpps-flash-message--at-anchor' if flashMessage.fieldName }}">
      <p role="alert">{{ flashMessage.text }}</p>
    </div>
  {% endif %}

  <div class="prisoner-profile-breadcrumbs govuk-!-display-none-print">

    {% if refererUrl %}
      <div class="prisoner-profile-breadcrumbs__back">
        <a href="{{ refererUrl }}" class="govuk-link govuk-link--no-visited-state" data-qa="referer-back-link">
          Back
        </a>
      </div>
    {% elseif user.backLink and not hideBackLink %}
      <div class="prisoner-profile-breadcrumbs__search">
        <a href="{{ user.backLink.url }}" class="govuk-link govuk-link--no-visited-state" data-qa="back-link">
          {{ user.backLink.text }}
        </a>
      </div>
    {% endif %}

    <div class="prisoner-profile-breadcrumbs__breadcrumbs">
    {{ govukBreadcrumbs({
        items: breadCrumbs | default([])
      }) }}
    </div>
  </div>
{% endblock %}

{% block bodyStart %}
  {% if tagManagerContainerId %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id={{ tagManagerContainerId }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
  <a id="top"></a>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>

  {# Javascript block for individual pages #}
  {% block pageScripts %}
  {% endblock %}

{% endblock %}

{% block footer %}
    {{ feComponents.footer | safe }}
{% endblock %}
