<div class="notification-banner-yellow">
  <p>
    <span class="govuk-!-font-weight-bold">You can now {{ youCanNowAction }} in DPS.</span>
    <a href="{{ moreInfoLink }}" class="govuk-link" target="_blank" rel="noopener noreferrer">Find out more</a> and
    <a href="{{ giveFeedbackLink }}" class="govuk-link" target="_blank" rel="noopener noreferrer">give feedback</a> (opens in a new tab)
  </p>
</div>
