<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "./actionsBlock/actionsBlock.njk" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "./moreInfoBlock/moreInfoBlock.njk" %}
            </div>
        </div> 
    </div>
</div>