{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "../editPage.njk" %}
{% block form %}
  <form method="post" novalidate="novalidate" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/> {% set dayErrorClass = ' govuk-input--error' if (errors | findError("dateOfBirth-day")) or (errors | findError("dateOfBirth")) else '' %}
    {% set monthErrorClass = ' govuk-input--error' if (errors | findError("dateOfBirth-month")) or (errors | findError("dateOfBirth")) else '' %}
    {% set yearErrorClass = ' govuk-input--error' if (errors | findError("dateOfBirth-year")) or (errors | findError("dateOfBirth")) else '' %}
    {{ govukDateInput({
      id: "dateOfBirth",
      namePrefix: "dateOfBirth",
      fieldset: {
        legend: {
          text: "Date of birth",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "For example, 31 8 1980"
      },
      items: [
        {
          name: "day",
          attributes: { maxlength: 2 },
          classes: "govuk-input--width-2" + dayErrorClass,
          value: formValues['dateOfBirth-day']
        },
        {
          name: "month",
          attributes: { maxlength: 2 },
          classes: "govuk-input--width-2" + monthErrorClass,
          value: formValues['dateOfBirth-month']
        },
        {
          name: "year",
          attributes: { maxlength: 4 },
          classes: "govuk-input--width-4" + yearErrorClass,
          value: formValues['dateOfBirth-year']
        }
      ],
      value: formValues.dateOfBirth,
      errorMessage: (errors | findError('dateOfBirth'))
        or (errors | findError('dateOfBirth-day'))
        or (errors | findError('dateOfBirth-month'))
        or (errors | findError('dateOfBirth-year'))
    }) }}
    {{ govukWarningText({
      text: warningText,
      iconFallbackText: "Warning",
      classes: "govuk-body-s"
    }) }}
    <div class="govuk-button-group">
      {{ govukButton({
          text: "Save",
          type: "submit",
          preventDoubleClick: true,
          attributes: { "data-qa": "edit-submit-button" }
      }) }}
      <a
        href="/prisoner/{{ miniBannerData.prisonerNumber }}/personal#personal-details"
        class="govuk-link govuk-link--no-visited-state"
        data-qa="edit-cancel-button">Cancel</a>
    </div>
  </form>
{% endblock %}