{% from "../../macros/conditionallyShow.njk" import conditionallyShow %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% if  prisonerIsTRN(prisonId) %}
        <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 hmpps-profile-banner-alert" data-qa="TRN-establishment-banner">
          <div class="govuk-grid-column-full">
            <p class="govuk-heading-m govuk-!-margin-bottom-2">
              This prisoner is being transferred
            </p>
            <p class="govuk-body">Some information may be hidden</p>
          </div>
        </div>
    {% elseif prisonerIsOut(prisonId) %}
        <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 hmpps-profile-banner-alert" data-qa="OUT-establishment-banner">
          <div class="govuk-grid-column-full">
            <p class="govuk-heading-m govuk-!-margin-bottom-2">
              This person has been released
            </p>
            <p class="govuk-body">Some information may be hidden</p>
          </div>
        </div>
    {% else %}
      {%- call conditionallyShow({condition: prisonerBelongsToUsersCaseLoad(prisonId, user.caseLoads) != true, id: 'outside-establishment-banner'}) -%}
        <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 hmpps-profile-banner-alert">
          <div class="govuk-grid-column-full">
            <p class="govuk-heading-m govuk-!-margin-bottom-2">
              This prisoner is not in your establishment
            </p>
            <p class="govuk-body">Some information may be hidden</p>
          </div>
        </div>
      {%- endcall -%}
    {% endif %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full hmpps-profile-banner-top">
        <a href="/prisoner/{{ prisonerNumber }}/image" class="hmpps-clickable-image" data-qa="prisoner-photo-link">
          <img
            class="hmpps-profile-photo"
            src="/api/prisoner/{{ prisonerNumber or photoType }}/image"
            alt="{{ prisonerName }}"
          />
        </a>
        <h2 class="govuk-heading-l hmpps-profile-prisoner-name">{{ prisonerName }}</h2>
        <div class="info">
          <p class="govuk-body govuk-!-font-size-24 hmpps-profile-prisoner-number" aria-label="Prisoner Number">
            {{ prisonerNumber }}
          </p>
          <div class="info__links">
            {% for link in  profileBannerTopLinks %}
              <div class="{{ link.classes }}">
                <h3 class="govuk-heading-s">{{ link.heading }}</h3>
                <a href="{{ link.url }}" aria-label="{{ link.hiddenLabel }}" class="govuk-link govuk-link--inverse"
                  >{{ link.info }}</a
                >
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
