{% macro caseNoteCard(caseNote, showAddMoreDetailsLink) %}
<div class="hmpps-case-note-card-list-item" role="listitem">
    <div class="hmpps-case-note-card-list-item__content">
        <div class="hmpps-case-note-card-list-item__metadata">{{ caseNote.creationDateTime | formatDateTime('long') }}</div>
        <div class="hmpps-case-note-card-list-item__header">
            <div class="hmpps-case-note-card-list-item__title">{{ caseNote.typeDescription }}: {{ caseNote.subTypeDescription }}</div>
        </div>
        <div class="hmpps-case-note-card-list-item__metadata"><span class='govuk-!-font-weight-bold'>Created by:</span> {{ caseNote.authorName }}</div>
        <pre class="hmpps-case-note-card-list-item__notes govuk-body">{{ caseNote.text }}</pre>
        {% if caseNote.printIncentiveWarningLink %}
            <div class="hmpps-case-note-card-list-item__notes govuk-body">
                <a class="govuk-link govuk-!-display-none-print" data-qa="print-slip-warning" href={{ caseNote.printIncentiveWarningLink }} target="_blank" rel="noopener noreferrer">
                    Print a copy of the incentive level warning
                </a>
            </div>
        {% endif %}
        {% if caseNote.printIncentiveEncouragementLink %}
            <div class="hmpps-case-note-card-list-item__notes govuk-body">
                <a class="govuk-link govuk-!-display-none-print" data-qa="print-slip-encouragement" href={{ caseNote.printIncentiveEncouragementLink }} target="_blank" rel="noopener noreferrer">
                    Print a copy of the incentive level encouragement
                </a>
            </div>
        {% endif %}
        <div class="hmpps-case-note-card-list-item__metadata"><span class='govuk-!-font-weight-bold'>Happened:</span> {{ caseNote.occurrenceDateTime | formatDateTime('long') }}</div>
        {% if caseNote.amendments.length %}
            <div class="hmpps-case-note-card-list-item__amendments-header">More details added:</div>
            {% for amendment in caseNote.amendments %}
                <div class="hmpps-case-note-card-list-item__amendment">
                    <pre class="hmpps-case-note-card-list-item__notes govuk-body">{{ amendment.additionalNoteText }}</pre>
                    <div class="hmpps-case-note-card-list-item__metadata"><span class='govuk-!-font-weight-bold'>Added:</span> {{ amendment.creationDateTime | formatDateTime('long') }} by {{ amendment.authorName }}</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="hmpps-case-note-card-list-item__link govuk-!-display-none-print">
        {% if showAddMoreDetailsLink %}
            <a href="{{ caseNote.addMoreLinkUrl }}" class="govuk-link govuk-link--no-visited-state" data-qa="case-notes-add-more-details-link">Add more details</a>
        {% endif %}
        {% if caseNote.deleteLinkUrl %}
            <a href="{{ caseNote.deleteLinkUrl }}" class="govuk-link govuk-link--no-visited-state" data-qa="delete-case-note-link">Delete case note</a>
        {% endif %}
    </div>
</div>
{% endmacro %}