{% macro alertCard(alert) %}
<div class="hmpps-alert-card-list-item" role="listitem">
    <div class="hmpps-alert-card-list-item__content">
        <div class="hmpps-alert-card-list-item__sub-title">{{ alert.alertTypeDescription }}</div>
        <div class="hmpps-alert-card-list-item__title">{{ alert.alertCodeDescription }}</div>
        <div class="hmpps-alert-card-list-item__notes">{{ alert.comment }}</div>
        <div class="hmpps-alert-card-list-item__metadata">Created: {{ alert.dateCreated | formatDate }} by {{ alert.addedByFullName }}</div>
        {% if not alert.active %}
        <div class="hmpps-alert-card-list-item__metadata">Closed: {{ alert.dateExpires | formatDate }} by {{ alert.expiredByFullName }}</div>
        {% endif %}
    </div>
    <div class="hmpps-alert-card-list-item__link">
        {% if alert.updateLinkUrl %}
        <a href="{{ alert.updateLinkUrl }}" class="govuk-link govuk-link--no-visited-state">Update or close</a>
        {% endif %}
    </div>
</div>
{% endmacro %}