{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "./courtCaseContent.njk" import courtCaseContent %}
{% set courtCasesSentenceDetailsId = "court-cases-sentence-details" if releaseDates | length else "court-cases-upcoming-appearances" %}

{%- call summaryCard({title: "Court cases, offences and sentences", id: courtCasesSentenceDetailsId }) -%}


<div class="govuk-accordion {% if courtCase.sentenceTerms.length > 0 %} .court-cases-sentence-details {% else %} .court-cases-upcoming-appearances {% endif %}" data-module="govuk-accordion"  id="accordion-with-summary-sections">
    {% if courtCaseData.length > 0%}
        {% for courtCaseAndOffence in courtCaseData %}
            {{ courtCaseContent(courtCaseAndOffence,loop.index) }}
        {% endfor %}
    {% else%}
    <p>There are no recorded court case, offences and sentence details for this prisoner.</p>
    {% endif %}
</div>
{%- endcall -%}