{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% macro courtCaseContent(courtCase) %}

<div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
          {{courtCase.courtName}}
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
        {{courtCase.sentenceDate}}
      </div>
    </div>
    <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
    <h3>Offences</h3>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        {% for offence in courtCase.offences %}
            <li>
                {{offence}}
            </li>
        {% endfor %}
    </ul>
    {% if courtCase.sentenceTerms.length > 0 %}
        <h3 class="govuk-!-margin-top-9">Sentences</h3>
        {% for sentence in courtCase.sentenceTerms %}
            <h4>{{ sentence.sentenceHeader}}</h4>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-static-padding-left-9">
                    {{ govukSummaryList({
                        rows: [
                            {
                                key: {
                                    text: "Type"
                                },
                                value: {
                                    text: sentence.sentenceTypeDescription
                                }
                            },
                            {
                                key: {
                                    text: "Start date"
                                },
                                value: {
                                    text: sentence.summaryDetailRows[0].value
                                }
                            },
                            {
                                key: {
                                    text: "Length"
                                },
                                value: {
                                    text: sentence.summaryDetailRows[1].value
                                }
                            }
                        ]
                    }) }}
                </div>
            </div>    
        {% endfor %}
    {% else%}
        <h3 class="govuk-!-margin-top-9">Next court appearance</h3>
        <p>{% if courtCase.courtHearings.length > 0 %}{{courtCase.courtHearings[0].dateTime | formatDate}}{% else%} There are no upcoming court hearings{% endif %}</p>
    {% endif %}

    </div>
</div>
{% endmacro %}