{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% macro courtCaseContent(courtCase,index) %}

{% if (courtCase.sentences.length > 0) or (courtCase.sentenced == false and courtCase.courtDateResults.length > 0) %}
    {% set accordionClass = 'govuk-accordion__section' %}
{% endif %}

<div class="{{ accordionClass }}">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <div class="govuk-accordion__section-button govuk-!-font-size-36 govuk-!-static-margin-top-2 govuk-!-static-padding-top-5" id="accordion-with-summary-sections-heading-{{index}}">
          <span class="govuk-!-static-margin-bottom-2 hmpps-display-block govuk-!-static-padding-bottom-1">Court case {{index}}</span>
        </div>
      </h3>
      <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-{{index}}">
        <div class="hmpps-grid-container">
            <div class="grid-item"><h4 class="govuk-!-static-margin-0 govuk-!-font-size-19">Court case number</h4></div>
            <div class="grid-item">
                <p class="govuk-!-font-size-19">
                    {% if courtCase.caseInfoNumber %}
                        {{ courtCase.caseInfoNumber }}
                    {% elseif courtCase.charge.courtCaseRef %}
                        {{ courtCase.charge.courtCaseRef }}
                    {% else %}
                        Not entered
                    {% endif %}
                </p>
            </div>

            {% if courtCase.sentenced == false and  courtCase.nextCourtAppearance.dateTime %}
                <div class="grid-item"><h4 class="govuk-!-static-margin-0 govuk-!-font-size-19">Next court appearance</h4></div>
                <div class="grid-item">
                    <p class="govuk-!-font-size-19">
                        {{ courtCase.nextCourtAppearance.dateTime | formatDate }}
                    </p>
                </div>
            {% endif %}
        </div>
        <div class="hmpps-grid-container">
            <div class="grid-item"><h4 class="govuk-!-static-margin-0 govuk-!-font-size-19">Court name</h4></div>
            <div class="grid-item">
                <p class="govuk-!-font-size-19">
                    {% if courtCase.court.description %}
                        {{ courtCase.court.description }}
                    {% elseif courtCase.courtName %}
                        {{ courtCase.courtName }}
                    {% elseif courtCase.charge.courtLocation %}
                        {{ courtCase.charge.courtLocation }}
                    {% endif %}
                </p>
            </div>
        </div>
      </div>
    </div>
    {% if (courtCase.sentences.length > 0) or (courtCase.sentenced == false and courtCase.courtDateResults.length > 0) %}
    <div id="accordion-with-summary-sections-content-{{index}}" class="govuk-accordion__section-content govuk-!-static-padding-bottom-0" aria-labelledby="accordion-with-summary-sections-heading-{{index}}">
    {% if courtCase.sentences.length > 0 %}
        {% for sentence in courtCase.sentences %}

            {% if sentence.sentenced === true %}

                {% for offence in sentence.offences %}
                    <div class="govuk-grid-row hmpps-grey-details-card govuk-!-static-margin-bottom-7">
                        <div class="govuk-grid-column-full govuk-!-static-padding-left-5">
                            <div><p class="hmpps-secondary-text govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-6 govuk-!-font-size-16">{{ sentence.sentenceHeader}}</p></div>

                            <div class="govuk-!-static-margin-bottom-5">
                                <p class="govuk-!-font-weight-bold govuk-!-static-margin-bottom-0">{{offence.offenceDescription}}</p>
                                {% if offence.offenceDate and offence.offenceRangeDate %}
                                    <p>Committed from {{offence.offenceDate | formatDate}} to {{offence.offenceRangeDate | formatDate}}</p>
                                {% elseif offence.offenceDate %}
                                    <p>Committed on {{offence.offenceDate | formatDate}}</p>
                                {% endif %}
                            </div>
                            <dl class="govuk-summary-list govuk-summary-list--no-border">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        CJA Code
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ offence.statuteCode }}
                                    </dd>
                                </div>                        
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Type
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ sentence.sentenceTypeDescription }}
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Sentence date
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ sentence.sentenceStartDate }}
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Length
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ sentence.sentenceLength }}
                                    </dd>
                                </div>
                                
                                {% if (sentence.concurrentConsecutive) and (sentence.concurrentConsecutive !== null) %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Concurrent or consecutive
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                        {{ sentence.concurrentConsecutive }}
                                        </dd>
                                    </div>
                                {% endif %}
                                {% if (sentence.fineAmountFormat) and (sentence.fineAmountFormat !== null) %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Fine
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            {{ sentence.fineAmountFormat }}
                                        </dd>
                                    </div>
                                {% endif %}
                                {% if (sentence.sentenceLicence) and (sentence.sentenceLicence !== null)  %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Licence
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            {{ sentence.sentenceLicence }}
                                        </dd>
                                    </div>   
                                {% endif %}                
                            </dl>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}   
        {% endfor %}

    {% endif %}

    {% if courtCase.sentenced == false and courtCase.courtDateResults.length > 0 %}
        {% for count in courtCase.courtDateResults%}
            <div class="govuk-grid-row hmpps-grey-details-card govuk-!-static-margin-bottom-7">
                <div class="govuk-grid-column-full govuk-!-static-padding-left-5">
                    <div><p class="hmpps-secondary-text govuk-!-static-margin-bottom-2 govuk-!-static-margin-top-6 govuk-!-font-size-16">{{ courtCase.sentenceHeader }}</p></div>

                    <div class="govuk-!-static-margin-bottom-5">
                        <p class="govuk-!-font-weight-bold govuk-!-static-margin-bottom-0">{{count.charge.offenceDescription}}</p>
                        {% if count.charge.offenceDate and count.charge.offenceEndDate %}
                            <p>Committed from {{count.charge.offenceEndDate | formatDate}} to {{count.charge.offenceDate | formatDate}}</p>
                        {% elseif count.charge.offenceDate %}
                            <p>Committed on {{count.charge.offenceDate | formatDate}}</p>
                        {% endif %}
                    </div>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Status
                            </dt>
                            <dd class="govuk-summary-list__value">
                            {{count.charge.resultDescription}}
                            </dd>
                        </div>                        
                    </dl>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    </div>
    {% endif %}
</div>
{% endmacro %}