{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set dateRows = releaseDates | releaseDatesToSummaryRows %}

{%- call summaryCard({title: "Release dates", id: "release-dates"}) -%}
    {% if dateRows.length %}
        {{ govukSummaryList({
            rows: releaseDates | releaseDatesToSummaryRows
        }) }}
    {% else %}
        <p>There are no recorded release dates for this prisoner.</p>
    {% endif%}
{%- endcall -%}