{% from "macros/filteredListPage.njk" import hmppsFilteredListPage %}
{% extends "../index.njk" %}
{% block body %}
    {% set title = "Case notes" %}
    {% set hasContent = (hasCaseNotes) or (errors.length > 0) %}
    {% set emptyStateText = fullName + " does not have any case notes" %}
    {% set actionButton = { text: 'Add case note', iconName: 'add-case-note', id: 'add-case-note-action-button', url: addCaseNoteLinkUrl } if isGranted(CaseNotesPermission.edit, prisonerPermissions) %}

    {% set filterHtml %}
        {% include 'partials/caseNotesPage/caseNotesFilter.njk' %}
    {% endset %}

    {% call hmppsFilteredListPage({
        title: title,
        titleId: "caseNotes",
        serviceUnavailable: caseNotesApiUnavailable,
        serviceUnavailableMessage: "Case notes",
        actionButton: actionButton,
        hasContent: hasContent,
        emptyStateText: emptyStateText,
        emptyStateDataQa: "case-notes-empty-state",
        filterHtml: filterHtml,
        errors: errors
    }) %}
        {% include 'partials/caseNotesPage/caseNotesList.njk' %}
    {% endcall %}
{% endblock %}
