{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../../../macros/summaryCardMacro.njk" import summaryCard %}
{%- call summaryCard({title: "Offences and release dates"}) -%}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p data-qa="overview-main-offence" class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-1">Main offence</p>
        <p>
            {{offencesOverview.mainOffenceDescription}}
        </p>
        <hr class="govuk-section-break govuk-section-break--visible" />
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-4 govuk-!-margin-bottom-1">Imprisonment status</p>
        <p> {{ offencesOverview.imprisonmentStatusDescription}}</p>
        {% if offencesOverview.nextCourtAppearance.dateTime %}
            <hr class="govuk-section-break govuk-section-break--visible" />
            <p data-qa="overview-next-court-appearance" class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-4 govuk-!-margin-bottom-1">Next court appearance</p>
            <p> {{ offencesOverview.nextCourtAppearance.dateTime | formatDate }}</p>
        {% endif %}
        {% if offencesOverview.confirmedReleaseDate %}
            <hr class="govuk-section-break govuk-section-break--visible" />
            <p data-qa="overview-confirmed-release-label" class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-4 govuk-!-margin-bottom-1">Confirmed release date</p>
            <p data-qa="overview-confirmed-release"> {{ offencesOverview.confirmedReleaseDate | formatDate}}</p>
            {{ govukInsetText({
                text: "This person is currently due to be released from prison on this date."
            }) }}
        {% elseif offencesOverview.fullStatus.legalStatus !== "REMAND" and offencesOverview.conditionalReleaseDate %}
            <hr class="govuk-section-break govuk-section-break--visible" />
            <p data-qa="overview-conditional-release-label" class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-4 govuk-!-margin-bottom-1">Conditional release date (CRD)</p>
            <p data-qa="overview-conditional-release"> {{ offencesOverview.conditionalReleaseDate | formatDate}}</p>
            {{ govukInsetText({
                text: "This person may be released earlier if they are approved for release under another scheme, such as Home Detention Curfew. Any ongoing court cases may also change their release date."
            }) }}
        {% endif %}
        <hr class="govuk-section-break govuk-section-break--visible" />
        <p class="govuk-body govuk-!-margin-top-4">
            <a data-qa="overview-offences-view-all" href="/prisoner/{{offencesOverview.fullStatus.nomsId}}/offences" class="govuk-link govuk-link--no-visited-state govuk-!-display-none-print">
            {% if offencesOverview.fullStatus.legalStatus == "REMAND"%}
             Court cases and offences
            {% else %}
             Offences, sentences and release dates
            {% endif %}
            </a>
        </p>
      </div>
    </div>
{%- endcall -%}