{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from 'components/datepicker/macro.njk' import hmppsDatepicker %}
{% from 'components/miniBanner/miniBanner.njk' import miniBanner %}
{% extends "../index.njk" %}
{% set pageTitle = 'Create an alert' %}
{% block body %}

    {% if errors.length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors,
            attributes: { 'data-qa-errors': true }
        })}}
    {% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 id="addCaseNote">Add an alert</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ miniBanner(miniBannerData) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate="novalidate" autocomplete="off">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <input type="hidden" name="existingAlerts" value="{{ formValues.existingAlerts }}" />
            {{ govukSelect({
                id: "alertType",
                name: "alertType",
                label: {
                    text: "Type of alert",
                    classes: "govuk-!-font-weight-bold"
                },
                errorMessage: errors | findError('alertType'),
                items: alertTypes | addDefaultSelectedValue('Choose alert type') | setSelected(formValues.alertType)
            }) }}

            {{ govukSelect({
                id: "alertCode",
                name: "alertCode",
                label: {
                    text: "Alert",
                    classes: "govuk-!-font-weight-bold"
                },
                errorMessage: errors | findError('alertCode'),
                items: alertCodes | addDefaultSelectedValue('Choose alert code') | setSelected(formValues.alertCode)
            }) }}

            {{ govukCharacterCount({
                name: "description",
                id: "description",
                maxlength: 4000,
                rows: 10,
                value: formValues.description,
                errorMessage: errors | findError('description'),
                label: {
                    text: "Why are you creating this alert?",
                    classes: "govuk-!-font-weight-bold govuk-!-margin-top-8"
                }
            }) }}

            {{ hmppsDatepicker({
                id: "activeFrom",
                name: "activeFrom",
                label: {
                    text: "Alert start date",
                    classes: "govuk-!-font-weight-bold"
                },
                errorMessage: errors | findError('activeFrom'),
                classes: 'hmpps-datepicker--fixed-width',
                value: formValues.activeFrom,
                minDate: todayMinus8,
                maxDate: today
            }) }}

            {{ hmppsDatepicker({
                id: "activeTo",
                name: "activeTo",
                label: {
                    text: "Alert end date (optional)",
                    classes: "govuk-!-font-weight-bold"
                },
                errorMessage: errors | findError('activeTo'),
                classes: 'hmpps-datepicker--fixed-width',
                value: formValues.activeTo,
                minDate: todayMinus8
            }) }}

            <div class="govuk-button-group govuk-!-display-none-print">
                {{ govukButton({
                    text: "Save",
                    type: "submit",
                    preventDoubleClick: true,
                    attributes: { "data-qa": "add-alert-submit-button" }
                }) }}
                {{ govukButton({
                    text: "Cancel",
                    href: refererUrl,
                    classes: "govuk-button--secondary",
                    attributes: { "data-qa": "add-alert-cancel-button" }
                }) }}
            </div>
        </form>

    </div>
</div>

{% endblock %}
{% block pageScripts %}
    <script id="typeCodeMap" type="application/json">{{ typeCodeMap | dump | safe }}</script>
    <script src="/assets/js/alerts.js"></script>
{% endblock %}