{% from "macros/hmppsTabs.njk" import hmppsTabs %}
{% from "macros/filteredListPage.njk" import hmppsFilteredListPage %}
{% extends "../index.njk" %}
{% block body %}
    {% set title = 'Alerts' if alertSummaryData.apiUnavailable else (('Active' if activeTab else 'Inactive') + ' alerts') %}
    {% set hasContent = (activeTab and activeAlertCount) or (not activeTab and inactiveAlertCount) %}
    {% set emptyStateText = prisonerName.full + " does not have any " + ('active' if activeTab else 'inactive') + " alerts." %}
    {% set actionButton = { text: 'Add alert', iconName: 'add-alert', id: 'add-alert-action-button', url: addAlertLinkUrl } if addAlertLinkUrl %}

    {% set afterTitleHtml %}
        {{ hmppsTabs({
            currentUrlPath: currentUrlPath,
            testIdPrefix: 'alerts-tabs-',
            tabs: [
                { text: 'Active ('+activeAlertCount+' alerts)', url: '/prisoner/' + prisonerNumber + '/alerts/active', visible: true, testId: 'active' },
                { text: 'Inactive ('+inactiveAlertCount+' alerts)', url: '/prisoner/' + prisonerNumber + '/alerts/inactive', visible: true, testId: 'inactive' }
            ]
        }) }}
    {% endset %}

    {% set filterHtml %}
        {% include 'partials/alertsPage/alertsFilter.njk' %}
    {% endset %}

    {% call hmppsFilteredListPage({
        title: title,
        titleId: "alerts",
        serviceUnavailable: alertSummaryData.apiUnavailable,
        serviceUnavailableMessage: "Alerts",
        afterTitleHtml: afterTitleHtml,
        actionButton: actionButton,
        hasContent: hasContent,
        emptyStateText: emptyStateText,
        emptyStateDataQa: "alerts-empty-state",
        filterHtml: filterHtml,
        errors: errors
    }) %}
        {% include 'partials/alertsPage/alertsList.njk' %}
    {% endcall %}
{% endblock %}
