{% extends "../../partials/layout.njk" %}

{% set mainClasses = "govuk-body" %}
{% block content %}
    {% include "./moneyHeader.njk" %}
    {% block body %}{% endblock %}
    <a class="govuk-link govuk-link--no-visited-state govuk-!-display-none-print" href="/prisoner/{{ prisonerNumber }}" data-qa="money-back-link">Return to prisoner’s profile</a>
{% endblock %}
