{% from "../../../macros/summaryCardMacro.njk" import summaryCard %}
{% macro miniSummaryMacro(miniSummary) %}
  {%- call summaryCard({title: miniSummary.data.heading}) -%}
    <div class="{{ miniSummary.classes }} {{ 'hmpps-summary-card__no-header' if not miniSummary.data.heading }}">
      <div class="govuk-grid-column-full">
        {% if miniSummary.data.topLabel %}
          <p class="govuk-body card-label">
            {{ miniSummary.data.topLabel }}
          </p>
        {% endif %}
        {% if miniSummary.data.topContent !== undefined %}
          <p
            class="govuk-body hmpps-mini-card__{{ miniSummary.data.topClass }} {{ 'hmpps-mini-card__filler' if miniSummary.data.topClass === 'small' }}"
          >
            {{ miniSummary.data.topContent if miniSummary.data.topContent !== undefined else '&nbsp;' | safe }}
          </p>
        {% endif %}
        <p class="govuk-body card-label">
          {{ miniSummary.data.bottomLabel }}
        </p>
        <p
          class="govuk-body hmpps-mini-card__{{ miniSummary.data.bottomClass }}"
        >
            {% if miniSummary.data.bottomContentLine1Href %}
                <a href="{{ miniSummary.data.bottomContentLine1Href }}" class="govuk-link govuk-link--no-visited-state">
                    {{ miniSummary.data.bottomContentLine1 }}
                </a>
            {% else %}
                {{ miniSummary.data.bottomContentLine1 }}
            {% endif %}
        </p>
        {% if miniSummary.data.bottomContentLine2 !== undefined %}
        <p
          class="govuk-body hmpps-mini-card__{{ miniSummary.data.bottomClass }}"
        >
            {{ miniSummary.data.bottomContentLine2 }}
        </p>
        {% endif %}
        {% if miniSummary.data.bottomContentLine3 !== undefined %}
          <p class="govuk-body hmpps-mini-card__sub-text">
            {{ miniSummary.data.bottomContentLine3 }}
          </p>
        {%- endif -%}
          {% if miniSummary.data.bottomContentError !== undefined %}
              <p class="govuk-body hmpps-mini-card__error">
                  {{ miniSummary.data.bottomContentError }}
              </p>
          {%- endif -%}
        <p class="govuk-body hmpps-mini-card__link">
          <a href="{{ miniSummary.data.linkHref }}" class="govuk-link govuk-link--no-visited-state">
            {{ miniSummary.data.linkLabel }}
          </a>
        </p>
      </div>
    </div>
  {%- endcall -%}
{% endmacro %}
