{% from "../../../macros/summaryCardMacro.njk" import summaryCard %}
{% macro miniSummaryMacro(miniSummary) %}
  {%- call summaryCard({title: miniSummary.heading}) -%}
    <div class="govuk-grid-row card-body {{ 'hmpps-summary-card__no-header' if not miniSummary.heading }}">
      <div class="govuk-grid-column-full">
        {% if miniSummary.topLabel %}
          <p class="govuk-body card-label">
            {{ miniSummary.topLabel }}
          </p>
        {% endif %}
        {% if miniSummary.topContent !== undefined %}
          <p class="govuk-body hmpps-mini-card__{{ miniSummary.topClass }} {{ 'hmpps-mini-card__filler' if miniSummary.topClass === 'small' }}">
            {{ miniSummary.topContent if miniSummary.topContent !== undefined else '&nbsp;' | safe }}
          </p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-3">
        {% endif %}
        <p class="govuk-body card-label">
          {{ miniSummary.bottomLabel }}
        </p>
        <p class="govuk-body hmpps-mini-card__{{ miniSummary.bottomClass }}">
            {% if miniSummary.bottomContentLine1Href %}
                <a href="{{ miniSummary.bottomContentLine1Href }}" class="govuk-link govuk-link--no-visited-state">
                    {{ miniSummary.bottomContentLine1 }}
                </a>
            {% else %}
                {{ miniSummary.bottomContentLine1 }}
            {% endif %}
        </p>
        {% if miniSummary.bottomContentLine2 !== undefined %}
        <p class="govuk-body hmpps-mini-card__{{ miniSummary.bottomClass }}">
            {{ miniSummary.bottomContentLine2 }}
        </p>
        {% endif %}
        {% if miniSummary.bottomContentLine3 !== undefined %}
          <p class="govuk-body hmpps-mini-card__sub-text">
            {{ miniSummary.bottomContentLine3 }}
          </p>
        {%- endif -%}
          {% if miniSummary.bottomContentError !== undefined %}
              <p class="govuk-body hmpps-mini-card__error">
                  {{ miniSummary.bottomContentError }}
              </p>
          {%- endif -%}
        <p class="govuk-body hmpps-mini-card__link">
          <a href="{{ miniSummary.linkHref }}" class="govuk-link govuk-link--no-visited-state govuk-!-display-none-print">
            {{ miniSummary.linkLabel }}
          </a>
        </p>
      </div>
    </div>
  {%- endcall -%}
{% endmacro %}
