{% from "./macro.njk" import  miniSummaryMacro %}

{% macro miniSummaryListMacro(miniSummaryGroup) %}
    <div class="govuk-grid-row hmpps-miniSummaryWrapper" data-qa="mini-summary-list-macro">
        {% for miniSummary in miniSummaryGroup %}
            <div class="govuk-grid-column-one-third">
                {{ miniSummaryMacro(miniSummary) }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}