{% if visitsSummary and isGranted(PrisonerVisitsAndVisitorsPermission.read, prisonerPermissions) %}
  <div class="govuk-grid-column-one-third">
    {{ miniCard(visitsSummary | toVisitsMiniSummary(prisonerNumber)) }}
  </div>
{% endif %}
