{% extends "../edit/editPage.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% block form %}
  <span class="govuk-caption-l">Record UK military service information</span>
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <form method="post" novalidate="novalidate" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/> {% set monthErrorClass = ' govuk-input--error' if (errors | findError("endDate-month")) or (errors | findError("endDate")) else '' %}
    {% set yearErrorClass = ' govuk-input--error' if (errors | findError("endDate-year")) or (errors | findError("endDate")) else '' %}
    {{ govukDateInput({
      id: "endDate",
      namePrefix: "endDate",
      fieldset: {
        legend: {
          text: "When did they leave the armed forces?",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 10 2021."
      },
      items: [
        {
          name: "month",
          attributes: { maxlength: 2 },
          classes: "govuk-input--width-2" + monthErrorClass,
          value: formValues['endDate-month']
        },
        {
          name: "year",
          attributes: { maxlength: 4 },
          classes: "govuk-input--width-4" + yearErrorClass,
          value: formValues['endDate-year']
        }
      ],
      value: formValues.endDate,
      errorMessage: (errors | findError('endDate')) or (errors | findError('endDate-month')) or (errors | findError('endDate-year'))
    }) }}
    {{ govukInput({
      label: {
        text: 'Discharge location',
        classes: 'govuk-label--s'
      },
      id: 'dischargeLocation',
      name: 'dischargeLocation',
      value: formValues.dischargeLocation,
      classes: 'govuk-input--width-30',
      errorMessage: errors | findError('dischargeLocation')
    }) }}
    {{ govukRadios({
      fieldset: {
        legend: {
          text: "Discharge reason",
          classes: "govuk-fieldset__legend--s"
        }
      },
      idPrefix: "militaryDischargeCode",
      name: "militaryDischargeCode",
      items: dischargeOptions,
      errorMessage: errors | findError('militaryDischargeCode')
    }) }}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save and return to profile",
        type: "submit",
        preventDoubleClick: true,
        attributes: { "data-qa": "save-and-return-submit-button" }
      }) }}
      <a
        href="/prisoner/{{ prisonerNumber }}/personal#military-discharge"
        class="govuk-link govuk-link--no-visited-state"
        data-qa="cancel-button">Cancel</a>
    </div>
  </form>
{% endblock %}