{% extends "../../partials/layout.njk" %}
{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from 'components/miniBanner/miniBanner.njk' import miniBanner %}

{% set hideBackLink = true %}
{% set prisonerNumber = miniBannerData.prisonerNumber %}
{%
  set breadCrumbs = [
      {
          text: 'Digital Prison Services',
          href:  "/" | prependBaseUrl
      },
      {
          text: miniBannerData.prisonerName,
          href: "/prisoner/" + prisonerNumber
      },
      {
          text: 'Personal',
          href: "/prisoner/" + prisonerNumber + "/personal"
      }
  ]
%}
{% set mainClasses = 'govuk-body' %}

{% block content %}

  {% block body %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">{{ miniBanner(miniBannerData) }}</div>
    </div>

    {% if errors.length > 0 %}
      {{
        govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors,
            attributes: { 'data-qa-errors': true },
            classes: 'govuk-!-margin-bottom-6'
        })
      }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">Record UK military service information</span>
        <h1 class="govuk-heading-l">{{ title }}</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <form method="post" novalidate="novalidate" autocomplete="off">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            {% set monthErrorClass = ' govuk-input--error' if (errors | findError("endDate-month")) or (errors | findError("endDate")) else '' %}
            {% set yearErrorClass = ' govuk-input--error' if (errors | findError("endDate-year")) or (errors | findError("endDate")) else '' %}

            {{ govukDateInput({
                id: "endDate",
                namePrefix: "endDate",
                fieldset: {
                    legend: {
                        text: "When did they leave the armed forces?",
                        classes: "govuk-fieldset__legend--s"
                    }
                },
                hint: {
                    text: "For example, 10 2021."
                },
                items: [
                    {
                        name: "month",
                        attributes: { maxlength: 2 },
                        classes: "govuk-input--width-2" + monthErrorClass,
                        value: formValues['endDate-month']
                    },
                    {
                        name: "year",
                        attributes: { maxlength: 4 },
                        classes: "govuk-input--width-4" + yearErrorClass,
                        value: formValues['endDate-year']
                    }
                ],
                value: formValues.endDate,
                errorMessage: (errors | findError('endDate')) or (errors | findError('endDate-month')) or (errors | findError('endDate-year'))
            }) }}

            {{
            govukInput({
                label: {
                    text: 'Discharge location',
                    classes: 'govuk-label--s'
                },
                id: 'dischargeLocation',
                name: 'dischargeLocation',
                value: formValues.dischargeLocation,
                classes: 'govuk-input--width-30',
                errorMessage: errors | findError('dischargeLocation')
            })
            }}

            {{
            govukRadios({
                fieldset: {
                    legend: {
                        text: "Discharge reason",
                        classes: "govuk-fieldset__legend--s"
                    }
                },
                idPrefix: "militaryDischargeCode",
                name: "militaryDischargeCode",
                items: dischargeOptions,
                errorMessage: errors | findError('militaryDischargeCode')
            })
            }}

            <div class="govuk-button-group">
              {{
                govukButton({
                    text: "Save and return to profile",
                    type: "submit",
                    preventDoubleClick: true,
                    attributes: { "data-qa": "save-and-return-submit-button" }
                })
              }}
            <a
              href="/prisoner/{{ prisonerNumber }}/personal#military-service-information"
              class="govuk-link govuk-link--no-visited-state"
              data-qa="cancel-button"
              >Cancel</a
            >
          </div>
        </form>
      </div>
    </div>
  {% endblock %}
{% endblock %}
