{% extends "../edit/editPage.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% block form %}
  <span class="govuk-caption-l">Record UK military service information</span>
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <form method="post" novalidate="novalidate" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
      {{ govukRadios({
        idPrefix: "disciplinaryActionCode",
        name: "disciplinaryActionCode",
        items: disciplinaryActionOptions,
        errorMessage: errors | findError('disciplinaryActionCode')
      }) }}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save and return to profile",
        type: "submit",
        preventDoubleClick: true,
        attributes: { "data-qa": "save-and-return-submit-button" }
      }) }}
      {{ govukButton({
        text: "Save and continue to discharge details",
        type: "submit",
        classes: "govuk-button--secondary",
        preventDoubleClick: true,
        attributes: { name: "action", value: "continue", "data-qa": "save-and-continue-submit-button" }
      }) }}
      <a
        href="/prisoner/{{ prisonerNumber }}/personal#military-service-information"
        class="govuk-link govuk-link--no-visited-state"
        data-qa="cancel-button">Cancel</a>
    </div>
  </form>
{% endblock %}