.hmpps-secondary-text {
  color: govuk-colour('dark-grey');
}

.hmpps-red-text {
  color: govuk-colour('red');
}

.hmpps-green-text {
  color: govuk-colour('green');
}

.hmpps-dark-grey-font {
  color: govuk-colour('dark-grey');
}

.hmpps-white-font {
  color: govuk-colour('white');
}

.hmpps-font-weight-normal dt {
  font-weight: normal;
}

pre {
  white-space: pre-wrap;
}

pre, p {
  word-wrap: break-word;
}
