{% from "../../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- call summaryCard({title: "Alerts and security"}) -%}

<dl class="govuk-summary-list" data-qa="overview-alerts-summary">
    <div class="govuk-summary-list__row">
        <div class="govuk-!-padding-bottom-3 govuk-!-padding-top-2">
            <dt class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Active alerts</dt>
            <dd class="govuk-!-margin-left-0 govuk-!-margin-bottom-2" data-qa="overview-active-alerts" >{{ alertsSummary.activeAlertCount }}</dd>
            <dd class="govuk-!-margin-left-0"><a href="/prisoner/{{ prisonerNumber }}/alerts/active" class="govuk-link govuk-link--no-visited-state">Alerts</a></dd>
        </div>
    </div>
    <div class="govuk-summary-list__row--no-border">
        <div class="govuk-!-padding-top-3">
            <dt class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Non-associations in {{ prisonName }}</dt>
            <dd class="govuk-!-margin-left-0" data-qa="overview-non-association-count">{{ alertsSummary.nonAssociationsCount }}</dd>
            {% if alertsSummary.showNonAssociationsLink %}
                <dd class="govuk-!-margin-left-0"><a href="{{ alertsSummary.nonAssociationsUrl }}" class="govuk-link govuk-link--no-visited-state">Non-associations</a></dd>
            {% endif %}
        </div>
    </div>
</dl>

{%- endcall -%}