{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div role="list">
            {% for alert in alerts %}
                <div class="alert-details" role="listitem">
                    <div class="alert-details__content">
                        <div class="alert-details__sub-title">{{ alert.alertTypeDescription }}</div>
                        <h2 class="alert-details__title">{{ alert.alertCodeDescription }}</h2>
                        <pre class="alert-details__notes govuk-body">{{ alert.comment }}</pre>
                        <div class="alert-details__metadata"><span>Created:</span> {{ alert.dateCreated | formatDate }} {% if alert.addedByFullName %} by {{ alert.addedByFullName }} {% endif %}</div>
                        {% if not alert.active %}
                            <div class="alert-details__metadata"><span>Closed:</span> {{ alert.dateExpires | formatDate }} {% if alert.expiredByFullName %} by {{ alert.expiredByFullName }} {% endif %}</div>
                        {% endif %}
                    </div>
                    <div class="alert-details__link">
                        {% if alert.updateLinkUrl %}
                            <a href="{{ alert.updateLinkUrl }}" class="govuk-link govuk-link--no-visited-state">Update or close</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-button-group">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-modal-hide data-qa="alert-details-close-button">
                Close
            </button>
            <a href="{{ allAlertsUrl }}" class="govuk-link govuk-link--no-visited-state" data-qa="alert-details-all-alerts-link">All alerts</a>
        </div>
    </div>
</div>
