@page {
  margin: 0;
}

@media screen {
  .print-only {
    display: none;
  }
}

@include govuk-media-query($media-type: print) {
  @page {
    margin-top: 1.4cm;
    margin-bottom: 1.4cm;
  }

  // govuk-frontend overrides
  .govuk-template {
    background-color: govuk-colour('white');
  }

  .govuk-heading-l {
    font-size: 19pt;
  }

  .govuk-heading-m {
    font-size: 16pt;
  }

  .govuk-heading-s {
    font-size: 14pt;
  }

  .govuk-body-l {
    font-size: 12pt;
  }

  .printed-page {
    background: none;
  }

  .govuk-table {
    font-size: 10pt;

    // Remove styling from MOJ sortable table colum headers
    [aria-sort] button {
      color: inherit;

      &:before,
      &:after {
        content: '';
      }
    }
  }

  .govuk-link,
  .hmpps-clickable-image {
    text-decoration: none;

    &:link,
    &:visited {
      color: $govuk-text-colour;
    }

    // Remove url from links in printed view within a table
    &[href^="/"], &[href^="http://"], &[href^="https://"] {
      &::after {
        content: '';
      }
    }
  }

  .hmpps-summary-card,
  .hmpps-case-note-card-list-item,
  .hmpps-alert-card-list-item,
  .csra-list-item {
    break-inside: avoid;
  }

  .govuk-accordion__controls,
  .govuk-accordion__section-toggle,
  .hmpps-datepicker-button {
    display: none !important;
  }

  .hmpps-full-width-print {
    width: 100% !important;
    max-width: none !important;
  }

  details:not([open]) {
    display: none;
  }

  textarea {
    field-sizing: content;
  }
}
