$govuk-global-styles: true;
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "node_modules/govuk-frontend/dist/govuk/base";
@import "node_modules/govuk-frontend/dist/govuk/core";
@import "node_modules/govuk-frontend/dist/govuk/objects";
@import "node_modules/govuk-frontend/dist/govuk/components";
@import "node_modules/govuk-frontend/dist/govuk/utilities";
@import "node_modules/govuk-frontend/dist/govuk/overrides";
@import 'moj/all';

@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer';
@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar';

@import 'node_modules/@ministryofjustice/hmpps-connect-dps-shared-items/dist/assets/scss/all';

@import 'server/views/components/catAPrisonerTag/catAPrisonerTag';
@import 'server/views/components/fileUploadWithPreview/fileUploadWithPreview';
@import 'server/views/components/miniBanner/miniBanner';
@import 'server/views/components/miniCard/miniCard';
@import 'server/views/components/modal/modal';
@import 'server/views/components/scheduledEvents/scheduledEvents';
@import 'server/views/components/timePicker/timePicker';

@import './components/actions-block';
@import './components/add-another-button';
@import './components/alerts';
@import './components/autocomplete';
@import './components/address-autosuggest';
@import './components/contact';
@import './components/courtCasesAndOffences';
@import './components/date-picker';
@import './components/flash-message';
@import './components/hmpps-action-button';
@import './components/hmpps-back-to-top';
@import './components/hmpps-side-filter';
@import './components/hmpps-sort-selector';
@import './components/hmpps-open-close-all';
@import './components/miniSummary';
@import './components/more-info-block';
@import './components/movement-slip';
@import './components/api-error';
@import './components/pagination';
@import './components/profile-banner';
@import './components/property';
@import './components/sidebar';
@import './components/status';
@import './components/summary-card';
@import './components/tags';
@import './components/xrays';
@import './components/personal-distinguishing-marks';
@import './components/new-distinguishing-mark';
@import './components/photo-list';
@import './components/photo-edit';
@import './components/image-cropper';
@import './components/image-capture';

@import './pages/add-appointment';
@import './pages/add-case-note';
@import './pages/addresses';
@import './pages/appointment-confirmation';
@import './pages/alerts';
@import './pages/belief-history';
@import './pages/case-notes';
@import './pages/csra';
@import './pages/diet-and-food-allergies';
@import './pages/distinguishing-marks';
@import './pages/edit-religion';
@import './pages/languages';
@import './pages/money';
@import './pages/name-change';
@import './pages/overview';
@import './pages/past-care-needs';
@import './pages/personal';
@import './pages/work-and-skills';
@import './pages/prisoner-schedule';
@import './pages/location-details';
@import './pages/profile-photo';
@import './local';
@import './helpers';
@import './print';
@import './typography';
