$govuk-global-styles: true;
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/actions-block';
@import './components/alerts';
@import './components/contact';
@import './components/date-picker';
@import './components/feedback-banner';
@import './components/header-bar';
@import './components/hmpps-action-button';
@import './components/hmpps-back-to-top';
@import './components/hmpps-side-filter';
@import './components/hmpps-sort-selector';
@import './components/miniSummary';
@import './components/more-info-block';
@import './components/pagination';
@import './components/property';
@import './components/sidebar';
@import './components/status';
@import './components/summary-card';
@import './pages/alerts-page';
@import './pages/case-notes-page';
@import './pages/personal-page';
@import './pages/overview-page';
@import './pages/active-punishments-page';
@import './local';
@import './helpers';
@import './typography';
@import './components/courtCasesAndOffences';
