$govuk-global-styles: true;
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/actions-block';
@import './components/alerts';
@import './components/contact';
@import './components/header-bar';
@import './components/hmpps-side-filter';
@import './components/hmpps-action-button';
@import './components/miniSummary';
@import './components/more-info-block';
@import './components/property';
@import './components/sidebar';
@import './components/status';
@import './components/summary-card';
@import './pages/alerts-page';
@import './local';
@import './helpers';
@import './typography';
