.remove-column-gutters {
  padding-left: 0;
  padding-right: 0;
}
.remove-column-gutter-left {
  padding-left: 0;
}
.remove-column-gutter-right {
  padding-right: 0;
}
.position-relative {
  position: relative;
}

.center-content {
  justify-content: center;
  display: grid;
}

.hmpps-clickable-image {
  width: 0px;
}

.hmpps-icon {
  top: 4px;
  position: relative;
  padding-right: 8px;
}

.hmpps-font-weight-normal dt {
  font-weight: normal;
}