.govuk-main-wrapper {
  min-height: 600px;
  padding-top: 0;

  & > .govuk-error-summary {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.govuk-link, a.govuk-tabs__tab {
  text-underline-offset: .1em;
}

.hmpps-profile-banner + .govuk-error-summary {
  margin-top: 35px;
  margin-bottom: 0;
}

.govuk-summary-list__key {
  width: 41%;
}

.hmpps-print-link {
  font-size: 16px;
  display: inline-block;
  position: relative;
  padding: 5px 5px 5px 38px;
  background: url("/assets/images/printer_icon.svg") no-repeat 10px 50%;
  background-size: 16px 18px;
}

.govuk-radios__conditional {
  padding-top: 10px;
  margin-bottom: 10px;
  clear: both;
}

.app-u-multiline-text {
  white-space: pre-line;
}

// Override govuk accordion styling to support only having toggle as link
.govuk-frontend-supported .govuk-accordion__section-button {
  border-top: none;
  padding: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 10px;
  width: auto;
}

.govuk-frontend-supported .govuk-accordion__section-toggle {
  margin-bottom: 5px
}