.hmpps-secondary-text {
  color: govuk-colour('dark-grey');
}

.hmpps-red-text {
  color: govuk-colour('red');
}

.hmpps-green-text {
  color: govuk-colour('green');
}

pre {
  white-space: pre-wrap;
}

pre, p {
  word-wrap: break-word;
}