{% macro actionsBlock(actions) %}
  <div class="hmpps-actions-block govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-m">Actions</h2>
    <ul class="hmpps-actions-block__list">
      {% for action in actions %}
      <li>
        <img src="/assets/images/{{ action.icon }}.svg" role="presentation" alt="" width="40px" height="40px" />
        <a href="{{ action.url }}" class="govuk-link govuk-link--no-visited-state" data-qa="{{ action.dataQA }}" referrerpolicy="no-referrer-when-downgrade">{{ action.text }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
