{% macro statusList(statuses) %}
  <ul class="hmpps-status-list">
    {% for status in statuses %}
      <li class="hmpps-status {% if status.error %}hmpps-status--error{% elif status.prominent %}hmpps-status--prominent{% endif %}">
        <p>{{ status.label }}</p>
        {% if status.subText %}
          <p>
            {% if status.subTextHref %}
              <a href="{{ status.subTextHref }}" class="govuk-link--no-visited-state">{{ status.subText }}</a>
            {% else %}
              {{ status.subText }}
            {% endif %}
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
