{% macro statusList(statuses) %}
  <ul class="hmpps-status-list">
    {% for status in statuses %}
      <li>
        <p>{{ status.label }}</p>
        <p>
          Last Updated:
          <span aria-label="{{ status.date | formatDate }}">{{ status.date | formatDate('short') }}</span>
        </p>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
