{% macro summaryCard(params) %}
  <div class="hmpps-summary-card">
    {% if params.title %}
      <div class="hmpps-summary-card__header" data-qa="summary-header">
        <h3>{{ params.title }}</h3>
      </div>
    {% endif %}
    <div class="hmpps-summary-card__body">
      {{ caller() }}
    </div>
  </div>
{% endmacro %}
