.hmpps-header {
  @include govuk-responsive-padding(3, 'top');
  @include govuk-responsive-padding(3, 'bottom');
  background-color: govuk-colour('black');

  .hmpps-header__link__main-text {
    color: govuk-colour('white');
    margin-bottom: 0;
  }
  &__container {
    @include govuk-width-container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    @include govuk-responsive-margin(2, 'right');
    position: relative;
    top: -2px;
    fill: govuk-colour('white');
  }

  &__title {
    @include govuk-responsive-padding(3, 'right');
    display: flex;
    align-items: center;

    &__organisation-name {
      @include govuk-responsive-margin(2, 'right');
      @include govuk-font($size: 24, $weight: 'bold');
      display: flex;
      align-items: center;
    }

    &__service-name {
      display: none;
      @include govuk-font(24);

      @include govuk-media-query($from: desktop) {
        display: inline-block;
      }
    }
  }

  &__link {
    @include govuk-link-common;
    @include govuk-link-style-default;

    text-underline-offset: 0.1em;

    &:link,
    &:visited,
    &:active {
      color: govuk-colour('white');
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      color: govuk-colour('black');

      svg {
        fill: govuk-colour('black');
      }
    }

    &__sub-text {
      @include govuk-font(16);
      display: none;

      @include govuk-media-query($from: tablet) {
        display: block;
      }
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;

    @include govuk-media-query($from: tablet) {
      flex-direction: row;
      align-items: center;
    }

    &__item {
      @include govuk-font(19);
      margin-bottom: govuk-spacing(1);
      text-align: right;

      @include govuk-media-query($from: tablet) {
        @include govuk-responsive-margin(4, 'right');
        @include govuk-responsive-padding(4, 'right');
        margin-bottom: 0;
        border-right: 1px solid govuk-colour('white');
      }

      a {
        display: inline-block;
      }

      &:last-child {
        margin-right: 0;
        border-right: 0;
        padding-right: 0;
      }
    }
  }

  @media print {
    display: none;
  }
}

.location-bar {
  @include govuk-width-container;
  @include govuk-responsive-margin(3, 'bottom');
  @include govuk-responsive-padding(3, 'top');
  @include govuk-responsive-padding(3, 'bottom');
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $govuk-border-colour;

  &__location {
    @include govuk-font($size: 19, $weight: 'bold');
    @include govuk-responsive-margin(3, 'right');
  }

  &__link {
    @include govuk-link-common;
    @include govuk-link-style-default;
    @include govuk-font($size: 19, $weight: 'normal');
  }

  @media print {
    display: none;
  }
}

.hmpps-profile-banner {
  margin: 0 14px;

  .hmpps-profile-banner-top {
    padding: 30px 30px 15px 30px;
    min-height: 130px;

    position: relative;
    display: grid;
    grid-template-columns: 135px 1fr 1fr;
    grid-template-rows: 0fr 1fr;
    gap: 0 0;
    grid-template-areas:
      'photo name name'
      'photo info info';

    .hmpps-profile-photo {
      grid-area: photo;
    }
    .hmpps-profile-prisoner-name {
      grid-area: name;
      line-height: 26px;
    }
    .info {
      grid-area: info;
      display: flex;
      gap: 0 60px;
      flex-wrap: wrap;
      min-width: fit-content;

      &__links {
        display: flex;
        gap: 12px 60px;
        flex-wrap: wrap;
        min-width: fit-content;
      }

      .hmpps-profile-prisoner-number {
        margin-right: auto;
        margin-bottom: 4px;
      }

      h3 {
        white-space: nowrap;
        margin-bottom: 0;
      }
    }

    img {
      width: 120px;
      position: absolute;
    }

    background-color: govuk-colour('blue');

    h2,
    p,
    h3 {
      color: govuk-colour('white');
    }

    h2 {
      margin-bottom: govuk-spacing(2);
    }

    .hmpps-profile-banner-top-nav-container {
      .container {
        @media (min-width: 961px) and (max-width: 1152px) {
          margin-top: govuk-spacing(4);
        }
        @media (max-width: 640px) {
          display: inline-grid !important;
          grid-template-columns: 1fr 1fr;
          padding-top: 20px;
        }
        @media (max-width: 640px) {
          margin-top: govuk-spacing(3);
        }
      }

      @include govuk-responsive-padding(7, 'top');

      @media (max-width: 1152px) {
        padding-top: 0;
      }

      h3 {
        margin-bottom: 3px;
      }

      @media (max-width: 640px) {
        padding-left: govuk-spacing(6);
        top: -286px;
        left: 150px;
        position: relative;
      }
    }

    .govuk-grid-column-three-quarters {
      padding-left: govuk-spacing(4);

      .hmpps-profile-prisoner-name {
        margin-top: 2px;
      }

      @media (min-width: 961px) and (max-width: 1152px) {
        margin-top: govuk-spacing(7);
      }

      @media (min-width: 641px) and (max-width: 960px) {
        p {
          padding-bottom: 0;
          margin-bottom: govuk-spacing(3);
        }
      }
    }

    @media (min-width: 1181px) and (max-width: 1230px) {
      .govuk-grid-column-three-quarters {
        padding-left: 25px;
      }
    }

    @media (min-width: 1171px) and (max-width: 1180px) {
      .govuk-grid-column-three-quarters {
        padding-left: 30px;
      }
    }

    @media (min-width: 1153px) and (max-width: 1170px) {
      .govuk-grid-column-three-quarters {
        padding-left: 35px;
      }
    }
  }

  .hmpps-profile-banner-bottom {
    @include govuk-responsive-padding(6, 'left');

    @media (max-width: 640px) {
      padding-left: 19px;
    }

    @include govuk-responsive-padding(5, 'right');
    background-color: #f3f2f1;

    overflow: auto;

    hr {
      border: 2px solid govuk-colour('mid-grey');
    }

    .hmpps-profile-tab-links {
      display: flex;
      flex-wrap: wrap;
      row-gap: 15px;
      margin: 0;
      padding: 0;

      li {
        margin: 0 govuk-spacing(6) 0 0;
        height: 32px;
        color: govuk-colour('blue');
      }

      .hmpps-profile-tab-link-selected {
        border-bottom: 4px solid govuk-colour('blue');

        span {
          color: govuk-colour('black');
        }
      }

      a:hover,
      a:focus {
        text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
      }
    }
  }
}
