.hmpps-status-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 15px;

  list-style-type: none;
  padding-left: 0;
  margin-top: 0;

  li {
    display: inline-grid;
    align-content: center;
    height: 70px;
    padding: 0 15px;
    background-color: govuk-colour('light-grey');
    border-left: 8px solid govuk-colour('mid-grey');

    p {
      font-size: 19px;
      line-height: 26.48px;
      font-weight: 700;
      color: govuk-colour('black');
      margin: 0;
    }

    p + p {
      font-size: 16px;
      line-height: 22.03px;
      font-weight: 300;
      color: govuk-colour('dark-grey');
    }
  }
}

