.hmpps-summary-card {
  border: 1px solid govuk-colour("dark-grey");

  .hmpps-summary-card__header {
    background-color: govuk-colour("light-grey");

    h3 {
      line-height: 50px;
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }
  }
}
