{% from "../../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- call summaryCard({title: "Non-associations"}) -%}

    <dl class="govuk-summary-list non-association-summary">
        <div class="govuk-summary-list__row">
            <div class="govuk-!-padding-bottom-3 govuk-!-padding-top-2">
                <dt class="govuk-!-font-weight-bold govuk-!-margin-bottom-2" data-qa="overview-na-prison-name">In {{ nonAssociationSummary.prisonName }}</dt>
                <dd class="govuk-!-font-size-36 govuk-!-margin-left-0 govuk-!-margin-bottom-2" data-qa="overview-na-prison-count" >{{ nonAssociationSummary.prisonCount }}</dd>
            </div>
        </div>
        <div class="govuk-summary-list__row--no-border">
            <div class="govuk-!-padding-top-3">
                <dt class="govuk-!-font-weight-bold govuk-!-margin-bottom-2">In other establishments</dt>
                <dd class="govuk-!-font-size-36 govuk-!-margin-left-0 govuk-!-margin-bottom-4" data-qa="overview-na-other-prisons-count">{{ nonAssociationSummary.otherPrisonsCount }}</dd>
                <dd class="govuk-!-margin-left-0" data-qa="overview-non-associations-link"><a href="{{ nonAssociationSummary.nonAssociationsUrl }}" class="govuk-link govuk-link--no-visited-state">Non-associations</a></dd>
            </div>
        </div>
    </dl>

{%- endcall -%}