.hmpps-address-autosuggest {
    position: relative;
    max-width: 630px;

    .govuk-form-group {
        margin-bottom: 10px;
    }

    &__combobox {
        border-radius: 3px;
        display: inline-block;
    }

    &__results {
        border: 1px solid $govuk-border-colour;
        border-radius: 3px;
        display: none;
        margin: 0rem 0 0;
        overflow: hidden;
        padding: 0;
        width: 100%;
    }

    &__results-title {
        background: govuk-colour("light-grey");
        border-bottom: 1px solid $govuk-border-colour;
        padding: 0.25rem 0.5rem;
    }

    &__listbox {
        background: govuk-colour("white");
        list-style: none;
        margin: 0;
        padding: 0;
        &:focus {
            outline: none;
        }
    }

    &__option {
        cursor: pointer;
        margin: 0;
        outline: none;
        padding: 0.25rem 0.5rem;

        &:not(:last-child) {
            border-bottom: 1px solid $govuk-border-colour;
        }

        &--focused:not(&--no-results) {
            background: govuk-colour("dark-blue");
            border-color: govuk-colour("dark-blue");
            color: govuk-colour("white");
        }

        &:active:not(&--no-results) {
            background: var(--ons-color-focus);
            color: govuk-colour("black");
        }

        &--no-results {
            background: govuk-colour("light-grey");
            cursor: not-allowed;
            padding: 0.25rem 0.5rem;
        }
    }

    &__error {
       margin-top: 5px;
    }

    &:not(&--initialised) & {
        &__instructions,
        &__listbox,
        &__status {
            display: none;
        }
    }

    &--has-results & {
        &__results {
            display: block;
        }
    }

    &--header {
        .hmpps-address-autosuggest__results {
            border: 0;
            box-shadow: 0 0 5px 0 rgb(34 34 34 / 60%);
            left: 0;
            position: absolute;
            z-index: 10;
        }
    }
}
