.hmpps-api-error-banner {
  padding: 16px 22px;
  background-color: govuk-colour('light-grey');
  border-left: 8px solid govuk-colour('red');
  margin-top: 20px;

  p {
    font-size: 19px;
    line-height: 25px;
    font-weight: 700;
    color: govuk-colour('black');
    margin: 5px 0;
  }

  p + p {
    font-size: 19px;
    line-height: 25px;
    font-weight: 300;
    color: govuk-colour('black');
    margin-top: 0;
  }
}

.hmpps-action-api-error-inset {
  padding: 4px 8px 4px 8px;
  border-left: 5px solid govuk-colour('red');
  margin: 16px;
  margin-bottom: 4px;
  font-size: 16px;
}

.hmpps-api-error-inset {
  padding: 4px 8px 4px 8px;
  border-left: 5px solid govuk-colour('red');
  margin-bottom: 4px;
  font-size: 16px;
}