.hmpps-feedback-banner {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: rgba(govuk-colour('green'), 0.25);

  p {
    font-weight: 300;
    margin: 0;

    a:link, a:visited {
      color: $govuk-text-colour;
    }
  }
}