@keyframes flashMessageFadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hmpps-flash-message {
  position: absolute;
  z-index: 1;
  top: 75px;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  animation: flashMessageFadeOut 3s;

  &--at-anchor {
    position: fixed;
    top: 20px;
  }

  p {
    position: relative;
    left: -50%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 30px;
    margin-bottom: 0;
    background-color: $govuk-success-colour;
    color: govuk-colour("white");
    @include govuk-font($size: 19, $weight: 'bold');

    &::before {
      content: url("/assets/images/tick-icon.svg");
      height: 25px;
      margin-right: 12px;
    }
  }
}
