.hmpps-open-close-all {
  &__button {
    background: none;
    border: none;
    color: $govuk-link-colour;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
    font-size: 16px;
    margin-bottom: govuk-spacing(3);

    &:focus, &:active {
      outline: 3px solid transparent;
      box-shadow: 0 -2px $govuk-focus-colour,0 4px $govuk-focus-text-colour;
      color: $govuk-focus-text-colour;
      background-color: $govuk-focus-colour;
      text-decoration: none;
    }
    
    &:hover:not(:focus):not(:active) {
      color: $govuk-link-hover-colour;
    }
  }
}
