.hmpps-open-close-all {
  &__button {
    background: none;
    border: none;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
    font-size: 16px;
    margin-bottom: govuk-spacing(3);

    &:focus {
      outline: 3px solid transparent;
      box-shadow: 0 -2px yellow,0 4px #0b0c0c;
      background-color: govuk-colour('yellow');
      text-decoration: none;
    }
  }
}
