$hmpps-webcam-capture-width: 221px;
$hmpps-webcam-capture-height: 276px;

.hmpps-webcam-capture-photo-container {
  width: 100%;
  @include govuk-responsive-padding(2);
  @include govuk-responsive-margin(6, 'bottom');

  &__with-border {
    border: 1px solid $govuk-border-colour;
  }

  &__error {
    border: 5px solid rgb(235, 97, 28);

    .hmpps-webcam-error-icon {
      display: block;
      width: 1.875rem;
      height: 1.875rem;
      color: rgb(235, 97, 28);
    }
  }

  &__content {
    display: flex;
    width: 100%;
  }

  &__photo-preview {
    img {
      background: #000;
      border: 2px solid #333;
      height: $hmpps-webcam-capture-height;
      object-fit: contain;
      width: $hmpps-webcam-capture-width;
      display: block;
    }
  }

  &__description {
    @include govuk-responsive-padding(2, 'top');
    display: flex;
    gap: 10px;
    margin-left: 24px;
    min-width: 0;

    h2 {
      @include govuk-responsive-margin(3, 'bottom');
    }

    #permission-requested {
      display: block;
    }

    #permission-denied {
      display: none;
    }

    #permission-granted {
      display: none;
    }

    #webcam-not-found {
      display: none;
    }

    #webcam-error {
      display: none;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    width: 100%;

    &__full-width {
      width: 100%;
    }

    &__half-width {
      width: calc(($hmpps-webcam-capture-width/2) - 3px);
    }

    button {
      margin-bottom: 0 !important;

      .hmpps-webcam-button-text {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: auto;
          height: auto;
        }
      }
    }
  }

  .hmpps-webcam-video-container,
  .hmpps-webcam-image-container {
    max-width: fit-content;

    video {
      background: #000;
      border: 2px solid #333;
      display: none;
      height: 276px;
      width: 221px;
    }

    &__placeholder {
      align-items: center;
      background-color: #505a5f;
      border: 2px solid #333;
      display: flex;
      height: 276px;
      justify-content: center;
      width: 221px;
    }
  }
}

#photo-capture-container {
  display: none;
}

#rotate-button-group {
  display: none;
}

#photo-capture-container__error {
  display: none;
}
