.hmpps-card-heading-background {
  h2 {
    margin: 0;
  }
  @include govuk-responsive-padding(2, 'top');
  @include govuk-responsive-padding(2, 'bottom');
  @include govuk-responsive-padding(3, 'left');
  @include govuk-responsive-padding(3, 'right');
}

.card-body {
  .card-label {
    @include govuk-responsive-margin(1, 'bottom');
    @include govuk-font($size: 19, $weight: 'bold');
  }

  .hmpps-mini-card__big {
    font-size: 36px;
  }

  .hmpps-mini-card__small {
    margin-bottom: 5px;

    &.hmpps-mini-card__filler {
      margin-bottom: 42px;
    }
  }

  .hmpps-mini-card__sub-text {
    margin-bottom: 12px;
    color: govuk-colour('dark-grey');
  }
}

.boxStyle2 {
  @include govuk-responsive-padding(4, 'top');
}

@media (max-width: 1180px) {
  .hmpps-miniSummaryWrapper .govuk-grid-column-one-third {
    width: 50%;
  }
}

@media (max-width: 751px) {
  .hmpps-miniSummaryWrapper .govuk-grid-column-one-third {
    width: 100%;
  }
}

.hmpps-three-quarters-responsive {
  @media (max-width: 751px) {
    .hmpps-miniSummaryWrapper {
      .govuk-grid-column-three-quarters,
      .govuk-grid-column-one-quarter {
        width: 50%;
      }
    }
  }
}
