.hmpps-card-heading-background {
  h2 {
    margin: 0;
  }
  @include govuk-responsive-padding(2, 'top');
  @include govuk-responsive-padding(2, 'bottom');
  @include govuk-responsive-padding(3, 'left');
  @include govuk-responsive-padding(3, 'right');
}

.card-body {
  .card-label {
    @include govuk-responsive-margin(1, 'bottom');
    @include govuk-font($size: 19, $weight: 'bold');
  }

  .hmpps-mini-card__big {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 17px;
  }

  .hmpps-mini-card__small {
    margin-bottom: 5px;

    &.hmpps-mini-card__filler {
      margin-bottom: 28px;
    }
  }

  .hmpps-mini-card__sub-text {
    margin-bottom: 10px;
    color: govuk-colour("black", $variant: "tint-25");
  }

  .hmpps-mini-card__error {
    font-weight: 700;
    color: $govuk-error-colour;
    margin-bottom: 10px;
    margin-top: -5px;
  }

  .hmpps-mini-card__link {
    margin-top: auto;
    padding-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid govuk-colour("black", $variant: "tint-95");
  }
}

.hmpps-miniSummaryWrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 23px 0;

  .hmpps-summary-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;

    &__no-header {
      padding-top: 15px;
    }

    &__header {
      margin-bottom: 10px;
    }

    &__body {
      flex: 1;
      min-height: 7rem;

      &:has(.hmpps-summary-card__no-header) {
        height: auto;
      }

      .card-body {
        display: flex;
        flex-direction: column;
        height: 100%;

        .govuk-grid-column-full {
          display: flex;
          flex-direction: column;
          height: 100%;
          flex: 1;
        }
      }
    }

    &__unavailable-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 1;
    }

    &__unavailable-message {
      margin: auto;
    }
  }

}


@media (max-width: 751px) {
  .hmpps-miniSummaryWrapper .govuk-grid-column-one-third,
  .hmpps-miniSummaryWrapper .govuk-grid-column-one-half,
  .hmpps-miniSummaryWrapper .govuk-grid-column-two-thirds {
    width: 100%;
  }
}

.hmpps-sidebar-page-row,
.hmpps-three-quarters-responsive {
  @media (max-width: 1100px) {
    display: flex;
    flex-direction: column;

    > .govuk-grid-column-three-quarters,
    > .govuk-grid-column-one-quarter {
      width: 100%;
    }
  }
}

.hmpps-three-quarters-responsive {
  @media (max-width: 751px) {
    .hmpps-miniSummaryWrapper {
      .govuk-grid-column-three-quarters,
      .govuk-grid-column-one-quarter {
        width: 50%;
      }
    }
  }
}
