@keyframes delete-button-fade {
  0%   {color: black; background-color: rgba(0, 0, 0, 0);}
  100% {color: red; background-color: #DDD;}
}

.dps-multi-file-upload {
  margin-bottom: 40px;

  &--enhanced &__button {
    display: none;
  }

  &__dropzone {
    outline: 3px dashed govuk-colour('black');
    display: flex;
    text-align: center;
    padding: govuk-spacing(9) govuk-spacing(3);
    transition: outline-offset .1s ease-in-out, background-color .1s linear;

    label {
      margin-bottom: 0;
      display: inline-block;
      width: auto;
    }

    p {
      margin-bottom: 0;
      margin-right: 10px;
      padding-top: 7px;
    }

    [type=image] {
      position: absolute;
      left: -9999em;
    }
  }

  &--dragover {
    background: #b1b4b6;
    outline-color: #6f777b;
  }

  &--focused {
    background-color: $govuk-focus-colour;
    color: $govuk-focus-text-colour;
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
    outline: none;
  }

  &__error {
    color: govuk-colour('red');
    font-weight: bold;

    svg {
      fill: currentColor;
      float: left;
      margin-right: govuk-spacing(2);
    }
  }

  &__success {
    color: govuk-colour('green');
    font-weight: bold;

    svg {
      fill: currentColor;
      float: left;
      margin-right: govuk-spacing(2);
    }
  }

  &__filename {
    display: inline-block;
    width: 80%;
  }

  &__remove-button {
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;

    &:hover {
      color: red;
      background-color: #DDD;
      animation-name: delete-button-fade;
      animation-duration: 0.25s;
    }
  }
}

.dps-hidden {
  display: none;
}