.new-dm-body-image-container {
  position: relative;
  margin-bottom: govuk-spacing(4);

  img {
    margin-top: 25px;
  }

  .tooltip {
    position: absolute;
    padding: 0 6px;
    background-color: govuk-colour('white');
    color: govuk-colour('black');
    border: 1px solid govuk-colour('blue');
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    line-height: 1.5;
    display: none;
    z-index: 1000;

    // Outer triangle for border
    &::before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid govuk-colour('blue'); // Blue border color
    }

    // Inner triangle for white background
    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid govuk-colour('white'); // White background
    }
  }

  &.dm-base-image-hover .tooltip,
  area:focus-visible ~ .tooltip {
    display: block;
    pointer-events: none;
  }

  &.dm-base-image-hover[data-hover-value="face"] .tooltip,
  area:focus-visible[data-area-value="face"] ~ .tooltip {
    top: 20px;
    left: 45px;

    > .tooltip-content::after {
      content: 'Face and head';
    }
  }

  &.dm-base-image-hover[data-hover-value="neck"] .tooltip,
  area:focus-visible[data-area-value="neck"] ~ .tooltip {
    top: 65px;
    left: 45px;

    > .tooltip-content::after {
      content: 'Neck';
    }
  }

  &.dm-base-image-hover[data-hover-value="right-arm"] .tooltip,
  area:focus-visible[data-area-value="right-arm"] ~ .tooltip {
    top: 130px;
    left: -15px;

    > .tooltip-content::after {
      content: 'Right arm';
    }
  }

  &.dm-base-image-hover[data-hover-value="left-arm"] .tooltip,
  area:focus-visible[data-area-value="left-arm"] ~ .tooltip {
    top: 130px;
    left: 110px;

    > .tooltip-content::after {
      content: 'Left arm';
    }
  }

  &.dm-base-image-hover[data-hover-value="front-and-sides"] .tooltip,
  area:focus-visible[data-area-value="front-and-sides"] ~ .tooltip {
    top: 130px;
    left: 25px;

    > .tooltip-content::after {
      content: 'Front and sides';
    }
  }

  &.dm-base-image-hover[data-hover-value="right-hand"] .tooltip,
  area:focus-visible[data-area-value="right-hand"] ~ .tooltip {
    top: 300px;
    left: -30px;

    > .tooltip-content::after {
      content: 'Right hand';
    }
  }

  &.dm-base-image-hover[data-hover-value="left-hand"] .tooltip,
  area:focus-visible[data-area-value="left-hand"] ~ .tooltip {
    top: 300px;
    left: 110px;

    > .tooltip-content::after {
      content: 'Left hand';
    }
  }

  &.dm-base-image-hover[data-hover-value="right-leg"] .tooltip,
  area:focus-visible[data-area-value="right-leg"] ~ .tooltip {
    top: 320px;
    left: 20px;

    > .tooltip-content::after {
      content: 'Right leg';
    }
  }

  &.dm-base-image-hover[data-hover-value="left-leg"] .tooltip,
  area:focus-visible[data-area-value="left-leg"] ~ .tooltip {
    top: 320px;
    left: 75px;

    > .tooltip-content::after {
      content: 'Left leg';
    }
  }

  &.dm-base-image-hover[data-hover-value="right-foot"] .tooltip,
  area:focus-visible[data-area-value="right-foot"] ~ .tooltip {
    top: 580px;
    left: 20px;

    > .tooltip-content::after {
      content: 'Right foot';
    }
  }

  &.dm-base-image-hover[data-hover-value="left-foot"] .tooltip,
  area:focus-visible[data-area-value="left-foot"] ~ .tooltip{
    top: 580px;
    left: 70px;

    > .tooltip-content::after {
      content: 'Left foot';
    }
  }

  &.dm-base-image-hover[data-hover-value="back"] .tooltip,
  area:focus-visible[data-area-value="back"] ~ .tooltip {
    top: 130px;
    left: 245px;

    > .tooltip-content::after {
      content: 'Back';
    }
  }

  &.dm-base-image-hover::after {
    display: none;
    content: '';
    position: absolute;
    pointer-events: none;
    opacity: 0.5;
  }

  &.dm-base-image-selected::before {
    display: none;
    content: '';
    position: absolute;
    pointer-events: none;
  }

  area:focus-visible {
    outline: none;
    display: block;
    position: absolute;
  }

  &.dm-base-image-hover[data-hover-value="face"]::after,
  &.dm-base-image-selected[data-selected="face"]::before {
    display: block;
    top: 26px;
    left: 55px;
    height: 74px;
    width: 56px;
    background: url("/assets/images/distinguishingMarks/face-overlay.svg") no-repeat;
  }

  area[data-area-value="face"]:focus-visible {
    top: 26px;
    left: 55px;
    height: 74px;
    width: 56px;
    background: url("/assets/images/distinguishingMarks/face-focus.svg") no-repeat;
  }

  &.dm-base-image-hover[data-hover-value="neck"]::after,
  &.dm-base-image-selected[data-selected="neck"]::before {
    display: block;
    top: 91px;
    left: 67px;
    height: 20px;
    width: 33px;
    background: url("/assets/images/distinguishingMarks/neck-overlay.svg") no-repeat;
  }

  area[data-area-value="neck"]:focus-visible {
    top: 91px;
    left: 67px;
    height: 20px;
    width: 33px;
    background: url("/assets/images/distinguishingMarks/neck-focus.svg") no-repeat;
  }

  &.dm-base-image-hover[data-hover-value="right-arm"]::after,
  &.dm-base-image-selected[data-selected="right-arm"]::before {
    display: block;
    top: 127px;
    left: 0;
    height: 200px;
    width: 40px;
    background: url("/assets/images/distinguishingMarks/right-arm-overlay.svg") no-repeat;
  }

  area[data-area-value="right-arm"]:focus-visible {
    top: 127px;
    left: 0;
    height: 200px;
    width: 40px;
    background: url("/assets/images/distinguishingMarks/right-arm-focus.svg") no-repeat;
  }

  &.dm-base-image-hover[data-hover-value="left-arm"]::after,
  &.dm-base-image-selected[data-selected="left-arm"]::before {
    display: block;
    top: 127px;
    left: 126px;
    height: 200px;
    width: 40px;
    background: url("/assets/images/distinguishingMarks/left-arm-overlay.svg") no-repeat;
  }

  area[data-area-value="left-arm"]:focus-visible {
    top: 127px;
    left: 126px;
    height: 200px;
    width: 40px;
    background: url("/assets/images/distinguishingMarks/left-arm-focus.svg") no-repeat;
  }

  &.dm-base-image-hover[data-hover-value="front-and-sides"]::after,
  &.dm-base-image-selected[data-selected="front-and-sides"]::before {
    display: block;
    top: 109px;
    left: 31px;
    height: 205px;
    width: 104px;
    background: url("/assets/images/distinguishingMarks/torso-front-overlay.svg") no-repeat;
  }

  area[data-area-value="front-and-sides"]:focus-visible {
    top: 109px;
    left: 31px;
    height: 205px;
    width: 104px;
    background: url("/assets/images/distinguishingMarks/torso-front-focus.svg") no-repeat;
  }

  &.dm-base-image-hover[data-hover-value="right-hand"]::after,
  &.dm-base-image-selected[data-selected="right-hand"]::before {
    display: block;
    top: 322px;
    left: 0;
    height: 55px;
    width: 32px;
    background: url("/assets/images/distinguishingMarks/right-hand-overlay.svg") no-repeat;
  }

  area[data-area-value="right-hand"]:focus-visible {
    top: 322px;
    left: 0;
    height: 55px;
    width: 32px;
    background: url("/assets/images/distinguishingMarks/right-hand-focus.svg") no-repeat;
  }

  &.dm-base-image-hover[data-hover-value="left-hand"]::after,
  &.dm-base-image-selected[data-selected="left-hand"]::before {
    display: block;
    top: 322px;
    left: 135px;
    height: 55px;
    width: 32px;
    background: url("/assets/images/distinguishingMarks/left-hand-overlay.svg") no-repeat;
  }

  area[data-area-value="left-hand"]:focus-visible {
    top: 322px;
    left: 135px;
    height: 55px;
    width: 32px;
    background: url("/assets/images/distinguishingMarks/left-hand-focus.svg") no-repeat;
  }

  &.dm-base-image-hover[data-hover-value="left-leg"]::after,
  &.dm-base-image-selected[data-selected="left-leg"]::before {
    display: block;
    top: 313px;
    left: 82px;
    height: 283px;
    width: 51px;
    background: url("/assets/images/distinguishingMarks/left-leg-overlay.svg") no-repeat;
  }

  area[data-area-value="left-leg"]:focus-visible {
    top: 313px;
    left: 82px;
    height: 283px;
    width: 51px;
    background: url("/assets/images/distinguishingMarks/left-leg-focus.svg") no-repeat;
  }

  &.dm-base-image-hover[data-hover-value="right-leg"]::after,
  &.dm-base-image-selected[data-selected="right-leg"]::before {
    display: block;
    top: 312px;
    left: 33px;
    height: 283px;
    width: 51px;
    background: url("/assets/images/distinguishingMarks/right-leg-overlay.svg") no-repeat;
  }

  area[data-area-value="right-leg"]:focus-visible {
    top: 312px;
    left: 33px;
    height: 283px;
    width: 51px;
    background: url("/assets/images/distinguishingMarks/right-leg-focus.svg") no-repeat;
  }

  &.dm-base-image-hover[data-hover-value="right-foot"]::after,
  &.dm-base-image-selected[data-selected="right-foot"]::before {
    display: block;
    top: 593px;
    left: 44px;
    height: 65px;
    width: 31px;
    background: url("/assets/images/distinguishingMarks/right-foot-overlay.svg") no-repeat;
  }

  area[data-area-value="right-foot"]:focus-visible {
    top: 593px;
    left: 44px;
    height: 65px;
    width: 31px;
    background: url("/assets/images/distinguishingMarks/right-foot-focus.svg") no-repeat;
  }

  &.dm-base-image-hover[data-hover-value="left-foot"]::after,
  &.dm-base-image-selected[data-selected="left-foot"]::before {
    display: block;
    top: 593px;
    left: 92px;
    height: 65px;
    width: 31px;
    background: url("/assets/images/distinguishingMarks/left-foot-overlay.svg") no-repeat;
  }

  area[data-area-value="left-foot"]:focus-visible {
    top: 593px;
    left: 92px;
    height: 65px;
    width: 31px;
    background: url("/assets/images/distinguishingMarks/left-foot-focus.svg") no-repeat;
  }

  &.dm-base-image-hover[data-hover-value="back"]::after,
  &.dm-base-image-selected[data-selected="back"]::before {
    display: block;
    top: 109px;
    left: 216px;
    height: 205px;
    width: 104px;
    background: url("/assets/images/distinguishingMarks/back-overlay.svg") no-repeat;
  }

  area[data-area-value="back"]:focus-visible {
    top: 109px;
    left: 216px;
    height: 205px;
    width: 104px;
    background: url("/assets/images/distinguishingMarks/back-focus.svg") no-repeat;
  }

  .dm-base-label-front {
    position: absolute;
    left: 64px;
    top: 0;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .dm-base-label-back {
    position: absolute;
    left: 250px;
    top: 0;
    font-size: 16px;
    margin-bottom: 5px;
  }
}
