.personal-distinguishing-marks {
  display: grid;
  grid-template-columns: 30% 70%;
  flex-wrap: wrap;
  margin-bottom: 15px;

  @media (max-width: 768px) {
    grid-template-columns: 100%;
  }

  dl {
    margin: 0;
    &:not(:last-of-type) {
      border-bottom: 1px solid $govuk-canvas-background-colour;
      margin-bottom: govuk-spacing(3);
    }
  }

  dt {
    @include govuk-font($size: 19, $weight: 'bold');
  }


  &__row {
    margin-bottom: govuk-spacing(3);
    border-bottom: 1px solid $govuk-border-colour;

    &__empty {
      display: flex;
      padding-bottom: govuk-spacing(3);

      dt {
        min-width: 105px;
      }
    }

    &__populated {
      position: relative;

      dd {
        margin: 0;

        summary.govuk-details__summary {
          color: govuk-colour('black');
        }

        div.govuk-details__text {
          padding-bottom: 0;
        }
      }

      details {
        margin-bottom: govuk-spacing(2);

        &:not(:last-of-type) {
          padding-bottom: govuk-spacing(2);
          border-bottom: 1px solid $govuk-canvas-background-colour;
        }
      }

      &__mark {
        display: flex;
        justify-content: space-between;

        &:not(:last-of-type) {
          padding-bottom: govuk-spacing(3);
          margin-bottom: govuk-spacing(3);
          border-bottom: 1px solid $govuk-canvas-background-colour;
        }

        dl {
          &:not(:last-child) {
            margin-bottom: govuk-spacing(3);
          }
        }

        dd {
          max-width: 350px;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }
      }

      &__row {
        &:not(:last-of-type) {
          padding: 0 0 govuk-spacing(3) 0;
        }

        &__image-list {
          display: flex;
          flex-direction: column;
          img {
            &:not(:last-of-type) {
              margin-bottom: govuk-spacing(2);
            }
          }
        }
      }

      .personal-distinguishing-marks__row__actions {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &__actions {
      padding-right: 0;
      flex-grow: 1;
      text-align: right;
    }
  }

  .dps-body-parts {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__info {
    padding-left: 20px;

    @media (max-width: 768px) {
      padding-left: 0;
    }
  }
}
