@use 'govuk-frontend/dist/govuk';

.hmpps-photo-list {
  .hmpps-photo-list__item {
    border-bottom: solid 1px govuk.govuk-functional-colour(border);
    display: flex;
    @include govuk.govuk-responsive-margin(4, 'bottom');
    @include govuk.govuk-responsive-padding(2);
  }

  .hmpps-photo-list__main {
    background-color: govuk.govuk-colour('black', $variant: 'tint-95');
    border: solid 1px govuk.govuk-functional-colour(border);
  }

  .hmpps-photo-list__photo {
    img {
      width: 120px;
    }
  }

  .hmpps-photo-list__details {
    margin-left: 10px;
    padding-top: 10px;
  }
}
