.hmpps-photo-list {
  .hmpps-photo-list__item {
    @include govuk-responsive-margin(4, 'bottom');
    @include govuk-responsive-padding(2);
    border-bottom: solid 1px $govuk-border-colour;
    display: flex;
  }

  .hmpps-photo-list__main {
    background-color: govuk-colour('light-grey');
    border: solid 1px $govuk-border-colour;
  }

  .hmpps-photo-list__photo {
    img {
      width: 120px;
    }
  }

  .hmpps-photo-list__details {
    margin-left: 10px;
    padding-top: 10px;
  }
}

.hmpps-new-photo-button {
  float: right;
}
