.hmpps-status-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 15px;

  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.hmpps-status {
  display: inline-grid;
  align-content: center;
  height: 70px;
  max-width: 14em;
  padding: 0 15px;
  background-color: govuk-colour('light-grey');
  border-left: 6px solid govuk-colour('mid-grey');

  p {
    @include govuk-font($size: 19, $weight: 'bold');
    color: govuk-colour('black');
    margin: 0;
  }

  p + p {
    @include govuk-font($size: 16);
    color: govuk-colour('dark-grey');
  }

  &--error {
    background-color: transparent;
    border-left-color: govuk-colour('red');

    p {
      @include govuk-font($size: 16);
    }
  }

  &--prominent {
    background-color: govuk-tint(govuk-colour("blue"), 90%);
    border-left-color: govuk-colour('light-blue');

    a, a:visited {
      color: #1c5791; // NB: custom colour for increased contrast
    }
    a:focus {
      color: $govuk-text-colour;
    }
  }
}
