.hmpps-summary-card {
  border: 1px solid govuk-colour('dark-grey');
  box-shadow: 0 5px govuk-colour('mid-grey');
  @include govuk-responsive-margin(4, 'bottom');

  &__header {
    background-color: govuk-colour('light-grey');
    @include govuk-responsive-padding(3, 'left');
    @include govuk-responsive-padding(3, 'right');
    @include govuk-responsive-margin(3, 'bottom');

    h3,
    h2 {
      line-height: 50px;
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }
  }

  &__no-header {
    padding-top: 15px;
  }

  &__body {
    @include govuk-responsive-padding(3, 'left');
    @include govuk-responsive-padding(3, 'right');
  }

  dl {
    margin-bottom: 15px;
  }

  .govuk-summary-list__row:last-of-type {
    border-bottom: none;
  }

  .card-subheading {
    font-size: 21px;
  }
}
