@use 'govuk-frontend/dist/govuk';

.hmpps-xray {
  &__total {
    @include govuk.govuk-responsive-margin(1, 'bottom');
  }

  &__since {
    font-size: 8px;
  }

  &__label {
    font-weight: bold;
    @include govuk.govuk-responsive-margin(1, 'bottom');
  }

  &__warning {
    background-color: govuk.govuk-colour('red');
    color: govuk.govuk-colour('white');
    margin-top: -15px;
  }

  .govuk-warning-text {
    &__icon {
      color: govuk.govuk-colour('black');
      background-color: govuk.govuk-colour('white');
      border: 3px solid govuk.govuk-colour('white');
    }

    &__text {
      color: govuk.govuk-colour('white');
    }
  }
}
