{% from "../../../macros/summaryCardMacro.njk" import summaryCard %}
{% macro scheduleColumn(scheduledEvents) %}
  {% for scheduleItem in scheduledEvents %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-body" data-qa="schedule-item">{{ scheduleItem.name }}<br />{{ scheduleItem | formatScheduleItem }}</p>
      </div>
    </div>
    {% if loop.index < scheduledEvents.length %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4" />
        </div>
      </div>
    {% endif %}
  {% endfor %}
  {% if scheduledEvents.length == 0 %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-body" data-qa="empty-schedule-item">Nothing scheduled</p>
      </div>
    </div>
  {% endif %}
{% endmacro %}

{%- call summaryCard({title: "Today's schedule"}) -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third" data-qa="morning-schedule">
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Morning</p>
      {{ scheduleColumn(schedule.morning) }}
    </div>
    <div class="govuk-grid-column-one-third" data-qa="afternoon-schedule">
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Afternoon</p>
      {{ scheduleColumn(schedule.afternoon) }}
    </div>
    <div class="govuk-grid-column-one-third" data-qa="evening-schedule">
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Evening</p>
      {{ scheduleColumn(schedule.evening) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">
        <a href="{{ schedule.linkUrl }}" class="govuk-link govuk-link--no-visited-state govuk-!-display-none-print">7 day schedule</a>
      </p>
    </div>
  </div>
{%- endcall -%}
