{% extends "../edit/editPage.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from 'components/miniBanner/miniBanner.njk' import miniBanner %}
{% from "../../macros/otherLanguagesText.njk" import otherLanguagesText %}
{% from "../../macros/nomisLockedWarning.njk" import nomisLockedWarning %}
{% block form %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <form id="mainLanguageForm" method="post" novalidate="novalidate" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    <input type="hidden" id="preferred-spoken-language-code-error" name="preferredSpokenLanguageCodeError" value="{{ spokenInvalidInput }}"/>
    <input type="hidden" id="preferred-written-language-code-error" name="preferredWrittenLanguageCodeError" value="{{ writtenInvalidInput }}"/>

    {{ govukSelect({
      id: "preferred-spoken-language-code",
      name: "preferredSpokenLanguageCode",
      label: {
        text: mainLanguageLabel,
        classes: 'govuk-label--s'
      },
      hint: {
        text: autocompleteOptionHint
      },
      items: preferredSpokenLanguageOptions,
      errorMessage: errors | findError("preferred-spoken-language-code"),
      classes: "js-autocomplete-select",
      attributes: {
        "data-qa": "select-preferred-spoken-language-input",
        "data-input-classes": "govuk-input--width-30",
        "data-menu-classes": "govuk-input--width-30"
      }
    }) }}
    {{ govukRadios({
      idPrefix: "interpreterRequired",
      name: "interpreterRequired",
      fieldset: {
        legend: {
          text: "Do they need an interpreter?",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: true,
          text: "Yes",
          checked: formValues.interpreterRequired == true
        },
        {
          value: false,
          text: "No",
          checked: formValues.interpreterRequired == false
        }
      ],
      errorMessage: errors | findError('interpreterRequired')
    }) }}
    {{ govukSelect({
      id: "preferred-written-language-code",
      name: "preferredWrittenLanguageCode",
      label: {
        text: 'What is their main written language?',
        classes: 'govuk-label--s'
      },
      hint: {
        text: autocompleteOptionHint
      },
      items: preferredWrittenLanguageOptions,
      errorMessage: errors | findError("preferred-written-language-code"),
      classes: "js-autocomplete-select",
      attributes: {
        "data-qa": "select-preferred-written-language-input",
        "data-input-classes": "govuk-input--width-30",
        "data-menu-classes": "govuk-input--width-30"
      }
    }) }}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save",
        type: "submit",
        preventDoubleClick: true,
        classes: "js-autocomplete-submit",
        attributes: { "data-qa": "save-button" }
      }) }}
      <a
        href="/prisoner/{{ prisonerNumber }}/personal#personal-details"
        class="govuk-link govuk-link--no-visited-state"
        data-qa="cancel-button">Cancel</a>
    </div>
  </form>
</div>
<div class="govuk-grid-column-one-third">
  {% if otherLanguages.length > 0 %}
    <aside class="other-languages-sidebar">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Other languages</h2>
      {% for lang in otherLanguages %}
        <div class="govuk-!-padding-bottom-2">{{ lang.language.description }}
          ({{ otherLanguagesText(lang, false) }})</div>
      {% endfor %}
    </aside>
  {% endif %}
{% endblock %}
