.mini-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: flex-start;
  border: 1px solid govuk-colour("black", $variant: "tint-25");
  box-shadow: 0 5px govuk-colour("black", $variant: "tint-80");
  min-height: 100%; // can be overridden for each usage of .mini-card

  &__heading {
    background-color: #f3f2f1;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
  }

  &__body {
    padding-left: 15px;
    padding-right: 15px;
  }

  h2 {
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }

  &__label {
    @include govuk-responsive-margin(1, 'bottom');
    @include govuk-font($size: 19, $weight: 'bold');
  }

  &__item {
    @include govuk-font($size: 19);
    margin: 0 0 5px 0;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__warning-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    color: inherit;

    @media (forced-colors: active) and (prefers-color-scheme: dark) {
      color: white;
    }
  }

  &__link {
    @include govuk-font($size: 19);
    padding-left: 15px;
    padding-right: 15px;
    margin-top: auto;
    padding-top: 15px;
    margin-bottom: 12px;
    border-top: 1px solid govuk-colour("black", $variant: "tint-95");
  }
}

// Old overview page layout - delete this once fully moved over to the new layout
.mini-card-v1 {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: flex-start;
  padding: 10px 15px;
  border: 1px solid govuk-colour("black", $variant: "tint-25");
  box-shadow: 0 5px govuk-colour("black", $variant: "tint-80");
  min-height: 100%; // can be overridden for each usage of .mini-card

  h2 {
    @include govuk-font($size: 19, $weight: bold);
    margin: 0 0 5px 0;
  }

  &__item {
    @include govuk-font($size: 19);
    margin: 0 0 5px 0;
  }

  &__link {
    @include govuk-font($size: 19);
  }
}
