{% macro miniCard(content, classes, errored) %}
<div class="mini-card {{ 'mini-card__no-header' if not content.heading }} {{ classes }}">
    {% if content.heading %}
        <div class="mini-card__heading">
            <h2>{{ content.heading }}</h2>
        </div>
    {% endif %}
    <div class="mini-card__body card-body">
        {% if errored %}
            <p class="hmpps-api-error-inset" data-qa="incentives-unavailable">
                {{ unavailableApiErrorText }}
            </p>
        {% endif %}
        {% if content.label %}
            <p class="mini-card__label">{{ content.label }}</p>
        {% endif %}
        {% for item in content.items %}
            <div class="mini-card__item {{ item.classes }}">
                {{ item.text }}
            </div>
        {% endfor %}
    </div>
    {% if content.linkHref %}
        <div class="mini-card__link">
            <a href="{{ content.linkHref }}" class="govuk-link govuk-link--no-visited-state govuk-!-display-none-print">
                {{ content.linkLabel }}
            </a>
        </div>
    {% endif %}
</div>
{% endmacro %}
