{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- call summaryCard({title: "Courses and qualifications", id: "courses-and-qualifications"}) -%}
    <p>This only includes educational courses. Contact the local education team to find out more.</p>
    <h3 class="govuk-heading-s">Current courses</h3>
    {% if(learnerEducation.length > 0) %}
        <hr class="govuk-section-break govuk-section-break--visible" />
        {{ govukSummaryList({
            classes: "hmpps-font-weight-normal",
            rows: learnerEducation
        }) }}
    {% endif %}

    {% if(learnerEducation.length == 0) %}
        <p>{{ workAndSkillsPrisonerName }} is not currently doing any courses.</p>
    {% endif %}
    <p class="govuk-body">
      <a class="govuk-link--no-visited-state govuk-!-display-none-print" href="{{ fullCourseHistoryLinkUrl }}">View full course history</a>
    </p>
{%- endcall -%}