{% from "../../macros/hmppsError.njk" import hmppsError %}
{{ hmppsError({
    type: 'service-unavailable',
    dataQa: 'curious-unavailable-message',
    serviceName: 'Curious',
    isAre: 'is'
}) }}
