{# Goals summary card content for when the prisoner has both PLP and VC2 goals #}

<div data-qa="plp-vc2-goals">
  <p class="govuk-body" data-qa="goals-info-text">The careers information, advice and guidance (CIAG) team set these goals. They do not include sentence plan targets.</p>
  {% for goal in personalLearningPlanActionPlan.goals %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Goal {{ goal.sequenceNumber }}</h3>
    <div class="hmpps-goal-container">
      <p class="govuk-body">{{ goal.title | formatMultilineText | safe }}</p>
    </div>
  {% endfor %}
  {% if canEditEducationWorkPlan %}
    <p class="govuk-body"><a href="{{ config.serviceUrls.learningAndWorkProgress }}/plan/{{ prisonerNumber }}/view/overview">View goals in the Learning and work progress service</a></p>
  {% endif %}
  <p class="govuk-body hmpps-secondary-text govuk-!-margin-bottom-7">Last updated: {{ personalLearningPlanActionPlan.updatedAt | formatDate }} by {{ personalLearningPlanActionPlan.updatedByDisplayName }}</p>
  <p class="govuk-body"><a href="{{ vc2goalsUrl }}">View previous goals from Virtual Campus</a></p>
</div>
