{# Goals summary card content for when there was a problem retrieving the prisoner's goals #}

{% from "../../../macros/hmppsError.njk" import hmppsError %}

{{ hmppsError({
  type: 'inset',
  dataQa: 'problem-retrieving-goals',
  text: 'It was not possible to get the prisoner goals at this time. Other information for the Prisoner Profile may still be available. Please try again later.'
}) }}
