.hmpps-file-upload-with-preview {
  &__upload {
    &__visible {
      display: block;
    }

    &__hidden {
      display: none;
    }
  }

  &__photo {
    width: 120px;
    min-width: 120px;
    height: auto;
  }
  
  &__content {
    flex: 1;
  }

  &__file-name {
    // Prevents overflowing the container due to flexbox
    min-width: 0;
    word-break: break-all;
  }

  &__change {
    margin-left: auto;
  }
}