.case-notes-behaviour-prompt,
.case-notes-open {
  display: none;

  &.is-visible {
    display: block;
  }
}

.case-notes-open-warning {
  max-width: 28em;
}

.add-case-note-hint {
  display: block;
  padding-top: 10px;
}