.belief-card {

  padding-bottom: 30px;
  border-top: 1px solid $govuk-border-colour;

  &:last-of-type {
    border-bottom: 1px solid $govuk-border-colour;
    margin-bottom: 30px;
  }

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    .govuk-tag {
      margin-left: 17px;
      @include govuk-font($size: 16, $weight: 'bold');
    }
  }

  &__comments {
    margin-bottom: 15px;
  }
}
