.hmpps-case-note-card-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: min-content;
  gap: 20px;

  padding-bottom: 30px;
  border-bottom: 1px solid govuk-colour('dark-grey');
  margin-bottom: 30px;

  &__content {
  }

  &__sub-title {
    font-size: 16px;
    font-weight: 300;
    color: $govuk-secondary-text-colour;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    color: $govuk-text-colour;
    margin-top: 5px;
    margin-bottom: 8px;
  }

  &__amendments-header {
    font-size: 19px;
    font-weight: bold;
    color: govuk-colour('black');
    margin-top: 15px;
  }

  &__notes {
    font-size: 19px;
    font-weight: 300;
    color: $govuk-text-colour;
    margin-bottom: 20px;
    max-width: 670px;
    word-break: break-word;

    @media (max-width: 1152px) {
      max-width: 570px;
    }
    @media (max-width: 1000px) {
      max-width: 380px;
    }
    @media print {
      max-width: none;
    }
  }

  &__amendment {
    margin-top: 15px;

    &:not(:last-of-type) {
      padding-bottom: 15px;
      border-bottom: 1px dashed govuk-colour('mid-grey');
    }
  }

  &__amendment &__notes {
    margin-bottom: 15px;
  }

  &__metadata {
    font-size: 19px;
    font-weight: 300;
    color: $govuk-text-colour;
  }

  &__header + &__metadata {
    margin-bottom: 15px;
  }

  &__link {
    white-space: nowrap;

    a {
      display: block;
    }

    a + a {
      margin-top: 20px;
    }
  }
}
