.staff-contacts-card {
  dl {
    margin-bottom: 8px;
  }
}

.non-association-summary {
  height: calc(100% - 15px);

  div.govuk-summary-list__row--no-border {
    height: 100%;

    & > div {
      display: flex;
      flex-direction: column;
      height: calc(100% - 23px);

      :last-child {
        margin-top: auto;
      }
    }
  }
}