.staff-contacts-card {
  dl {
    margin-bottom: 8px;
  }
}

.external-contacts-summary {
  height: calc(100% - 15px);

  div.govuk-summary-list__row--no-border {
    height: 100%;

    & > div {
      display: flex;
      flex-direction: column;
      height: calc(100% - 23px);

      :last-child {
        margin-top: auto;
      }
    }
  }
}

.external-contacts-summary-2 {
  height: calc(100% - 15px);

  div.govuk-summary-list__row--no-border {
    height: 100%;

    & > div {
      display: flex;
      flex-direction: column;
      height: calc(100% - 23px);
    }
  }
}

.mini-card-wrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 23px 30px;

  > .mini-card {
    flex: 1 1 260px;
  }

  // Old overview page layout - delete this once fully moved over to the new layout
  > .mini-card-v1 {
    flex: 1 1 260px;
  }
}

.mini-card--categories {
  --mini-card-lines: 4;
}

.mini-card--incentives {
  height: 100%;
  --mini-card-lines: 6;
}

.mini-card--csra {
  --mini-card-lines: 4;
}

.mini-card--csip {
  --mini-card-lines: 6;
}
