.staff-contacts-card {
  dl {
    margin-bottom: 8px;
  }
}

.mini-card-wrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 23px 30px;

  > .mini-card {
    flex: 1 1 260px;
  }

  // Old overview page layout - delete this once fully moved over to the new layout
  > .mini-card-v1 {
    flex: 1 1 260px;
  }
}

.mini-card--incentives,
.mini-card--categories,
.mini-card--csra,
.mini-card--csip {
  height: 100%;
}
