.hmpps-profile--personal-content {
  .hmpps-alias-details {
    margin-bottom: govuk-spacing(0);
    padding-bottom: govuk-spacing(3);

    @include govuk-media-query($from: tablet) {
      th:first-of-type {
        width: 41.5%;
      }

      th:nth-of-type(2) {
        width: 20%;
      }
    }
  }

  .hmpps-distinguishing-marks {
    img {
      width: 100%;
    }
  }

  .govuk-summary-list__row--no-border .govuk-summary-list__row {
    border-bottom: none !important;
  }

  .govuk-body-s-dd {
    font-size: 1rem;
  }

  .hmpps-recorded-on dd {
    padding-top: 0;
  }

  .govuk-summary-list:not(.govuk-summary-list--bottom-border) {
    // If it's the last-of-type that is not hidden remove bottom border
    div.govuk-summary-list__row:last-of-type {
      border-bottom: none;
    }

    // Or if it's followed by another div remove bottom border
    div.govuk-summary-list__row:has(~ div) {
      border-bottom: none;
    }

    // Unless it's also followed by another div with govuk-summary-list__row or hmpps-conditional-summary-row
    div.govuk-summary-list__row:has(~ div.govuk-summary-list__row:not(.govuk-summary-list__row--hidden)),
    div.govuk-summary-list__row:has(~ div.hmpps-conditional-summary-row),
    div.hmpps-conditional-summary-row:has(~ div.govuk-summary-list__row),
    div.hmpps-conditional-summary-row:has(~ div.hmpps-conditional-summary-row) {
      border-bottom: 1px solid $govuk-border-colour;
    }
  }

  .govuk-summary-list.govuk-summary-list--bottom-border {
    .govuk-summary-list__row:last-of-type {
      border-bottom: 1px solid $govuk-border-colour;
    }
  }

  .govuk-summary-list__key {
    width: 30%;
  }

  .govuk-summary-list__actions {
    width: 13%;
  }

  .govuk-summary-list .govuk-summary-list__value.govuk-summary-list--sub-list--bottom-border {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
  }

  .govuk-summary-list--sub-list {
    margin-top: 0;
    margin-bottom: 0;

    &.govuk-summary-list--bottom-border .govuk-summary-list__row:last-of-type {
      border-bottom: 1px solid $govuk-border-colour !important;
    }

    .govuk-summary-list__key {
      font-weight: normal;
      min-width: 10rem;
    }
  }

  .govuk-summary-list--sub-list--bottom-border {
    border-bottom: 1px solid $govuk-border-colour;
  }

  .govuk-summary-list__actions :not(.hmpps-alias-row) {
    width: 10%;

    @media (max-width: 800px) {
      width: 20%;
    }
  }
}

.additional-identity-numbers-row {
  margin-bottom: 15px;

  a {
    display: inline-block;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}

#identity-numbers {
  .govuk-summary-list__heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 10px;

    @include govuk-media-query($from: tablet) {
      flex-direction: row;
    }

    h3 {
      margin: 0;
    }

    &:first-of-type {
      padding-top: 0;
    }
  }

  .govuk-summary-list__row {
    display: grid;
    border-bottom: 1px solid $govuk-border-colour;

    grid-template-columns: 1fr;

    @include govuk-media-query($from: tablet) {
      grid-template-columns: 30% 57% 13%;
    }

    dt {
      width: auto;
      padding-right: 0;
      margin: 0;

      @include govuk-media-query($from: tablet) {
        grid-row: 1 / span 3;
        grid-column: auto;
      }
    }

    dd {
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: solid 1px $govuk-border-colour;
    }

    .no-bottom-border {
      border-bottom: none !important;
    }

    &:first-of-type h3 {
      padding-top: 10px;
    }

    .govuk-summary-list__value {
      border-bottom: none;
      @include govuk-media-query($from: tablet) {
        margin-left: 20px;
        grid-column: 2;
        border-bottom: solid 1px $govuk-border-colour;
      }
    }

    .govuk-summary-list__actions {
      width: 100%;
      padding-right: 0;

      @include govuk-media-query($from: tablet) {
        grid-column: 3;
      }
    }
  }

  .govuk-summary-list {
    margin-bottom: 0;
  }

  p {
    margin: 0;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  dl {
    &:last-of-type .govuk-summary-list__row:last-of-type {
      border-bottom: none;
    }
  }
}

@keyframes greenToTransparent {
  0% {
    background-color: govuk-tint(govuk-colour('green'), 80%);
  }
  80% {
    background-color: govuk-tint(govuk-colour('green'), 80%);
  }
  100% {
    background-color: transparent;
  }
}

.row-updated {
  background-color: transparent;
  animation: greenToTransparent 3s;
}

.new-arrival .not-entered-tag:not(:has(> span)),
.new-arrival .not-entered-tag > span:nth-of-type(2),
.new-arrival .personal-distinguishing-marks__row__empty dd:first-of-type {
  display: inline-block;
  max-width: 180px;
  margin-top: -2px;
  margin-bottom: -3px;
  padding: 2px 8px 3px;
  text-decoration: none;
  overflow-wrap: break-word;
  color: govuk-shade(govuk-colour('green'), 20%);
  background-color: govuk-tint(govuk-colour('green'), 80%);

  > p {
    margin-bottom: auto;
    color: inherit;
  }
}

.not-entered-tag.not-entered-tag--heading {
  display: inline-block;
  max-width: 180px;
  padding: 5px 8px 4px;
  margin: 5px 0 15px;
  text-decoration: none;
  overflow-wrap: break-word;
  color: govuk-shade(govuk-colour('green'), 20%);
  background-color: govuk-tint(govuk-colour('green'), 80%);

  > p {
    margin-bottom: auto;
    color: inherit;
  }
}

.not-entered-tag.not-entered-tag--wide {
  max-width: 600px !important;
}

.last-updated-summary {
  font-size: 10pt;
}

.govuk-summary-list dd .other-languages-header--list {
  margin-bottom: 8px;
}

.contact-status-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .contact-type-pills {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .contact-change-link {
    margin: 10px 0 15px;
  }
}

.contact-type-pill {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0 15px;
  padding: 11px 13px 11px 35px;
  gap: 5px;
  height: 38px;
  border: 2px solid $govuk-border-colour;
  border-radius: 100px;
}

.contact-type-pill--next-of-kin {
  background-image: url('/assets/images/contacts/next-of-kin.svg');
  background-repeat: no-repeat;
  background-position: 9px center;
}

.contact-type-pill--emergency-contact {
  background-image: url('/assets/images/contacts/emergency-contact.svg');
  background-repeat: no-repeat;
  background-position: 9px center;
}

.contact-additional-details {
  .govuk-summary-list__key {
    width: 16%;
  }

  div.govuk-summary-list__row {
    border-bottom: none !important;
  }

  dl.govuk-summary-list {
    margin-bottom: 0;
  }
}

.hmpps-global-numbers-and-emails {
  &__phones__list,
  &__emails__list {
    & > div {
      padding: 10px 0;
      border-bottom: 1px solid $govuk-border-colour;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &__phone,
  &__email {
    display: flex;
    justify-content: space-between;
  }
}

.hmpps-address {
  &__additional-details {
    width: 95%;

    .govuk-summary-list__key {
      width: 25%;
    }

    dl.govuk-summary-list {
      margin-bottom: 0;
    }
  }

  &__phones__list {
    & > div {
      padding: 5px 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &__phone {
    display: flex;
    justify-content: space-between;
  }

  &__added-date {
    color: $govuk-secondary-text-colour;
  }

  &__break {
    margin-bottom: 30px;
  }
}

.contact-phone-number {
  font-size: 19px;

  &__missing {
    color: #AA2A16;
  }
}
