#profile-photo-print-link {
  font-size: 16px;
  display: inline-block;
  position: relative;
  padding: 5px 5px 5px 33px;
  background-size: 23px 20px;
  background-position-x: 1px;
}

.photo-feedback-banner {
  border: 1px solid #594d00;
  padding: 8px 8px 6px;
  margin-bottom: 15px;
  background: #fff7bf;

  a,
  a:visited {
    color: #594d00 !important;
  }

  a:hover,
  a:active {
    color: #2f2900 !important;
  }

  p {
    @include govuk-font(16);
    color: #594d00;
    margin: 0;
  }
}

.hmpps-profile-photo {
  display: flex;

  &__placeholder,
  &__withheld {
    img {
      width: 170px;
    }
  }

  &__photo {
    img {
      width: 270px;
    }
  }

  &__description {
    margin-left: 30px;
  }
}
