#profile-photo-print-link {
  font-size: 16px;
  display: inline-block;
  position: relative;
  padding: 5px 5px 5px 33px;
  background: url("/assets/images/printer_icon.svg") no-repeat 1px 50%;
  background-size: 23px 20px;
}
