{%- from "govuk/components/file-upload/macro.njk" import govukFileUpload -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% extends "../index.njk" %}
{% set breadCrumbs = [
    {
        text: 'Digital Prison Services',
        href:  "/" | prependBaseUrl
    }
]%}
{% block body %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Upload images</h1>

        <form action="?_csrf={{ csrfToken }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <div class="dps-multi-file-upload">
                <div class="dps-multi-file-upload__uploaded-files ">
                    <h2 class="govuk-heading-m">Files added</h2>
                    <div class="govuk-summary-list dps-multi-file-upload__list">

                    </div>
                </div>

                <div class="dps-multi-file-upload__upload">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="documents">Upload a file</label>
                        <input class="govuk-file-upload dps-multi-file-upload__input" id="documents" name="documents" type="file" multiple="">
                    </div>
                    <button type="submit" class="govuk-button govuk-button--secondary dps-multi-file-upload__button" data-module="govuk-button">
                        Upload image
                    </button>

                </div>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
{% block pageScripts %}
<script src="/assets/js/multiFileUpload.js"></script>
<script src="/assets/js/spike.js"></script>
{% endblock %}