{% macro modal(params) %}
<div id="{{ params.id }}" class="modal-container {{ params.classes }}" hidden data-module="modal" {{ 'data-call=true' if params.call }}>
    <div class="modal-overlay" data-modal-hide></div>
    <dialog class="modal-content" tabindex="0">
        <header>
            <h1 id="{{ params.id }}-modal-title">{{ params.title }}</h1>
            <button class="modal__close-button" data-modal-hide aria-label="Close">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="Union" fill-rule="evenodd" clip-rule="evenodd" d="M17.7209 3.57884L14.4211 0.279013L8.99975 5.70036L3.57865 0.279259L0.27882 3.57909L5.69992 9.00019L0.278967 14.4211L3.5788 17.721L8.99975 12.3L14.421 17.7212L17.7208 14.4214L12.2996 9.00019L17.7209 3.57884Z"/>
                </svg>
            </button>
        </header>
        <section data-modal-body>
            {# Content of modal goes here - can be passed in using `caller()` or populated by JavaScript using `modal.load()` #}
            {% if (params.call) %}
                {{ caller() }}
            {% endif %}
        </section>
    </dialog>
</div>
{% endmacro %}
