:root {
  --modal-width: 300px;
}

.modal-container,
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-container {
  z-index: 2;
  display: flex;
}

.modal-container[hidden] {
  display: none;
}

.modal-overlay {
  background-color: rgb(0 0 0 / 0.6);
}

.modal-content {
  display: block;
  padding: 0;
  margin: auto;
  min-width: 400px;
  max-width: 800px;
  min-height: 300px;
  max-height: 90vh;
  z-index: 2;
  position: relative;
  background-color: govuk-colour('white');
  border: 3px solid govuk-colour('black');

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $govuk-focus-colour;
  }

  header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: govuk-colour('black');
    color: govuk-colour('white');
    margin-top: 0;
    padding: 0 0 0 30px;
    height: 45px;

    h1 {
      font-size: 19px;
      font-weight: 700;
      margin: 0;
    }

    .modal__close-button {
      all: unset;
      width: 40px;
      height: 40px;
      text-align: center;
      padding-top: 3px;
      margin-top: -3px;
      cursor: pointer;

      svg {
        fill: govuk-colour('white');
      }

      &:hover, &:focus {
        background-color: govuk-colour('yellow');
        svg {
          fill: govuk-colour('black');
        }
      }
    }
  }

  section {
    padding: 15px 30px 0 30px;
    max-height: calc(90vh - 70px);
    min-height: calc(var(--modal-width) - 70px);
    overflow: auto;

    svg {
      width: 50px;
      display: block;
      margin: calc((var(--modal-width) / 2) - 70px) auto auto;

      .spinner_OSmW {
        transform-origin: center;
        animation: spinner_T6mA .75s step-end infinite
      }

      @keyframes spinner_T6mA {
        8.3% {
          transform: rotate(30deg)
        }
        16.6% {
          transform: rotate(60deg)
        }
        25% {
          transform: rotate(90deg)
        }
        33.3% {
          transform: rotate(120deg)
        }
        41.6% {
          transform: rotate(150deg)
        }
        50% {
          transform: rotate(180deg)
        }
        58.3% {
          transform: rotate(210deg)
        }
        66.6% {
          transform: rotate(240deg)
        }
        75% {
          transform: rotate(270deg)
        }
        83.3% {
          transform: rotate(300deg)
        }
        91.6% {
          transform: rotate(330deg)
        }
        100% {
          transform: rotate(360deg)
        }
      }
    }
  }
}