{# Goals summary card content for when the prisoner has no goals #}

<p class="govuk-!-margin-bottom-2">The careers information, advice and guidance (CIAG) team set these goals. They do not include sentence plan targets.</p>
<p class="govuk-body">[First name] has no previous goals recorded in Virtual Campus (VC2)</p>
<p class="govuk-body"><a href="">Add goals in the Learning and work progress service.</a></p>
