{# Goals summary card content for when the prisoner has both PLP and VC2 goals #}

<p class="govuk-body">The careers information, advice and guidance (CIAG) team set these goals. They do not include sentence plan targets.</p>
{# for goal in PLP goals #}
  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Goal [goal number]</h3>
  <div class="hmpps-goal-container">
    {{ govukSummaryList({
      classes: "hmpps-font-weight-normal",
      rows: "[Goal description]",
    }) }}
  </div>
{# endfor #}
<p class="govuk-body"><a href="">View goals in the Learning and work progress service</a></p>
<p class="govuk-body hmpps-secondary-text govuk-!-margin-bottom-2">Last updated: [Date] by [Name]</p>
<p class="govuk-body"><a href="">View previous goals from Virtual Campus</a></p>
