{# Goals summary card content for when there was a problem retrieving the prisoner's goals #}

<div data-qa="problem-retrieving-goals">
  <p>It was not possible to get the prisoner Goals at this time. Other information for the Prisoner Profile may still be available.</p>
  <p>Please try again later.</p>
</div>
