{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- call summaryCard({title: "Addresses", id: "addresses"}) -%}
  <div class="govuk-grid-row" data-qa="addresses">
    <div class="govuk-grid-column-full">
      {% if addresses and addresses.noFixedAddress %}
        <p>No fixed abode.</p>
      {% elseif addresses and addresses.isPrimaryAddress %}
      <p class="govuk-body">Primary</p>
      {{ govukSummaryList({
          classes: 'govuk-summary-list--bottom-border',
          rows: addressSummary
      }) }}
      <p class="govuk-body">Added on <span data-qa="address-added-on">{{ addresses.addedOn | formatDate }}</span></p>
      {% elseif addresses and not addresses.isPrimaryAddress %}
        <p>No active, primary address entered.</p>
      {% else %}
        <p>You cannot view this prisoner’s addresses.</p>
      {% endif %}
    </div>
  </div>
{%- endcall -%}
