{% from "../../macros/summaryListRow.njk" import summaryListRow %}
{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% macro mark(info) %}
  {% if info.bodyPart %}
    <p class="govuk-body govuk-!-margin-bottom-1" data-qa="mark-body-part">{{ info.bodyPart }}</p>
  {% endif %}

  {% if info.side or info.orientation or info.comment or info.imageId %}
    <details class="govuk-details" data-module="govuk-details" data-qa="distinguishing-mark">
      <summary class="govuk-details__summary govuk-!-display-none-print">
        <span class="govuk-details__summary-text">View details</span>
      </summary>
      <div class="govuk-details__text">
        {% if info.side %}
          <p class="govuk-body govuk-!-margin-bottom-1" data-qa="mark-side">
            <span class="govuk-!-font-weight-bold">Side</span><br />
            {{ info.side }}
          </p>
        {% endif %}
        {% if info.orientation %}
          <p class="govuk-body govuk-!-margin-bottom-1" data-qa="mark-orientation">
            <span class="govuk-!-font-weight-bold">Orientation</span><br />
            {{ info.orientation }}
          </p>
        {% endif %}
        {% if info.comment %}
          <p class="govuk-body govuk-!-margin-bottom-1" data-qa="mark-comment">
            <span class="govuk-!-font-weight-bold">Comment</span><br />
            {{ info.comment }}
          </p>
        {% endif %}
        {% if info.imageId %}
          <p class="govuk-body">
            <img src="/api/image/{{ info.imageId }}" alt="Image of {{ info.type }}" data-qa="mark-image" />
          </p>
        {% endif %}
      </div>
    </details>
  {% endif %}
{% endmacro %}

{%- call summaryCard({title: "Appearance", id: "appearance"}) -%}
  {% set listClasses = 'govuk-summary-list--bottom-border' if physicalCharacteristics.distinguishingMarks.length %}
  <div class="govuk-grid-row" data-qa="appearance">
    <div class="govuk-grid-column-full" data-qa="physical-characteristics">
      <h3 class="govuk-heading-m">Physical characteristics</h3>
      {{
        govukSummaryList({
        classes: listClasses,
        rows: [
        "Height" | summaryListRowWithOptionalChangeLink(physicalCharacteristics.height, "personal/edit/height", { changeLinkEnabled: editEnabled, rowUpdated: flashMessage.fieldName === 'height' } ),
        "Weight" | summaryListRowWithOptionalChangeLink(physicalCharacteristics.weight, "personal/edit/weight/imperial", { changeLinkEnabled: editEnabled, rowUpdated: flashMessage.fieldName === 'weight' } ),
        "Hair type or colour" | summaryListRowWithOptionalChangeLink(
          physicalCharacteristics.hairColour, "personal/edit/hair",
          { changeLinkEnabled: editEnabled, rowUpdated: flashMessage.fieldName === 'hair' }
        ),
        {key: { text: "Left eye colour"}, value: { text: physicalCharacteristics.leftEyeColour } },
        {key: { text: "Right eye colour"}, value: { text: physicalCharacteristics.rightEyeColour } },
        "Facial hair" | summaryListRowWithOptionalChangeLink(
          physicalCharacteristics.facialHair, "personal/edit/facial-hair",
          { changeLinkEnabled: editEnabled, rowUpdated: flashMessage.fieldName === 'facialHair', hiddenText: 'facial hair type' }
        ),
        "Shape of face" | summaryListRowWithOptionalChangeLink(
          physicalCharacteristics.shapeOfFace, "personal/edit/face-shape",
          { changeLinkEnabled: editEnabled, rowUpdated: flashMessage.fieldName === 'faceShape', hiddenText: 'face shape' }
        ),
        "Build" | summaryListRowWithOptionalChangeLink(
          physicalCharacteristics.build, "personal/edit/build",
          { changeLinkEnabled: editEnabled, rowUpdated: flashMessage.fieldName === 'build' }
        ),
        {key: { text: "Shoe size"}, value: { text: physicalCharacteristics.shoeSize } },
        {key: { text: "Warned about tattooing"}, value: { text: physicalCharacteristics.warnedAboutTattooing } },
        {key: { text: "Warned not to change appearance"}, value: { text: physicalCharacteristics.warnedNotToChangeAppearance } }
        ]
        })
      }}
      {% if physicalCharacteristics.distinguishingMarks.length > 0 %}
        <h3 class="govuk-heading-m">Distinguishing marks</h3>
        <dl class="govuk-summary-list hmpps-distinguishing-marks" data-qa="distinguishing-marks">
          {% for m in physicalCharacteristics.distinguishingMarks %}
            {{ summaryListRow(m.type, mark(m), "distinguishing-mark") }}
          {% endfor %}
        </dl>
      {% endif %}
    </div>
  </div>
{%- endcall -%}
