{% from "../../macros/summaryListRow.njk" import summaryListRow %}
{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% macro careNeed(info) %}
  <p class="govuk-body" data-qa="description">{{ info.description }}</p>
  <p class="govuk-body" data-qa="comment">{{ info.comment }}</p>
  {% if info.agency %}
    <p class="govuk-body-s hmpps-secondary-text" data-qa="added-on">
      Added on {{ info.startDate | formatDate }} at {{ info.agency }}
    </p>
  {% else %}
    <p class="govuk-body-s hmpps-secondary-text" data-qa="added-on">Added on {{ info.startDate | formatDate }}</p>
  {% endif %}

  {% if showReasonableAdjustmentsWithCareNeeds %}
    {% if info.reasonableAdjustments.length > 0 %}
      <details class="govuk-details" data-module="govuk-details" data-qa="reasonable-adjustments-list">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Support given</span>
        </summary>
        {% for adjustment in info.reasonableAdjustments %}
          <div class="govuk-details__text" data-qa="reasonable-adjustment">
            <p class="govuk-body govuk-!-margin-bottom-1" data-qa="adjustment-description">
              {{ adjustment.description }}
            </p>
            <p class="govuk-body govuk-!-margin-bottom-1" data-qa="adjustment-comment">{{ adjustment.comment }}</p>
            <p class="govuk-body-s  hmpps-secondary-text govuk-!-margin-bottom-1" data-qa="adjustment-added-by">
              Added by {{ adjustment.agency }} on
            </p>
            <p class="govuk-body-s hmpps-secondary-text" data-qa="adjustment-added-on">
              {{ adjustment.startDate | formatDate }}
            </p>
          </div>
        {% endfor %}
      </details>
    {% endif %}
  {% endif %}
{% endmacro %}
{%- call summaryCard({title: "Care needs", id: "care-needs"}) -%}
  <div class="govuk-grid-row" data-qa="care-needs">
    <div class="govuk-grid-column-full">
      {% if careNeeds.personalCareNeeds.length or careNeeds.reasonableAdjustments.length %}
        <dl class="govuk-summary-list" data-qa="care-needs-list">
          {% for need in careNeeds.personalCareNeeds %}
            {{ summaryListRow(need.type, careNeed(need), "care-need") }}
          {% endfor %}
          {% if not showReasonableAdjustmentsWithCareNeeds %}
            {% for need in careNeeds.reasonableAdjustments %}
              {{ summaryListRow(need.type, careNeed(need), "reasonable-adjustment") }}
            {% endfor %}
          {% endif %}
        </dl>
      {% else %}
        <p>No care needs have been entered.</p>
      {% endif %}
    </div>
  </div>
{%- endcall -%}
