{% from "../../macros/summaryListRow.njk" import summaryListRow %}
{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% macro careNeed(info) %}
  <p class="govuk-body" data-qa="description">{{ info.description }}</p>
  <p class="govuk-body" data-qa="comment">{{ info.comment }}</p>
  <p class="govuk-body-s hmpps-secondary-text" data-qa="added-on">Added on {{ info.startDate | formatDate }}</p>

  {% if info.reasonableAdjustments.length > 0 %}
    <details class="govuk-details" data-module="govuk-details" data-qa="reasonable-adjustments-list">
      <summary class="govuk-details__summary govuk-!-display-none-print">
        <span class="govuk-details__summary-text">Support given</span>
      </summary>
      {% for adjustment in info.reasonableAdjustments %}
        <div class="govuk-details__text" data-qa="reasonable-adjustment">
          <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold" data-qa="adjustment-description">
            {{ adjustment.description }}
          </p>
          <p class="govuk-body govuk-!-margin-bottom-1" data-qa="adjustment-comment">{{ adjustment.comment }}</p>
          <p class="govuk-body-s  hmpps-secondary-text govuk-!-margin-bottom-1" data-qa="adjustment-added-by">
            Added by {{ adjustment.agency }} on
          </p>
          <p class="govuk-body-s hmpps-secondary-text" data-qa="adjustment-added-on">
            {{ adjustment.startDate | formatDate }}
          </p>
        </div>
      {% endfor %}
    </details>
  {% endif %}
{% endmacro %}
{%- call summaryCard({title: "Care needs", id: "care-needs"}) -%}
  <div class="govuk-grid-row" data-qa="care-needs">
    <div class="govuk-grid-column-full">
      {% if careNeeds.length %}
        <dl class="govuk-summary-list {{ 'govuk-summary-list--bottom-border' if hasPastCareNeeds }}" data-qa="care-needs-list">
          {% for need in careNeeds %}
            {{ summaryListRow(need.type, careNeed(need), "care-need") }}
          {% endfor %}
        </dl>
        {% if hasPastCareNeeds %}
        <p><a class="govuk-link govuk-link--no-visited-state" href="/prisoner/{{ prisonerNumber }}/past-care-needs" data-qa="past-care-needs-link">Past care needs</a></p>
        {% endif %}
      {% else %}
        <p>No care needs have been entered.</p>
      {% endif %}
    </div>
  </div>
{%- endcall -%}
