{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set groupedDistinguishingMarks = distinguishingMarks | groupDistinguishingMarks %}
{% set highlightConfig = groupedDistinguishingMarks.highlights %}

{% macro distinguishingMark(info) %}
    {% if info and info | length %}
        {% for bodyPart, marks in info %}
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        {{ bodyPart | capitalize }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    {% for mark in marks %}
                        <dl>
                            <div class="personal-distinguishing-marks__row__populated__row">
                                <dt class="personal-distinguishing-marks__row__mark__row__key">Location</dt>
                                <dd class='govuk-!-margin-left-0'>{{ mark.location }} </dd>
                            </div>

                            <div class="personal-distinguishing-marks__row__mark__row">
                                <dt class="personal-distinguishing-marks__row__mark__row__key">Description</dt>
                                <dd class='govuk-!-margin-left-0'>{{ mark.comment or "Not entered" }}</dd>
                            </div>
                        </dl>
                    {% endfor %}
                </div>
            </details>
        {% endfor %}
    {%  else %}
        Not entered
    {% endif %}
{% endmacro %}

<h3 class="govuk-heading-m">Distinguishing marks</h3>
<div class='personal-distinguishing-marks'>
    <div class='personal-distinguishing-marks__image-container govuk-!-padding-left-3 govuk-!-padding-right-8'>
        <img src='/assets/images/distinguishingMarks/base-person.svg' class='dm-base-image' width='300' height='572' alt=""/>
        {% for highlight in highlightConfig %}
            <img src="{{ highlight.asset }}" class="{{ highlight.class }}" alt="" />
        {% endfor %}
    </div>
    <div class='personal-distinguishing-marks__info'>
        <dl>
            <div class="personal-distinguishing-marks__row personal-distinguishing-marks__row__{{ "empty" if not groupedDistinguishingMarks.tattoos | length else "populated" }}">
                <dt class="personal-distinguishing-marks__row__key">Tattoos {{ groupedDistinguishingMarks.tattoos.length }}</dt>
                <dd>{{ distinguishingMark(groupedDistinguishingMarks.tattoos) }}</dd>
            </div>

            <div class="personal-distinguishing-marks__row personal-distinguishing-marks__row__{{ "empty" if not groupedDistinguishingMarks.scars | length else "populated" }}">
                <dt class="personal-distinguishing-marks__row__key">Scars</dt>
                <dd >{{ distinguishingMark(groupedDistinguishingMarks.scars) }}</dd>
            </div>

            <div class="personal-distinguishing-marks__row personal-distinguishing-marks__row__{{ "empty" if not groupedDistinguishingMarks.others | length else "populated" }}">
                <dt class="personal-distinguishing-marks__row__key">Other marks</dt>
                <dd>{{ distinguishingMark(groupedDistinguishingMarks.others) }}</dd>
            </div>
        </dl>
    </div>
</div>


