{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% macro contact(contactInfo) %}
  <div class="hmpps-contact">
    {% if contactInfo.emergencyContact | default(false) %}
      <p class="hmpps-contact__emergency-contact">Emergency contact</p>
    {% endif %}
    <p class="hmpps-contact__next-of-kin">Next of kin</p>
    <p class="hmpps-contact__name">{{ contactInfo.name }}</p>
    <p class="hmpps-contact__relationship">{{ contactInfo.relationship }}</p>
    <p class="hmpps-contact__contact-number">{{ contactInfo.phoneNumber }}</p>
    <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">View details</span>
      </summary>
      <div class="govuk-details__text">
        {{ govukSummaryList({
        rows: [
          { key: { text: "Email"}, value: { text: "Placeholder"} },
          { key: { text: "Address"}, value: { text: "Placeholder"} },
          { key: { text: "Address phone"}, value: { text: "Placeholder"} },
          { key: { text: "Address type"}, value: { text: "Placeholder"} }
        ]
      }) }}
      </div>
    </details>
  </div>
{% endmacro %}
{%- call summaryCard({title: "Emergency contacts and next of kin", id: "emergency-contacts"}) -%}
  <div class="govuk-grid-row" data-qa="emergency-contacts">
    <div class="govuk-grid-column-full">
      {{ contact({emergencyContact: true, name: "Simon Jones", relationship: "Brother", phoneNumber: "01234 123123"}) }}
      <hr class="govuk-section-break govuk-section-break--visible" />
      {{ contact({emergencyContact: true, name: "Deborah Jones", relationship: "Sister", phoneNumber: "01234 123123"}) }}
      <hr class="govuk-section-break govuk-section-break--visible" />
      {{ contact({name: "Laura Dearing", relationship: "Sister", phoneNumber: "01234 123123"}) }}
    </div>
  </div>
{%- endcall -%}
