{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "../../macros/summaryListRow.njk" import summaryListRow %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set notEnteredTag %}
<p class="govuk-body not-entered-tag">Not entered</p>
{% endset %}
{% set phonesHtml %}
<div class="hmpps-global-numbers-and-emails__phones__list">\
  {% if globalNumbersAndEmails.status === 'fulfilled' %}
    {% for x in globalNumbersAndEmails.value.phones %}
      <div class="hmpps-global-numbers-and-emails__phone">
        <div class="hmpps-global-numbers-and-emails__phone__details">
          <p class="govuk-body govuk-!-margin-0 govuk-!-font-weight-bold">{{ x.typeDescription }}</p>
          <p class="govuk-body govuk-!-margin-0">{{ x.number | formatPhoneNumber }}</p>
          {% if x.extension %}
            <p class="govuk-body govuk-!-margin-0">Ext: {{ x.extension }}</p>
          {% endif %}
        </div>
        {% if isGranted(CorePersonRecordPermission.edit_phone_numbers, prisonerPermissions) %}
          <div class="hmpps-global-numbers-and-emails__phone__change">
            <a class="govuk-link govuk-link--no-visited-state" href="personal/change-phone-number/{{ x.id }}">
              Change
            </a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endset %}
{% set emailsHtml %}
<div class="hmpps-global-numbers-and-emails__phones__list">
  {% if globalNumbersAndEmails.status === 'fulfilled' %}
    {% for x in globalNumbersAndEmails.value.emails %}
      <div class="hmpps-global-numbers-and-emails__email">
        <div class="hmpps-global-numbers-and-emails__email__details">
          <p class="govuk-body govuk-!-margin-0">{{ x.email }}</p>
        </div>
        {% if isGranted(CorePersonRecordPermission.edit_email_addresses, prisonerPermissions) %}
          <div class="hmpps-global-numbers-and-emails__email__change">
            <a class="govuk-link govuk-link--no-visited-state" href="personal/change-email-address/{{ x.id }}">
              Change
            </a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endset %}
{%- call summaryCard({
  title: "Phone numbers and email addresses", 
  id: "phones-and-emails", 
  actions: [
    { href: 'personal/add-phone-number', text: 'Add a phone number' } if isGranted(CorePersonRecordPermission.edit_phone_numbers, prisonerPermissions) and globalNumbersAndEmails.status === 'fulfilled',
    { href: 'personal/add-email-address', text: 'Add an email address' } if isGranted(CorePersonRecordPermission.edit_email_addresses, prisonerPermissions) and globalNumbersAndEmails.status === 'fulfilled'
  ]
}) -%}

{% if globalNumbersAndEmails.status === 'fulfilled' %}
  <div class="govuk-grid-row" data-qa="addresses">
    <div class="govuk-grid-column-full hmpps-global-numbers-and-emails">
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        {{ summaryListRow("Phone numbers", phonesHtml if globalNumbersAndEmails.value.phones.length > 0 else notEnteredTag, "phone-numbers", { html: true, classes: "row-updated" if flashMessage.fieldName === "phoneNumber" else "" }) }}
        {{ summaryListRow("Email addresses", emailsHtml if globalNumbersAndEmails.value.emails.length > 0 else notEnteredTag, "email-addresses", { html: true, classes: "row-updated" if flashMessage.fieldName === "emailAddress" else "" }) }}
      </dl>
    </div>
  </div>
{% else %}
  <p class="hmpps-api-error-inset govuk-!-margin-bottom-3" data-qa="global-numbers-and-emails-api-error">
    {{ unavailableApiErrorText }}
  </p>
{% endif %}

{%- endcall -%}