{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "macros/summaryCardMacro.njk" import summaryCard %}
{% from "macros/summaryListRow.njk" import summaryListRow %}
{% from "macros/hmppsError.njk" import hmppsError %}

{% set notEnteredTag %}
  <p class="not-entered-tag">Not entered</p>
{% endset %}

{% set phonesHtml %}
  <div class="hmpps-global-numbers-and-emails__phones__list">
    {% if globalNumbersAndEmails.status === 'fulfilled' %}
      {% for phone in globalNumbersAndEmails.value.phones %}
        <div class="hmpps-global-numbers-and-emails__phone">
          <div class="hmpps-global-numbers-and-emails__phone__details">
            <p class="govuk-!-margin-0 govuk-!-font-weight-bold">{{ phone.typeDescription }}</p>
            <p class="govuk-!-margin-0">{{ phone.number | formatPhoneNumber }}</p>
            {% if phone.extension %}
              <p class="govuk-!-margin-0"><span aria-label="Extension">Ext</span>: {{ phone.extension }}</p>
            {% endif %}
          </div>
          {% if isGranted(CorePersonRecordPermission.edit_phone_numbers, prisonerPermissions) %}
            <div class="hmpps-global-numbers-and-emails__phone__change">
              <a class="govuk-link govuk-link--no-visited-state" href="personal/change-phone-number/{{ phone.id }}">
                Change <span class="govuk-visually-hidden">{{ phone.typeDescription }} number {{ phone.number }} {% if phone.extension %} <span aria-label="extension">ext</span> {{ phone.extension }} {% endif %}</span>
              </a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endset %}

{% set emailsHtml %}
  <div class="hmpps-global-numbers-and-emails__phones__list">
    {% if globalNumbersAndEmails.status === 'fulfilled' %}
      {% for email in globalNumbersAndEmails.value.emails %}
        <div class="hmpps-global-numbers-and-emails__email">
          <div class="hmpps-global-numbers-and-emails__email__details">
            <p class="govuk-!-margin-0">{{ email.email }}</p>
          </div>
          {% if isGranted(CorePersonRecordPermission.edit_email_addresses, prisonerPermissions) %}
            <div class="hmpps-global-numbers-and-emails__email__change">
              <a class="govuk-link govuk-link--no-visited-state" href="personal/change-email-address/{{ email.id }}">
                Change <span class="govuk-visually-hidden">{{ email.email }}</span>
              </a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endset %}

{%- call summaryCard({
  title: "Phone numbers and email addresses",
  id: "phones-and-emails",
  actions: [
    { href: 'personal/add-phone-number', text: 'Add a phone number' } if isGranted(CorePersonRecordPermission.edit_phone_numbers, prisonerPermissions) and globalNumbersAndEmails.status === 'fulfilled',
    { href: 'personal/add-email-address', text: 'Add an email address' } if isGranted(CorePersonRecordPermission.edit_email_addresses, prisonerPermissions) and globalNumbersAndEmails.status === 'fulfilled'
  ]
}) -%}

{% if globalNumbersAndEmails.status === 'fulfilled' %}
  <div class="govuk-grid-row" data-qa="addresses">
    <div class="govuk-grid-column-full hmpps-global-numbers-and-emails">
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        {{ summaryListRow("Phone numbers", phonesHtml if globalNumbersAndEmails.value.phones.length > 0 else notEnteredTag, "phone-numbers", { html: true, classes: "row-updated" if flashMessage.fieldName === "phoneNumber" else "" }) }}
        {{ summaryListRow("Email addresses", emailsHtml if globalNumbersAndEmails.value.emails.length > 0 else notEnteredTag, "email-addresses", { html: true, classes: "row-updated" if flashMessage.fieldName === "emailAddress" else "" }) }}
      </dl>
    </div>
  </div>
{% else %}
  {{ hmppsError({
    type: 'inset',
    classes: 'govuk-!-margin-bottom-3',
    dataQa: 'global-numbers-and-emails-api-error',
    text: unavailableApiErrorText
  }) }}
{% endif %}

{%- endcall -%}
