{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "../../macros/summaryListRow.njk" import summaryListRow %}
{% from "../../macros/summaryListSectionHeading.njk" import summaryListSectionHeading %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro identityNumbersWithComment(identityNumbers, options) %}
  {% set editable = options.editable | default(true) %}

  {% if identityNumbers.length > 0 %}
    {% for identityNumber in identityNumbers %}
      <div class="identity-number-sub-row govuk-!-padding-top-2">
        <div>
          <p class="govuk-body">{{ identityNumber.value }}</p>
          {% if identityNumber.comment %}
            <p class="govuk-body-s">
              <strong>Comment</strong>
              <br />
              {{ identityNumber.comment }}
            </p>
          {% endif %}
        </div>
        {% if editable and editEnabled and isGranted(CorePersonRecordPermission.edit_identifiers, prisonerPermissions) %}
          <div class="action-link-container">
            <a class="govuk-link govuk-link--no-visited-state" href="/prisoner/{{ prisonerNumber }}/personal/{{ identityNumber.editPageUrl }}/{{ identityNumber.offenderId }}-{{ identityNumber.sequenceId }}">Change</a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  {% elseif not options.hideIfEmpty %}
    <div class="identity-number-sub-row">
      <div>
        <p class="govuk-body not-entered-tag">Not entered</p>
      </div>
      {% if editable and editEnabled and isGranted(CorePersonRecordPermission.edit_identifiers, prisonerPermissions) %}
        <div class="action-link-container">
          <a class="govuk-link govuk-link--no-visited-state" href="/prisoner/{{ prisonerNumber }}/personal/{{ identityNumber.editPageUrl }}/{{ identityNumber.offenderId }}-{{ identityNumber.sequenceId }}">Change</a>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{% macro identityNumber(name, identityNumbers, options) %}
  {% set id = identityNumbers[0].editPageUrl | d("prison-number") %}
  {% set updatedFields = flashMessage.fieldName | d("") %}
  {% set rowClasses %}
    {{ "row-updated" if ("'" + id + "-row'") in updatedFields else "" }}
  {% endset %}
  {% if identityNumbers.length > 0 or not options.hideIfEmpty %}
    {{ summaryListRow(name, identityNumbersWithComment(identityNumbers, options), id, {html: true, classes: rowClasses}) }}
  {% endif %}
{% endmacro %}

{% set showAdditionalIdRow = not hasPersonalId or not hasHomeOfficeId %}

{%- call summaryCard({title: "Identity numbers", id: "identity-numbers" }) -%}
  <div class="govuk-grid-row" data-qa="identity-numbers">
    <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list">
        {# This pseudo-row required to allow us to control the width of the columns because the first element #}
        {# (the justice numbers section heading) would otherwise be a table-row #}
        <dt class="govuk-summary-list__key pseudo-row"></dt><dd class="govuk-summary-list__value pseudo-row"></dd>

        {% set identityNumberEditEnabled = editEnabled and isGranted(CorePersonRecordPermission.edit_identifiers, prisonerPermissions) %}

        {{ summaryListSectionHeading("Justice numbers", "justice-numbers", { enabled: identityNumberEditEnabled, href: "/prisoner/" + prisonerNumber + "/personal/justice-id-numbers", text: "Add justice ID numbers" }) }}
        {{ identityNumber("Prison number", [{ value: identityNumbers.justice.prisonNumber }], { editable: false }) }}
        {{ identityNumber("PNC number", identityNumbers.justice.pncNumber) }}
        {{ identityNumber("CRO number", identityNumbers.justice.croNumber, { hideIfEmpty: true }) }}
        {{ identityNumber("Prison legacy system number", identityNumbers.justice.prisonLegacySystemNumber, { hideIfEmpty: true }) }}
        {{ identityNumber("Local Inmate Data System (LIDS) number", identityNumbers.justice.localInmateDataSystemNumber, { hideIfEmpty: true, editable: false }) }}
        {{ identityNumber("Probation legacy system number", identityNumbers.justice.probationLegacySystemNumber, { hideIfEmpty: true }) }}
        {{ identityNumber("Scottish PNC number", identityNumbers.justice.scottishPncNumber, { hideIfEmpty: true }) }}
        {{ identityNumber("Youth Justice Application Framework (YJAF) number", identityNumbers.justice.yjafNumber, { hideIfEmpty: true }) }}

        {% if hasPersonalId %}
          {{ summaryListSectionHeading("Personal numbers", "personal-numbers", { enabled: identityNumberEditEnabled, href: "/prisoner/" + prisonerNumber + "/personal/personal-id-numbers", text: "Add personal ID numbers" }) }}
          {{ identityNumber("Driving licence number", identityNumbers.personal.drivingLicenceNumber, { hideIfEmpty: true }) }}
          {{ identityNumber("National Insurance number", identityNumbers.personal.nationalInsuranceNumber, { hideIfEmpty: true }) }}
          {{ identityNumber("Parkrun number", identityNumbers.personal.parkrunNumber, { hideIfEmpty: true }) }}
          {{ identityNumber("Passport number", identityNumbers.personal.passportNumber, { hideIfEmpty: true }) }}
          {{ identityNumber("Staff ID card number", identityNumbers.personal.staffIdentityCardNumber, { hideIfEmpty: true }) }}
          {{ identityNumber("Unique learner number (ULN)", identityNumbers.personal.uniqueLearnerNumber, { hideIfEmpty: true }) }}
        {% endif %}

        {% if hasHomeOfficeId %}
          {{ summaryListSectionHeading("Home office numbers", "home-office-numbers", { enabled: identityNumberEditEnabled, href: "/prisoner/" + prisonerNumber + "/personal/home-office-id-numbers", text: "Add Home Office ID numbers" }) }}
          {{ identityNumber("Case Information Database (CID) number", identityNumbers.homeOffice.caseInformationDatabase, { hideIfEmpty: true }) }}
          {{ identityNumber("Home Office reference number", identityNumbers.homeOffice.homeOfficeReferenceNumber, { hideIfEmpty: true }) }}
          {{ identityNumber("Port reference number", identityNumbers.homeOffice.portReferenceNumber, { hideIfEmpty: true }) }}
        {% endif %}

        {% if showAdditionalIdRow and identityNumberEditEnabled %}
          <div class="govuk-summary-list__row additional-identity-numbers-row" data-qa="additional-identity-numbers-section-heading">
            <div>
              <h3>Additional identity numbers</h3>
              {% if not hasPersonalId %}
                <a class="govuk-link govuk-link--no-visited-state" href="/prisoner/{{ prisonerNumber }}/personal/personal-id-numbers">Add personal ID numbers</a><br />
              {% endif %}
              {% if not hasHomeOfficeId %}
                <a class="govuk-link govuk-link--no-visited-state" href="/prisoner/{{ prisonerNumber }}/personal/home-office-id-numbers">Add Home Office ID numbers</a><br />
              {% endif %}
            </div>
          </div>
        {% endif %}
      </dl>
    </div>
  </div>
{%- endcall -%}
