{% from "../../macros/summaryListRow.njk" import summaryListRow %}
{% from "../../macros/otherLanguagesText.njk" import otherLanguagesText %}

{% if inUsersCaseLoad %}
  <dl
    class="govuk-summary-list govuk-summary-list--bottom-border govuk-!-margin-bottom-0 {{ 'row-updated' if flashMessage.fieldName === 'languages' }}"
    data-qa="languages"
  >
    <div class="govuk-summary-list__row govuk-!-border-none">
      <dt class="govuk-summary-list__key govuk-!-padding-top-2">Languages</dt>
      <dd class="govuk-summary-list__value govuk-summary-list--sub-list govuk-!-padding-bottom-2">
        <span class="anchor-center" id="main-language"></span>
        <span class="govuk-!-font-weight-bold govuk-!-display-block">Main language</span>
        {% if not (personalDetails.languages.spoken or personalDetails.languages.written) %}
          <div data-qa="no-language-entered" class="not-entered-tag">Not entered</div>
        {% else %}
          <div data-qa="spoken-language">
            {% if personalDetails.languages.spoken %}
              {{ personalDetails.languages.spoken }}
              {{ "(interpreter required)" if personalDetails.languages.interpreterRequired }}
            {% endif %}
          </div>
          <div data-qa="written-language">
            {% if personalDetails.languages.written and personalDetails.languages.written != personalDetails.languages.spoken %}
              {{ personalDetails.languages.written }}
              (written)
            {% endif %}
          </div>
        {% endif %}
      </dd>
      <dd class="govuk-summary-list__actions govuk-!-padding-right-0 hmpps-width-4 govuk-summary-list--sub-list">
        {% if editEnabled and isGranted(PersonCommunicationNeedsPermission.edit_language, prisonerPermissions) %}
          <a
            class="govuk-link govuk-link--no-visited-state"
            href="/prisoner/{{ prisonerNumber }}/personal/main-language"
          >
            Change<span class="govuk-visually-hidden"> main language</span>
          </a>
        {% endif %}
      </dd>
    </div>
    <div class="govuk-summary-list__row {{ 'govuk-!-border-none' if personalDetails.otherLanguages.length > 0 }}">
      <dt class="govuk-summary-list__key govuk-!-padding-top-2"></dt>
      <dd class="govuk-summary-list__value govuk-summary-list--sub-list govuk-!-padding-bottom-0">
        <span class="anchor-center" id="other-languages"></span>
        <span
          class="govuk-!-font-weight-bold govuk-!-display-block {{ 'other-languages-header--list' if personalDetails.otherLanguages.length > 0 }}"
          >Other languages</span
        >
        {% if personalDetails.otherLanguages.length == 0 %}
          <div class="govuk-!-margin-bottom-2 not-entered-tag" data-qa="no-other-languages-entered">Not entered</div>
        {% endif %}
      </dd>
      <dd
        class="govuk-summary-list__actions govuk-!-padding-right-0 govuk-!-padding-bottom-0 hmpps-width-4 govuk-summary-list--sub-list"
      >
        {% if editEnabled and isGranted(PersonCommunicationNeedsPermission.edit_language, prisonerPermissions) %}
          <a
            class="govuk-link govuk-link--no-visited-state"
            href="/prisoner/{{ prisonerNumber }}/personal/other-languages"
          >
            Add<span class="govuk-visually-hidden"> other language</span>
          </a>
        {% endif %}
      </dd>
    </div>
    {% for language in personalDetails.otherLanguages %}
      <div class="govuk-summary-list__row {{ 'govuk-!-border-none' if not loop.last }}">
        <dt class="govuk-summary-list__key govuk-!-padding-top-0"></dt>
        <dd
          class="govuk-summary-list__value govuk-summary-list--sub-list govuk-!-padding-top-0 {{ 'hmpps-border-bottom govuk-!-padding-bottom-0' if not loop.last }}"
        >
          <div>
            <dl class="govuk-summary-list--sub-list govuk-summary-list">
              {{ summaryListRow(language.language, otherLanguagesText(language, true), "other-language-"+language.code) }}
            </dl>
          </div>
        </dd>
        <dd
          class="govuk-summary-list__actions govuk-!-padding-right-0 hmpps-width-4 govuk-summary-list--sub-list {{ 'hmpps-border-bottom govuk-!-padding-bottom-0' if not loop.last }}"
        >
          {% if editEnabled and isGranted(PersonCommunicationNeedsPermission.edit_language, prisonerPermissions) %}
            <a
              class="govuk-link govuk-link--no-visited-state"
              href="/prisoner/{{ prisonerNumber }}/personal/other-languages/{{ language.code }}"
            >
              Change<span class="govuk-visually-hidden"> {{ language.description }} as other language</span>
            </a>
          {% endif %}
        </dd>
      </div>
    {% endfor %}
  </dl>
{% else %}
  <div class="govuk-summary-list__row  govuk-summary-list__row--hidden ">
    <dt class="govuk-summary-list__key">
      <span data-qa="hidden-languages-key">Languages</span>
    </dt>
    <dd class="govuk-summary-list__value"></dd>
  </div>
{% endif %}
