{% from "../../macros/summaryListRow.njk" import summaryListRow %}
{% macro otherLanguagesText(language) %}
  {% if language.canSpeak and language.canWrite and language.canRead %}
  {# Intentionally blank #}
  {% elif language.canSpeak and language.canWrite %}
    writes and speaks only
  {% elif language.canSpeak and language.canRead %}
    reads and speaks only
  {% elif language.canWrite and language.canRead %}
    reads and writes only
  {% elif language.canWrite %}
    writes only
  {% elif language.canRead %}
    reads only
  {% elif language.canSpeak %}
    speaks only
  {% endif %}
{% endmacro %}
{% macro languagesHtml(personalDetails) %}
  {% if not (personalDetails.languages.spoken or personalDetails.languages.written) %}
    <p class="govuk-body" data-qa="no-language-entered">No language entered</p>
  {% else %}
  <p class="govuk-body" data-qa="spoken-language">
    {% if personalDetails.languages.spoken %}
      {{ personalDetails.languages.spoken }}
      {{ "(interpreter required)" if personalDetails.languages.interpreterRequired }}
    {% endif %}
  </p>
  <p class="govuk-body" data-qa="written-language">
    {% if personalDetails.languages.written and personalDetails.languages.written != personalDetails.languages.spoken %}
      {{ personalDetails.languages.written }}
      (written)
    {% endif %}
  </p>
  {% endif %}
  {% if personalDetails.otherLanguages.length %}
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary govuk-!-display-none-print">
      <span class="govuk-details__summary-text">View other languages</span>
    </summary>
    <div class="govuk-details__text" data-qa="other-languages-list">
      <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
        {% for language in personalDetails.otherLanguages %}
          {{ summaryListRow(language.language, otherLanguagesText(language), "other-language-" + language.code) }}
        {% endfor %}
      </dl>
    </div>
  </details>
  {% endif %}
{% endmacro %}