{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "../../macros/summaryListRow.njk" import summaryListRow %}
{% from "./languages.njk" import languagesHtml %}
{% from "./religionHistory.njk" import religionHistoryHtml %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set aliases = [] %}
{% for alias in personalDetails.aliases %}
  {% set aliases = (aliases.push([{text: alias.alias | title}, {text: alias.dateOfBirth}]), aliases) %}
{% endfor %}
{% set dateOfBirthText %}
  {{ personalDetails.dateOfBirth }}
  ({{ personalDetails.age.years }} years, {{ personalDetails.age.months | pluralise('month')}} old)
{% endset %}
{%- call summaryCard({title: "Personal details", id: "personal-details"}) -%}
  <div class="govuk-grid-row" data-qa="personal-details">
    <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
        {{ summaryListRow("Full name", personalDetails.fullName | title, "full-name") }}
      </dl>

      {% if aliases.length > 0 %}
        <details class="govuk-details hmpps-alias-details" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-display-none-print">
            <span class="govuk-details__summary-text">View aliases</span>
          </summary>
          <div class="govuk-details__text" data-qa="alias-list">
            {{ govukTable({ head: [ { text: "Alias" }, { text: "Alias date of birth" } ], rows: aliases }) }}
          </div>
        </details>
      {% else %}
        <p class="govuk-body hmpps-secondary-text">No aliases have been entered</p>
      {% endif %}

      <hr class="govuk-section-break govuk-section-break--visible" />
      <dl class="govuk-summary-list">
        {{ summaryListRow("Preferred name", personalDetails.preferredName, "preferred-name", { hideIfEmpty: true }) }}
        {{ summaryListRow("Date of birth", dateOfBirthText, "date-of-birth") }}
        {%- call conditionallyShow({condition: prisonerBelongsToUsersCaseLoad(prisonId, user.caseLoads), id: 'place-of-birth', visibleClasses: 'hmpps-conditional-summary-row'}) -%}
          {{ summaryListRow("Place of birth", personalDetails.placeOfBirth | title, "place-of-birth") }}
        {%- endcall -%}
        {{ summaryListRow("Nationality", personalDetails.nationality, "nationality") }}
        {{ summaryListRow("Other nationalities", personalDetails.otherNationalities, "other-nationalities", { hideIfEmpty: true }) }}
        {{ summaryListRow("Ethnic group", personalDetails.ethnicGroup, "ethnic-group") }}
        {%- call conditionallyShow({condition: prisonerBelongsToUsersCaseLoad(prisonId, user.caseLoads), id: 'religion-or-belief', visibleClasses: 'hmpps-conditional-summary-row'}) -%}
          {{ summaryListRow("Religion or belief", religionHistoryHtml(personalDetails.religionOrBelief, hasCurrentBelief, identityNumbers.prisonNumber), "religion-or-belief", { html: true }) }}
        {%- endcall -%}
        {{ summaryListRow("Sex", personalDetails.sex, "sex") }}
        {%- call conditionallyShow({condition: prisonerBelongsToUsersCaseLoad(prisonId, user.caseLoads), id: 'sexual-orientation', visibleClasses: 'hmpps-conditional-summary-row'}) -%}
          {{ summaryListRow("Sexual orientation", personalDetails.sexualOrientation, "sexual-orientation") }}
        {%- endcall -%}
        {%- call conditionallyShow({condition: prisonerBelongsToUsersCaseLoad(prisonId, user.caseLoads), id: 'personal-details', visibleClasses: 'hmpps-conditional-summary-row'}) -%}
          {{ summaryListRow("Marriage or civil partnership status", personalDetails.marriageOrCivilPartnership, "marriage-or-civil-partnership") }}
          {{ summaryListRow("Number of children", personalDetails.numberOfChildren, "number-of-children") }}
          {{ summaryListRow("Languages", languagesHtml(personalDetails), "languages", { html: true }) }}
          {{ summaryListRow("Type of diet", personalDetails.typeOfDiet, "type-of-diet") }}
          {{ summaryListRow("Smoker or vaper", personalDetails.smokerOrVaper, "smoker-or-vaper") }}
          {{ summaryListRow("Youth offender", personalDetails.youthOffender, "youth-offender") }}
          {{ summaryListRow("Domestic abuse perpetrator", personalDetails.domesticAbusePerpetrator, "domestic-abuse-perpetrator", { hideIfEmpty: true }) }}
          {{ summaryListRow("Domestic abuse victim", personalDetails.domesticAbuseVictim, "domestic-abuse-victim", { hideIfEmpty: true }) }}
          {{ summaryListRow("Social care needed", personalDetails.socialCareNeeded, "social-care-needed", { hideIfEmpty: true }) }}
        {%- endcall -%}
      </dl>
    </div>
  </div>
{%- endcall -%}
