{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "../../macros/summaryListRow.njk" import summaryListRow %}
{% from "./languages.njk" import languagesHtml %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set aliases = [] %}
{% for alias in personalDetails.aliases %}
  {% set aliases = (aliases.push([{text: alias.alias | title}, {text: alias.dateOfBirth}]), aliases) %}
{% endfor %}
{% set dateOfBirthText %}
  {{ personalDetails.dateOfBirth }}
  ({{ personalDetails.age }} years old)
{% endset %}
{%- call summaryCard({title: "Personal details", id: "personal-details"}) -%}
  <div class="govuk-grid-row" data-qa="personal-details">
    <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
        {{ summaryListRow("Full name", personalDetails.fullName | title, "full-name") }}
      </dl>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">View aliases</span>
        </summary>
        <div class="govuk-details__text" data-qa="alias-list">
          {{ govukTable({
            head: [
              {
                text: "Alias"
              },
              {
                text: "Alias date of birth"
              }
            ],
            rows: aliases
          }) }}
        </div>
      </details>

      <hr class="govuk-section-break govuk-section-break--visible" />
      <dl class="govuk-summary-list">
        {{ summaryListRow("Preferred name", personalDetails.preferredName, "preferred-name", { hideIfEmpty: true }) }}
        {{ summaryListRow("Date of birth", dateOfBirthText, "date-of-birth") }}
        {{ summaryListRow("Place of birth", personalDetails.placeOfBirth | title, "place-of-birth") }}
        {{ summaryListRow("Nationality", personalDetails.nationality, "nationality") }}
        {{ summaryListRow("Other nationalities", personalDetails.otherNationalities, "other-nationalities", { hideIfEmpty: true }) }}
        {{ summaryListRow("Ethnic group", personalDetails.ethnicGroup, "ethnic-group") }}
        {{ summaryListRow("Religion or belief", personalDetails.religionOrBelief, "religion-or-belief") }}
        {{ summaryListRow("Sex", personalDetails.sex, "sex") }}
        {{ summaryListRow("Sexual orientation", personalDetails.sexualOrientation, "sexual-orientation") }}
        {{ summaryListRow("Marriage or civil partnership status", personalDetails.marriageOrCivilPartnership, "marriage-or-civil-partnership") }}
        {{ summaryListRow("Number of children", personalDetails.numberOfChildren, "number-of-children") }}
        {{ summaryListRow("Languages", languagesHtml(personalDetails), "languages", { html: true }) }}
        {{ summaryListRow("Types of diet", personalDetails.typeOfDiet, "type-of-diet") }}
        {{ summaryListRow("Smoker of vaper", personalDetails.smokerOrVaper, "smoker-or-vaper") }}
        {{ summaryListRow("Domestic abuse perpetrator", personalDetails.domesticAbusePerpetrator, "domestic-abuse-perpetrator", { hideIfEmpty: true }) }}
        {{ summaryListRow("Domestic abuse victim", personalDetails.domesticAbuseVictim, "domestic-abuse-victim", { hideIfEmpty: true }) }}
        {{ summaryListRow("Social care needed", personalDetails.socialCareNeeded, "social-care-needed", { hideIfEmpty: true }) }}
      </dl>
    </div>
  </div>
{%- endcall -%}
