{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% macro propertyItem(info) %}
  <div class="hmpps-property" data-qa="property-item">
    <p class="hmpps-property__container-type" data-qa="container-type">Property: {{ info.containerType }}</p>
    {{ govukSummaryList({
          rows: [
            { key: { text: "Seal mark"}, value: { text: info.sealMark} },
            { key: { text: "Location"}, value: { text: info.location} }
          ]
      }) }}
  </div>
{% endmacro %}
{%- call summaryCard({title: "Property", id: "property"}) -%}
  <div class="govuk-grid-row" data-qa="property">
    <div class="govuk-grid-column-full">
      {% if not property.length %}
        <p>No property entered.</p>
      {% endif %}
      {% for item in property %}
        {{ propertyItem({containerType: item.containerType, sealMark: item.sealMark, location: item.location}) }}
      {% endfor %}
    </div>
  </div>
{%- endcall -%}
