{% macro religionHistoryHtml(religion, hasCurrentBelief, prisonerNumber) %}
    <div>{{ religion }}</div>
    {% if religion !== 'Not entered' and hasCurrentBelief %}
    <a class="govuk-link govuk-link--no-visited-state govuk-!-display-none-print" href="/prisoner/{{ prisonerNumber }}/religion-belief-history">Religion or belief history</a>
    {% endif %}
{% endmacro %}