{% macro religionHistoryHtml(religion, prisonerNumber) %}
    <div>{{ religion }}</div>
    {% if religion !== 'Not entered' %}
    <a class="govuk-link govuk-link--no-visited-state" href="/prisoner/{{ prisonerNumber }}/religion-belief-history">Religion or belief history</a>
    {% endif %}
{% endmacro %}