{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{%- call summaryCard({title: "Security", id: "security"}) -%}
  <div class="govuk-grid-row" data-qa="security">
    <div class="govuk-grid-column-full">
      {% if security.xrays.total > 0 %}
        <div class="hmpps-xray govuk-!-margin-bottom-3" data-qa="security-xrays">
          <div class="hmpps-xray__total">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <p class="govuk-body hmpps-xray__label">X-ray body scans</p>
                <p class="govuk-body-s govuk-!-margin-bottom-0" data-qa="xrays-since">Since {{ security.xrays.since | formatDate }}</p>
              </div>
              <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body hmpps-xray__total" data-qa="total-xrays">{{ security.xrays.total }}</p>
              </div>
            </div>
          </div>
        </div>
        {% if security.interestToImmigration == "Yes" %}
          <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3" />
        {% endif %}
      {% endif %}
      {% if security.interestToImmigration == "Yes" %}
        <div class="govuk-warning-text govuk-!-margin-bottom-3" data-qa="interest-to-immigration">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <div class="govuk-warning-text__text">
            <strong>
              <span class="govuk-warning-text__assistive">Warning</span>
              Interest to immigration
            </strong>
          </div>
        </div>
        {% if security.travelRestrictions %}
          <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3" />
        {% endif %}
      {% endif %}
      {% if security.travelRestrictions %}
        <div class="govuk-warning-text" data-qa="travel-restrictions">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <div class="govuk-warning-text__text">
            <strong>
              <span class="govuk-warning-text__assistive">Warning</span>
              Travel restrictions
            </strong>
            <br />
            <span class="govuk-!-font-weight-regular">
              {{ security.travelRestrictions }}
            </span>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{%- endcall -%}
