{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{%- call summaryCard({title: "Security", id: "security"}) -%}
  <div class="govuk-grid-row" data-qa="security">
    <div class="govuk-grid-column-full">
      {{ govukWarningText({
        text: "Interest to immigration",
        iconFallbackText: "Warning"
      }) }}
      {{ govukWarningText({
        text: "Travel restrictions",
        iconFallbackText: "Warning"
      }) }}
    </div>
  </div>
{%- endcall -%}
