{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- call summaryCard({title: "Security", id: "security"}) -%}
  <div class="govuk-grid-row" data-qa="security">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">
        Interest to immigration
      </p>
      <p class="govuk-body">
        Travel restrictions
      </p>
    </div>
  </div>
{%- endcall -%}
