{% extends "../edit/editPage.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/bodyParts.njk" import bodyParts %}

{% set pageTitle -%}
  Select where the {{ markType }} is - Prisoner personal details
{%- endset %}

{% block form %}
<span class="govuk-caption-l">Distinguishing marks</span>
<h1 class="govuk-heading-l">Select where the {{ markType }} is</h1>

<form id="body-part-form" method="post" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <input type="hidden" name="bodyPart" value="{{ selected }}" />

    <div id="body-part-selection" class="govuk-form-group {{ "govuk-form-group--error" if errors[0].href === '#body-part-selection' }}">

        <p data-qa="explanation-text">
            You can only select one body part at a time. You can add more {{ markType }}s for this person later.
        </p>

        {% if errors[0].href === '#body-part-selection' %}
            <p id="body-part-selection-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select a body part.
            </p>
        {% endif %}

        {{ bodyParts({
            id: 'select-body-part',
            selected: selected,
            controlsField: 'bodyPart'
        }) }}
    </div>

    <div class="govuk-button-group">
        {{ govukButton({ text: "Continue to add details", attributes: { name: "action", value: "continue" }, type: "submit" }) }}
        {{ govukButton({ text: "Save and return to profile", attributes: { name: "action", value: "returnToProfile" }, type: "submit", classes: "govuk-button--secondary"}) }}
        <a href="{{ cancelUrl }}" class="govuk-link govuk-link--no-visited-state">Cancel</a>
    </div>
</form>

{% endblock %}
