{% extends "../edit/editPage.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "components/miniBanner/miniBanner.njk" import miniBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from '../../components/fileUploadWithPreview/macro.njk' import fileUploadWithPreview %}
{% set pageTitle = "Add " + markType + " photo - Prisoner personal details" %}
{% set heading = "Add the photo of the " + markType %}
{% block form %}
  <form id="add-photo-form" method="post" enctype="multipart/form-data" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <span class="govuk-caption-l">Distinguishing marks</span>
    <h1 class="govuk-heading-l">
      {{ heading }}
    </h1>
    <div class="govuk-form-group">
      {{ fileUploadWithPreview("file") }}
    </div>
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save and return",
        type: "submit",
        attributes: { name: "action", value: "returnToMarkSummary" }
      }) }}
      {{ govukButton({
        text: "Save and add another photo",
        type: "submit",
        classes: "govuk-button--secondary",
        attributes: { name: "action", value: "addAnotherPhoto" }
      }) }}
      <a href="{{ cancelUrl }}" class="govuk-link govuk-link--no-visited-state">Cancel</a>
    </div>
  </form>
{% endblock %}
