{% extends "../index.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "components/miniBanner/miniBanner.njk" import miniBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% set pageTitle = "Add " + markType + " photo - Prisoner personal details" %}
{% set heading = "Add the photo of the " + markType %}

{% block body %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ miniBanner({prisonerName: prisonerName, prisonerNumber: prisonerNumber}) }}
    </div>
</div>

{% if errors.length > 0 %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{
            govukErrorSummary({
                titleText: "There is a problem",
                errorList: errors,
                attributes: { 'data-qa-errors': true },
                classes: 'govuk-!-margin-bottom-6'
            })
            }}
        </div>
    </div>
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="add-photo-form" method="post" enctype="multipart/form-data" autocomplete="off">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <span class="govuk-caption-l">Distinguishing marks</span>
            <h1 class="govuk-heading-l">
                {{ heading }}
            </h1>

            <div id="mark-preview-image-container" class="govuk-visually-hidden">
                <div class="image-preview">
                    <img id="mark-image-preview" width="150px"/>
                    <p id="mark-image-filename"></p>
                </div>
                <div>
                    <a id="change-photo-link" class="govuk-link govuk-link--no-visited-state" data-qa="change-photo-link">Change</a>
                </div>
            </div>

            <div id="mark-add-photo-upload-control">
                {{ govukFileUpload({
                    id: "file",
                    name: "file",
                    hint: {
                        text: "Photos can be JPG or GIF files."
                    },
                    errorMessage: errors | findError("file")
                }) }}
            </div>

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Save and return",
                    type: "submit",
                    attributes: { name: "action", value: "returnToMarkSummary" }
                }) }}
                {{ govukButton({
                    text: "Save and add another photo",
                    type: "submit",
                    classes: "govuk-button--secondary",
                    attributes: { name: "action", value: "addAnotherPhoto" }
                }) }}
                <a href="{{ refererUrl }}" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block pageScripts %}
    <script src="/assets/js/distinguishingMarkAddImage.js"></script>
{% endblock %}