{% extends "../edit/editPage.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/bodyParts.njk" import bodyParts %}

{% set pageTitle -%}
  Change where the {{ markType }} is - Prisoner personal details
{%- endset %}

{% if errors.length > 0 %}
  {% set selected = "" %}
{% endif %}

{% block form %}
<span class="govuk-caption-l">Distinguishing marks</span>
<h1 class="govuk-heading-l">Change where the {{ markType }} is</h1>

<form id="body-part-form" method="post" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <input type="hidden" name="bodyPart" value="{{ selected }}" />

    <div id="body-part-selection" class="govuk-form-group {{ "govuk-form-group--error" if errors.length > 0 }}">

        <p data-qa="explanation-text">
            You can only select one body part at a time.
        </p>

        {% if errors.length > 0 %}
            <p id="body-part-selection-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select a body part.
            </p>
        {% endif %}

        {{ bodyParts({
            id: 'change-body-part',
            selected: selected,
            controlsField: 'bodyPart'
        }) }}
    </div>

    <div class="govuk-button-group">
        {{ govukButton({ text: "Save and continue", type: "submit" }) }}
        <a href="{{ cancelUrl }}" class="govuk-link govuk-link--no-visited-state">Cancel</a>
    </div>
</form>

{% endblock %}
