{% from "components/warningIcon/warningIcon.njk" import warningIcon %}
<div class="govuk-grid-row hmpps-duplicate-prisoner-banner-container">
  <div class="govuk-grid-column-full">
    <div class="hmpps-duplicate-prisoner-banner" data-qa="duplicate-prisoner-banner">
      <div class="hmpps-duplicate-prisoner-banner__icon-wrapper">
        {{ warningIcon('hmpps-duplicate-prisoner-banner__icon') }}
      </div>
      <div class="hmpps-duplicate-prisoner-banner__content">
        <p class="hmpps-duplicate-prisoner-banner__title">
          <strong>Possible duplicate profiles found.</strong>
          There may be other details available about this person.
          <a href="/prisoner/{{ prisonerNumber }}/possible-duplicate-profiles" class="govuk-link govuk-link--no-visited-state">View duplicate profiles</a>
        </p>
      </div>
    </div>
  </div>
</div>
