{% from "./macros/statusListMacro.njk" import statusList %}
{% from "./miniSummaryBoxes/miniSummaryBoxList.njk" import  miniSummaryListMacro %}
{% from "./miniSummaryBoxes/macro.njk" import  miniSummaryMacro %}
<div class="govuk-grid-row">
  <section class="govuk-grid-column-full" aria-label="Status List">
    {{ statusList(statuses) }}
  </section>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" data-qa="overview-mini-summary-group-a">
    {{ miniSummaryListMacro(miniSummaryGroupA) }}
  </div>
</div>
<div class="govuk-grid-row hmpps-miniSummaryWrapper">
  <div class="govuk-grid-column-one-third">
    {% include "./alerts/alerts.njk" %}
  </div>
  <div class="govuk-grid-column-two-thirds">
    {% include "./staffContacts/staffContacts.njk" %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "./personalDetails/personalDetails.njk" %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" data-qa="overview-mini-summary-group-b">
    {{ miniSummaryListMacro(miniSummaryGroupB) }}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {%- call conditionallyShow({condition: prisonerBelongsToUsersCaseLoad(prisonId, user.caseLoads), id: 'overview-schedule'}) -%}
      {% include "./schedule/schedule.njk" %}
    {%- endcall -%}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" data-qa="overview-offences">
    {% include "./offences/offences.njk" %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {%- call conditionallyShow({condition: prisonerBelongsToUsersCaseLoad(prisonId, user.caseLoads), id: 'overview-non-associations'}) -%}
      {% include "./nonAssociations/nonAssociations.njk" %}
    {%- endcall -%}
  </div>
</div>
