{% from "./macros/statusListMacro.njk" import statusList %}
{% from "./miniSummaryBoxes/miniSummaryBoxList.njk" import  miniSummaryListMacro %}

<div class="govuk-grid-row">
  <section class="govuk-grid-column-full" aria-label="Status List">
    {{ statusList(statuses) }}
  </section>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" data-qa="overview-mini-summary-group-a">
    {{ miniSummaryListMacro(miniSummaryParamGroupA) }}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "./staffContacts/staffContacts.njk" %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "./personalDetails/personalDetails.njk" %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" data-qa="overview-mini-summary-group-b">
    {{ miniSummaryListMacro(miniSummaryParamGroupB) }}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "./schedule/schedule.njk" %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "./nonAssociations/nonAssociations.njk" %}
  </div>
</div>
