{% from "./macros/actionsBlockMacro.njk" import actionsBlock %}

<div class="govuk-grid-row">
  <aside class="govuk-grid-column-full">
    {{ actionsBlock() }}
  </aside>
</div>
<div class="govuk-grid-row">
  <aside class="govuk-grid-column-full">
    {% include "./moreInfoBlock/moreInfoBlock.njk" %}
  </aside>
</div>
