{% from "macros/summaryCardMacro.njk" import summaryCard %}
{% from "macros/xrayBodyScanCount.njk" import xrayBodyScanCount %}

{% if xrayBodyScanSummary and xrayBodyScanLatest %}
  {% set xrayBodyScanSummary = xrayBodyScanSummary.getOrNull() %}
  {% set summaryCardActions = [] %}
  {% if xrayBodyScanSummary and xrayBodyScanSummary.recordScanUrl %}
    {% set _ = summaryCardActions.push({
      text: 'Record a new scan',
      href: xrayBodyScanSummary.recordScanUrl
    }) %}
  {% endif %}

  {% call summaryCard({
    title: 'X-ray body scans',
    id: 'xray-body-scan-card',
    actions: summaryCardActions
  }) %}
    {% if xrayBodyScanSummary %}
      <div class="xray-body-scan-card__columns">
        <div class="xray-body-scan-card__column xray-body-scan-card__summary" data-qa="xxray-body-scan-card__summary">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
            Scans in {{ xrayBodyScanSummary.fromScanDate.getFullYear() }}
          </h3>
          {{ xrayBodyScanCount(xrayBodyScanSummary) }}

          {% if xrayBodyScanSummary.nomisCount > 0 %}
            <p class="govuk-!-margin-top-3 govuk-!-font-size-16 hmpps-secondary-text">
              Scan total includes DPS and legacy records<span class="govuk-visually-hidden">.</span>
            </p>
          {% endif %}
        </div>

        <div class="xray-body-scan-card__column">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
            Last scan date
          </h3>
          {% set xrayBodyScanLatestError = not xrayBodyScanLatest.isFulfilled() %}
          {% set xrayBodyScanLatest = xrayBodyScanLatest.getOrNull() %}
          {% if xrayBodyScanLatestError %}

            {{ hmppsError({
              type: 'inset',
              dataQa: 'xray-body-scan-card--latest-unavailable',
              text: unavailableApiErrorText
            }) }}

          {% elseif xrayBodyScanLatest %}

            <p class="govuk-!-margin-bottom-1" data-qa="xray-body-scan-card__latest-date">
              {{ xrayBodyScanLatest.scanDate | formatDate('short') }}
            </p>

            {% if xrayBodyScanLatest.outcomeDescription %}
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                Result
              </h3>
              <p class="govuk-!-margin-bottom-1" data-qa="xray-body-scan-card__latest-outcome">
                {{ xrayBodyScanLatest.outcomeDescription }}
              </p>
            {% endif %}

          {% else %}

            <p class="govuk-!-margin-bottom-1" data-qa="xray-body-scan-card__no-scans">
              No scans recorded
            </p>

          {% endif %}
        </div>
      </div>

      <p>
        <a href="{{ xrayBodyScanSummary.viewHistoryUrl }}">Check body scan details</a>
      </p>

    {% else %}

      {{ hmppsError({
        type: 'inset',
        dataQa: 'xray-body-scan-card--summary-unavailable',
        text: unavailableApiErrorText
      }) }}

    {% endif %}
  {% endcall %}
{% endif %}
