{% from "../../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- call summaryCard({title: "Staff contacts"}) -%}

  <div class="govuk-grid-row staff-contacts-card" data-qa="staff-contacts">
    <div class="govuk-grid-column-full">

      {% set keyWorkerHtml %}
        <p class="govuk-body" data-qa="keyworker-details">
          {% if staffContacts.keyWorker.status === 'fulfilled' %}
            {% set keyWorker = staffContacts.keyWorker.value %}
            {{ keyWorker.name }}
            {% if(keyWorker.lastSession) %}
              - last session: {{ keyWorker.lastSession  }}
            {% else %}
               - No previous session
            {% endif %}
          {% else %}
             {{ standardApiErrorText() }}
          {% endif %}
        </p>
      {% endset %}

      {% if staffContacts.communityOffenderManager.status === 'fulfilled' %}
        {% set communityOffenderManager = staffContacts.communityOffenderManager.value %}
      {% else %}
        {% set communityOffenderManager = standardApiErrorText() %}
      {% endif %}

      {{ govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: [
            {
              key: {
                text: "Key worker"
              },
              value: {
                html: keyWorkerHtml
              }
            },
            {
              key: {
                text: "Prison Offender Manager"
              },
              value: {
                text: staffContacts.prisonOffenderManager or "Not assigned"
              }
            },
            {
              key: {
                text: "Co-working Prison Offender Manager"
              },
              value: {
                text: staffContacts.coworkingPrisonOffenderManager or "Not assigned"
              }
            },
            {
              key: {
                text: "Community Offender Manager"
              },
              value: {
                text: communityOffenderManager
              }
            }
          ] | summaryListOneHalfWidth
        }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">
        <a class="govuk-link--no-visited-state govuk-!-display-none-print" href="/prisoner/{{ prisonerNumber }}/professional-contacts">Professional contacts</a>
      </p>
    </div>
  </div>
{%- endcall -%}
