{% from "components/miniCard/miniCard.njk" import miniCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% if staffContacts.callFailed %}
  {% set cuspOfficer = unavailablePlaceholderText %}
  {% set cuspOfficerBackup = unavailablePlaceholderText %}
  {% set youthJusticeWorker = unavailablePlaceholderText %}
  {% set resettlementPractitioner = unavailablePlaceholderText %}
  {% set youthJusticeService = unavailablePlaceholderText %}
  {% set youthJusticeServiceCaseManager = unavailablePlaceholderText %}
{% else %}
  {% set cuspOfficer = staffContacts.cuspOfficer or 'Not assigned' %}
  {% set cuspOfficerBackup = staffContacts.cuspOfficerBackup or 'Not assigned' %}
  {% set youthJusticeWorker = staffContacts.youthJusticeWorker or 'Not assigned' %}
  {% set resettlementPractitioner = staffContacts.resettlementPractitioner or 'Not assigned' %}
  {% set youthJusticeService = staffContacts.youthJusticeService or 'Not assigned' %}
  {% set youthJusticeServiceCaseManager = staffContacts.youthJusticeServiceCaseManager or 'Not assigned' %}
{% endif %}

{%- call miniCard({
  heading: "Staff contacts",
  id: "staff-contacts",
  linkHref: "/prisoner/" + prisonerNumber + "/professional-contacts" if not staffContacts.callFailed,
  linkLabel: "Professional contacts"
}, "staff-contacts-card", staffContacts.callFailed) -%}

  {{ govukSummaryList({
    classes: 'govuk-summary-list--no-border',
    rows: [
      { key: { text: "CuSP Officer" }, value: { text: cuspOfficer } },
      { key: { text: "CuSP Officer (backup)" }, value: { text: cuspOfficerBackup } },
      { key: { text: "Youth Justice Worker" }, value: { text: youthJusticeWorker } },
      { key: { text: "Resettlement Practitioner" }, value: { text: resettlementPractitioner } },
      { key: { text: "Youth Justice Service" }, value: { text: youthJusticeService } },
      { key: { text: "Youth Justice Service Case Manager" }, value: { text: youthJusticeServiceCaseManager } }
    ] | summaryListOneHalfWidth
  }) }}

{%- endcall -%}
