<div class="photo-feedback-banner">
  <span class="govuk-!-font-weight-bold">You can now upload photos in DPS</span>. <a
    href="{{ config.serviceUrls.dpsHomepage }}/whats-new/upload-prisoner-photo" class="govuk-link" target="_blank" rel="noopener noreferrer">Find out more</a> and <a
    href="https://www.smartsurvey.co.uk/s/HVIX77/" class="govuk-link" target="_blank"
    rel="noopener noreferrer">give feedback</a> (opens in a new tab)
</div>
