{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../../partials/layout.njk" %}

{% set mainClasses = "govuk-body" %}
{% set hideBackLink = true %}
{% set breadCrumbs = [
    {
        text: 'Digital Prison Services',
        href:  "/" | prependBaseUrl
    },
    {
        text: prisonerName,
        href: "/prisoner/" + prisonerNumber
    }
] %}

{% block content %}
    {% block body %}

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">{{ heading }}</h1>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Appointment details</h2>

                {{ govukSummaryList({
                    classes: 'govuk-summary-list--no-border appointment-details-list',
                    rows: [
                        {
                            key: {
                                text: "Type",
                                classes: 'govuk-!-padding-bottom-6'
                            },
                            value: {
                                text: appointmentType
                            }
                        },
                        {
                            key: {
                                text: "Probation team"
                            },
                            value: {
                                text: probationTeam
                            }
                        } if appointmentTypeCode == 'VLPM',
                        {
                            key: {
                                text: "Location",
                                classes: 'govuk-!-padding-bottom-6'
                            },
                            value: {
                                text: location
                            }
                        },
                        {
                            key: {
                                text: "Probation officer’s full name"
                            },
                            value: {
                                text: "Not yet known" if officerDetailsNotKnown else officerFullName
                            }
                        } if appointmentTypeCode == 'VLPM',
                        {
                            key: {
                                text: "Email address"
                            },
                            value: {
                                text: "Not yet known" if officerDetailsNotKnown else officerEmail
                            }
                        } if appointmentTypeCode == 'VLPM',
                        {
                            key: {
                                text: "UK phone number",
                                classes: 'govuk-!-padding-bottom-6'
                            },
                            value: {
                                text: "Not yet known" if officerDetailsNotKnown else (officerTelephone or "None entered")
                            }
                        } if appointmentTypeCode == 'VLPM',
                        {
                            key: {
                                text: "Meeting type",
                                classes: 'govuk-!-padding-bottom-6'
                            },
                            value: {
                                text: meetingType
                            }
                        } if appointmentTypeCode == 'VLPM',
                        {
                            key: {
                                text: "Date"
                            },
                            value: {
                                text: date
                            }
                        },
                        {
                            key: {
                                text: "Start time"
                            },
                            value: {
                                text: startTime
                            }
                        },
                        {
                            key: {
                                text: "End time"
                            },
                            value: {
                                text: endTime
                            }
                        }
                    ],
                    attributes: {"data-qa": "appointment-details-list__common"}
                }) }}

                {% if recurring === 'yes' %}
                    {{ govukSummaryList({
                        classes: 'govuk-summary-list--no-border appointment-details-list',
                        rows: [
                            {
                                key: {
                                text: "Recurring"
                            },
                                value: {
                                text: recurring | title
                            }
                            },
                            {
                                key: {
                                text: "Repeats"
                            },
                                value: {
                                text: repeats
                            }
                            },
                            {
                                key: {
                                text: "Number added"
                            },
                                value: {
                                text: numberAdded
                            }
                            },
                            {
                                key: {
                                text: "Last appointment"
                            },
                                value: {
                                text: lastAppointmentDate
                            }
                            }
                        ],
                        attributes: {"data-qa": "appointment-details-list__recurring"}
                    }) }}
                {% endif %}

                {% if appointmentTypeCode == 'VLPM' %}
                    {{ govukSummaryList({
                        classes: 'govuk-summary-list--no-border appointment-details-list',
                        rows: [
                            {
                                key: {
                                    text: "Notes for prison staff"
                                },
                                value: {
                                    text: notesForStaff or 'None entered'
                                }
                            },
                            {
                                key: {
                                    text: "Notes for prisoner"
                                },
                                value: {
                                    text: notesForPrisoners or 'None entered'
                                }
                            }
                        ],
                        attributes: {"data-qa": "appointment-details-list__probation"}
                    }) }}
                {% else %}
                {{ govukSummaryList({
                    classes: 'govuk-summary-list--no-border appointment-details-list',
                    rows: [
                        {
                            key: {
                                text: "Comment"
                            },
                            value: {
                                text: comment
                            }
                        }
                    ],
                    attributes: {"data-qa": "appointment-details-list__comments"}
                }) }}
                {% endif %}

                <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-8">
                    <a href="{{ movementSlipUrl }}" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer">Print movement slip</a>
                </div>

                <div class="govuk-button-group">
                    {{ govukButton({ text: "Add more appointments", href: addMoreUrl }) }}
                    <a href="{{ profileUrl }}" class="govuk-link govuk-link--no-visited-state">Back to prisoner’s profile</a>
                </div>
            </div>
        </div>

    {% endblock %}
{% endblock %}
