{% extends "../../partials/layout.njk" %}
{% macro labelAndValue(label, value, isPre) %}
    <div class="movement-slip__section__values">
        <div>
            <strong>{{label}}</strong>
        </div>
        {% if isPre === true %}
            <pre class="govuk-body">{{ value if value else "--" }}</pre>
        {% else %}
            <span>{{ value if value else "--" }}</span>
        {% endif %}
    </div>
{% endmacro %}

{% set pageTitle = 'Movement authorisation' %}
{% set htmlClasses = "printed-page" %}

{% block header %}{% endblock %}

{% block content %}
    <div class="movement-slip">
        <h1 class="govuk-heading-m">Movement authorisation</h1>
        <div class="movement-slip__section">
            {{ labelAndValue('Name', prisonerName.firstLast) }}
            {{ labelAndValue('Prison number', prisonerNumber) }}
            {{ labelAndValue('Cell location', cellLocation) }}
        </div>

        <div class="movement-slip__section">
            {{ labelAndValue('Date and time', date +' ' + startTime + ' to ' + endTime) }}
            {{ labelAndValue('Moving to', location) }}
            {{ labelAndValue('Reason', appointmentType) }}

            {% if (appointmentTypeCode in ['VLB', 'VLPM']) %}
                {# BVLS appointments show only the notes for prisoners on movement slips #}
                {{ labelAndValue('Comments', notesForPrisoners, true) }}
            {% elif appointmentTypeCode in ['VLOO', 'VLLA', 'VLAP', 'VLPA'] %}
              {# Non-BVLS video appointments suppress comments from movement slips #}
              {{ labelAndValue('Comments', '', true) }}
            {% else %}
                {# All other appointment types show the comments on movement slips #}
                {{ labelAndValue('Comments', comment, true) }}
            {% endif %}
        </div>

        <div class="movement-slip__section">
            {{ labelAndValue('Created by', createdBy) }}
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
