{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/miniBanner/miniBanner.njk" import miniBanner %}
{% from "components/scheduledEvents/scheduledEvents.njk" import scheduledEvents %}

{% extends "../../partials/layout.njk" %}

{% macro appointment(params) %}
    <div class="govuk-grid-row">
        <div>
            {{ govukSelect({
                name: params.name + "Location",
                id: params.name + "Location",
                label: {
                    text: "Prison room for briefing"
                },
                items: locations | addDefaultSelectedValue('Select room') | setSelected(params.location),
                errorMessage: errors | findError(params.name + "Location")
            }) }}
        </div>

        <div id="{{ params.name + 'EventsContainer' }}">
            {% if formValues[params.name + "Location"] %}
                {{ scheduledEvents(events[params.name].events, 'location', 'Schedule for ' + events[params.name].locationName) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% set preAppointmentHtml %}
    {{ appointment({name:"preAppointment",locations: locations, location: formValues.preAppointmentLocation }) }}
{% endset -%}

{% set postAppointmentHtml %}
    {{ appointment({name:"postAppointment",locations: locations, location: formValues.postAppointmentLocation }) }}
{% endset -%}

{% set mainClasses = "govuk-body" %}
{% block content %}
    {% block body %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{ miniBanner(miniBannerData) }}
            </div>
        </div>

        {% if errors.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errors,
                attributes: { 'data-qa-errors': true },
                classes: 'govuk-!-margin-bottom-6'
            })}}
        {% endif %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-!-margin-bottom-3 govuk-!-margin-top-0">{{ pageTitle }}</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ govukSummaryList({
                    classes: 'govuk-summary-list--no-border appointment-details-list',
                    rows: [
                        {
                            key: {
                                text: "Court"
                            },
                            value: {
                                text: (courts | find('value', formValues.court)).text
                            }
                        } if appointmentId,
                        {
                            key: {
                                text: "Location"
                            },
                            value: {
                                text: location,
                                classes: 'govuk-!-padding-bottom-6'
                            }
                        },
                        {
                            key: {
                                text: "Date"
                            },
                            value: {
                                text: appointmentDate
                            }
                        },
                        {
                            key: {
                                text: "Court hearing start time"
                            },
                            value: {
                                text: startTime
                            }
                        },
                        {
                            key: {
                                text: "Court hearing end time"
                            },
                            value: {
                                text: endTime
                            }
                        }
                    ]
                }) }}

                <dl class="govuk-summary-list govuk-summary-list--no-border appointment-details-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Comments
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <pre class="govuk-body">{{ comments }}</pre>
                        </dd>
                    </div>
                </dl>

                <form method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    <input type="hidden" id="date" name="date" value="{{ date }}"/>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {{ govukRadios({
                                idPrefix: "preAppointment",
                                name: "preAppointment",
                                errorMessage: errors | findError('preAppointment'),
                                fieldset: {
                                    legend: {
                                        text: "Do you want to add a pre-court hearing briefing?",
                                        classes: "govuk-fieldset__legend--s"
                                    }
                                },
                                items: [{
                                    value: "yes",
                                    text: "Yes",
                                    checked: formValues.preAppointment == 'yes',
                                    conditional: {
                                        html: preAppointmentHtml
                                    }
                                },
                                    {
                                        value: "no",
                                        text: "No",
                                        checked: formValues.preAppointment == 'no'
                                    }
                                ]
                            }) }}
                        </div>
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {{ govukRadios({
                                idPrefix: "postAppointment",
                                name: "postAppointment",
                                errorMessage: errors | findError('postAppointment'),
                                fieldset: {
                                    legend: {
                                        text: "Do you want to add a post-court hearing briefing?",
                                        classes: "govuk-fieldset__legend--s"
                                    }
                                },
                                items: [{
                                    value: "yes",
                                    text: "Yes",
                                    checked: formValues.postAppointment == 'yes',
                                    conditional: {
                                        html: postAppointmentHtml
                                    }
                                },
                                    {
                                        value: "no",
                                        text: "No",
                                        checked: formValues.postAppointment == 'no'
                                    }
                                ]
                            }) }}
                        </div>
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% if appointmentId %}
                                <span class="govuk-visually-hidden" id="appointment-id">{{ appointmentId }}</span>
                                <input type="hidden" id="court" name="court" value="{{ formValues.court }}" />
                            {% else %}
                                {{ govukSelect({
                                    name: "court",
                                    id: "court",
                                    label: {
                                        text: "Which court is the booking for?",
                                        classes: 'govuk-!-font-weight-bold'
                                    },
                                    items: courts | addDefaultSelectedValue('Select court') | setSelected(formValues.court),
                                    errorMessage: errors | findError("court")
                                }) }}
                            {% endif %}

                            {{ govukSelect({
                                name: "hearingType",
                                id: "hearingType",
                                label: {
                                    text: "What is the hearing type?",
                                    classes: 'govuk-!-font-weight-bold'
                                },
                                items: hearingTypes | addDefaultSelectedValue('Select hearing type') | setSelected(formValues.hearingType),
                                errorMessage: errors | findError("hearingType")
                            }) }}

                            {% set courtHearingLinkHtml %}
                                {{ govukInput({
                                    name: "videoLinkUrl",
                                    id: "videoLinkUrl",
                                    label: {
                                        text: "Court hearing link"
                                    },
                                    value: formValues.videoLinkUrl,
                                    errorMessage: errors | findError("videoLinkUrl")
                                }) }}
                            {% endset %}

                            {{ govukRadios({
                                idPrefix: "cvpRequired",
                                name: "cvpRequired",
                                errorMessage: errors | findError('cvpRequired'),
                                fieldset: {
                                    legend: {
                                        text: "Do you know the link for this video link hearing?",
                                        classes: "govuk-fieldset__legend--s"
                                    }
                                },
                                items: [
                                    {
                                        value: "yes",
                                        text: "Yes",
                                        checked: formValues.cvpRequired == 'yes',
                                        conditional: {
                                            html: courtHearingLinkHtml
                                        }
                                    },
                                    {
                                        value: "no",
                                        text: "No",
                                        checked: formValues.cvpRequired == 'no'
                                    }
                                ]
                            }) }}
                        </div>
                    </div>

                    <div class="govuk-button-group">
                        {{ govukButton({ text: "Save and continue" }) }}
                        <a href="{{ refererUrl }}" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block pageScripts %}
    <script src="/assets/js/prePostAppointment.js"></script>
{% endblock %}
