<div class="ds_datepicker__dialog__header ">
    <div class="ds_datepicker__dialog__navbuttons">
        <button class="ds_button  ds_button--icon-only  js-datepicker-prev-year" aria-label="previous year" data-button="button-datepicker-prevyear">
            <span class="govuk-visually-hidden">Previous year</span>
            <svg focusable="false" class="ds_icon" aria-hidden="true" role="img"><use href="/assets/images/icons.stack.svg#double_chevron_left"></use></svg>
        </button>

        <button class="ds_button  ds_button--icon-only  js-datepicker-prev-month" aria-label="previous month" data-button="button-datepicker-prevmonth">
            <span class="govuk-visually-hidden">Previous month</span>
            <svg focusable="false" class="ds_icon" aria-hidden="true" role="img"><use href="/assets/images/icons.stack.svg#chevron_left"></use></svg>
        </button>
    </div>

    <h2 id="${titleId}" class="ds_datepicker__dialog__title  js-datepicker-month-year" aria-live="polite">June 2020</h2>

    <div class="ds_datepicker__dialog__navbuttons">
        <button class="ds_button  ds_button--icon-only  js-datepicker-next-month" aria-label="next month" data-button="button-datepicker-nextmonth">
            <span class="govuk-visually-hidden">Next month</span>
            <svg focusable="false" class="ds_icon" aria-hidden="true" role="img"><use href="/assets/images/icons.stack.svg#chevron_right"></use></svg>
        </button>

        <button class="ds_button  ds_button--icon-only  js-datepicker-next-year" aria-label="next year" data-button="button-datepicker-nextyear">
            <span class="govuk-visually-hidden">Next year</span>
            <svg focusable="false" class="ds_icon" aria-hidden="true" role="img"><use href="/assets/images/icons.stack.svg#double_chevron_right"></use></svg>
        </button>
    </div>
</div>

<table class="ds_datepicker__dialog__table  js-datepicker-grid" role="grid" aria-labelledby="${titleId}">
    <caption class="ds_datepicker__dialog__table-caption">You can use the arrow keys to select a date</caption>
    <thead>
    <tr>
        <th scope="col" abbr="Monday">Mo</th>
        <th scope="col" abbr="Tuesday">Tu</th>
        <th scope="col" abbr="Wednesday">We</th>
        <th scope="col" abbr="Thursday">Th</th>
        <th scope="col" abbr="Friday">Fr</th>
        <th scope="col" abbr="Saturday">Sa</th>
        <th scope="col" abbr="Sunday">Su</th>
    </tr>
    </thead>

    <tbody></tbody>
</table>

<div class="ds_datepicker__dialog__buttongroup">
    <button type="button" class="govuk-button js-datepicker-ok" value="ok" data-button="button-datepicker-ok">Select</button>
    <button type="button" class="govuk-button govuk-button--secondary js-datepicker-cancel" value="cancel" data-button="button-datepicker-cancel">Cancel</button>
</div>