{% extends "../index.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../macros/csraTag.njk' import csraTag %}

{% set breadCrumbs = [
    {
        text: 'Digital Prison Services',
        href:  "/" | prependBaseUrl
    },
    {
        text: prisonerName.lastCommaFirst,
        href: "/prisoner/" + prisonerNumber
    },
    {
        text: 'CSRA history',
        href: "/prisoner/" + prisonerNumber + "/csra-history"
    }
] %}

{% block body %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">CSRA review on {{ csraAssessment.assessmentDate | formatDate('long') }}</h1>
            <p>{{ csraTag(csraAssessment.approvalDate, csraAssessment.originalClassificationCode, csraAssessment.classificationCode) }}</p>
        </div>
    </div>

    {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border csra-summary-list',
        rows: csraAssessment | toCsraAssessmentSummaryList(agencyDetails, staffDetails),
        attributes: { "data-test": 'review-summary' }
    }) }}

    <h2 class="govuk-heading-m">Review questions</h2>



    {% if csraAssessment.questions.length %}
        {{ govukSummaryList({
            classes: 'govuk-summary-list--no-border',
            rows: csraAssessment.questions | toCsraQuestionsSummaryList,
            attributes: { "data-test": 'review-questions' }
        }) }}
    {% endif %}

{% endblock %}
