{% extends "../index.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set breadCrumbs = [
    {
        text: 'Digital Prison Services',
        href:  "/" | prependBaseUrl
    },
    {
        text: breadcrumbPrisonerName,
        href: "/prisoner/" + prisonerNumber
    }
] %}

{% block body %}
    {% if errors.length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors,
            attributes: { 'data-qa-errors': true }
        })}}
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters hmpps-full-width-print">
            <h1>{{ name |  apostrophe }} CSRA history</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter app-sidebar govuk-!-display-none-print">
            {% include './partials/csraFilter.njk' %}
        </div>
        <div class="govuk-grid-column-three-quarters hmpps-full-width-print">
            {% include './partials/csraList.njk' %}
        </div>
    </div>
{% endblock %}
