{% from "macros/filteredListPage.njk" import hmppsFilteredListPage %}
{% extends "../index.njk" %}

{% block body %}
    {% set titleHtml = (prisonerName.firstLast | apostrophe) + " CSRA history" %}

    {% set filterHtml %}
        {% include 'pages/csra/partials/csraFilter.njk' %}
    {% endset %}

    {% call hmppsFilteredListPage({
        titleHtml: titleHtml,
        hasContent: true,
        filterHtml: filterHtml,
        errors: errors
    }) %}
        {% include 'pages/csra/partials/csraList.njk' %}
    {% endcall %}
{% endblock %}
