{% from "components/catAPrisonerTag/catAPrisonerTag.njk" import catAPrisonerTag %}
{% from 'components/modal/modal.njk' import modal %}
{% from "dps/components/alert-flag/macro.njk" import alertFlag %}
{% from "macros/hmppsError.njk" import hmppsError %}

{% macro alertsMacro(alertSummaryData, prisonerNumber, categoryLabel) %}
    {% set otherActiveCount = alertSummaryData.activeAlertCount - alertSummaryData.alertFlags.length %}
    {% set includePlus = alertSummaryData.alertFlags.length > 0 %}
    <ul class="alerts-list" data-qa="alert-flags">
        {% if categoryLabel %}
            {{ catAPrisonerTag(categoryLabel) }}
        {% endif %}

        {% if alertSummaryData.apiUnavailable %}
        {{ hmppsError({
                type: 'service-unavailable',
                classes: 'govuk-!-margin-bottom-2',
                serviceName: 'Alerts',
                isAre: 'are',
                small: true
            }) }}
        {% else %}
            {% for alert in alertSummaryData.alertFlags %}
                <li>
                    {{ alertFlag({
                        alert: alert,
                        href: "/prisoner/" + prisonerNumber + "/alerts/detail?ids=" + alert.alertIds | join('&ids='),
                        attributes: {
                            'data-prisoner-number': prisonerNumber
                        }
                    }) }}
                </li>
            {% endfor %}
            {% if otherActiveCount > 0 %}
                <li class="alerts-list__more-link">
                    <a href="/prisoner/{{ prisonerNumber }}/alerts/active" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16">{{ '+' if includePlus }}{{ otherActiveCount | pluralise('active alert') }}</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>

    {{ modal({
        id: "alert-details",
        title: "Alert details",
        classes: "alert-details-modal",
        close: {
            label: "Close"
        }
    }) }}
{% endmacro %}
