{% from "components/catAPrisonerTag/catAPrisonerTag.njk" import catAPrisonerTag %}
{% from 'components/modal/modal.njk' import modal %}
{% from "dps/components/alert-flag/macro.njk" import alertFlag %}

{% macro alertsMacro(alerts, prisonerNumber, categoryLabel) %}
    <ul class="alerts-list" data-qa="alert-flags">
        {% if categoryLabel %}
            {{ catAPrisonerTag(categoryLabel) }}
        {% endif %}

        {% for alert in alerts %}
            <li>
                {{ alertFlag({
                    alert: alert,
                    href: "/prisoner/" + prisonerNumber + "/alerts/detail?ids=" + alert.alertIds | join('&ids='),
                    attributes: {
                        'data-prisoner-number': prisonerNumber
                    }
                }) }}
            </li>
        {% endfor %}
    </ul>

    {{ modal({
        id: "alert-details",
        title: "Alert details",
        classes: "alert-details-modal",
        close: {
            label: "Close"
        }
    }) }}

    {% block pageScripts %}
        <script src="/assets/js/alertFlags.js" nonce="{{ cspNonce }}"></script>
    {% endblock %}

{% endmacro %}
