{% extends "../editPage.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "moj/components/alert/macro.njk" import mojAlert %}
{% from "dps/components/address-autosuggest/macro.njk" import addressAutosuggest %}

{% block form %}
  <form method="post" novalidate="novalidate" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="address-autosuggest-input">{{ formTitle }}</label>
      </h1>
      <div id="address-hint" class="govuk-hint">Start typing a postcode or address</div>
      <div id="address-input">
        {{ addressAutosuggest({
          value: inputValue,
          errorMessage: errors | findError('address-autosuggest-input')
        }) }}
      </div>
    </div>
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        type: "submit",
        preventDoubleClick: true,
        attributes: { "data-qa": "edit-submit-button" }
      }) }}
      <a href="{{ cancelLink }}" class="govuk-link govuk-link--no-visited-state" data-qa="edit-cancel-button">Cancel</a>
    </div>
    <a href="{{ manualEntryUrl }}" class="govuk-link govuk-link--no-visited-state">Enter the address manually</a>
  </form>
{% endblock %}
{% block pageScripts %}
{% endblock %}
