{% from "../../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- call summaryCard({title: "External contacts", id: "external-contacts"}) -%}

    {% if externalContactsSummary.status === 'fulfilled' %}
        {% set summary = externalContactsSummary.value %}
        <dl class="govuk-summary-list external-contacts-summary">
            <div class="govuk-summary-list__row">
                <div class="govuk-!-padding-bottom-3 govuk-!-padding-top-2">
                    <dt class="govuk-!-font-weight-bold govuk-!-margin-bottom-2" data-qa="external-contacts-social">Social</dt>
                    <dd class="govuk-!-font-size-36 govuk-!-margin-left-0 govuk-!-margin-bottom-2" data-qa="external-contacts-social-count" >{{ summary.social }}</dd>
                </div>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                <div class="govuk-!-padding-top-3">
                    <dt class="govuk-!-font-weight-bold govuk-!-margin-bottom-2" data-qa="external-contacts-official">Official</dt>
                    <dd class="govuk-!-font-size-36 govuk-!-margin-left-0 govuk-!-margin-bottom-4" data-qa="external-contacts-official-count">{{ summary.official }}</dd>
                    <dd class="govuk-!-margin-left-0" data-qa="external-contacts-link"><a href="{{ config.serviceUrls.contacts }}/prisoner/{{ prisonerNumber }}/contacts/list" class="govuk-link govuk-link--no-visited-state govuk-!-display-none-print">Social and official contacts</a></dd>
                </div>
            </div>
        </dl>
    {% else %}
        <div class="hmpps-summary-card__unavailable-body" data-qa="external-contacts-summary-unavailable">
            <div class="hmpps-summary-card__unavailable-message">{{ standardApiErrorText }}</div>
            <div><a href="{{ config.serviceUrls.contacts }}/prisoner/{{ prisonerNumber }}/contacts/list" class="govuk-link govuk-link--no-visited-state govuk-!-display-none-print">Social and official contacts</a></div>
        </div>
    {% endif %}

{%- endcall -%}
