{% from "components/miniCard/miniCard.njk" import miniCard %}
{{ miniCard(externalContactsSummary | toExternalContactsMiniSummary(prisonerNumber), '', externalContactsSummary.status != 'fulfilled') }}
