{% extends "../../../partials/layout.njk" %}
{% from "../../../macros/summaryCardMacro.njk" import summaryCard %}
{% from '../../../components/miniBanner/miniBanner.njk' import miniBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set hideBackLink = true %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/prisoner/" + prisonerNumber +"/image"
  }) }}
{% endblock %}
{% set fileHtml %}
<div class="hmpps-photo-upload">
  <div id="file-upload" class="hmpps-photo-upload__upload">
    {{ govukFileUpload({
    id: "photo-upload",
    name: "file",
    label: {
      text: "Upload a file"
    },
    attributes: {
      accept: "image/jpeg, image/gif"
    }
  }) }}
  </div>
  <div id="file-upload-preview" class="hmpps-photo-upload__preview">
    <img class="hmpps-photo-upload__photo" id="output"/>
    <div class="hmpps-photo-upload__file-name">
      <p id="file-name" class="govuk-body">File name</p>
    </div>
    <div class="hmpps-photo-upload__change">
      <a class="govuk-link govuk-link--no-visited-state" href="#">
        <label class="govuk-!-font-size-19" id="change-file" for="file-upload-1">Change</label>
      </a>
    </div>
  </div>
</div>
{% endset -%}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ miniBanner(miniBannerData, {nameLink: false, displayImage: false, classes: "govuk-!-margin-bottom-3", nameClasses: "govuk-!-font-size-24" }) }}
    </div>
  </div>
  {% if errors.length > 0 %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errors,
              attributes: { 'data-qa-errors': true },
              classes: 'govuk-!-margin-bottom-6'
          }) }}
      </div>
    </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form method="post" enctype="multipart/form-data" autocomplete="off" action="?_csrf={{ csrfToken }}">
        <div class="govuk-form-group {{ " govuk-form-group--error" if errors.length > 0 }}">
          {{ govukRadios({
            name: "photoType",
            id: 'photoType',
            fieldset: {
              legend: {
                text: "Add a new facial image",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "upload",
                text: "Upload a new photo of the person",
                conditional: {
                  html: fileHtml
                },
                checked: formValues['photoType'] == 'upload'
              },
              {
                value: "withheld",
                text: "Use the 'Photo withheld for security reasons' image",
                hint: {
                  text: 'This should be used for all Category A prisoners.'
                },
                checked: formValues['photoType'] == 'withheld'
              }
            ]
          }) }}
        </div>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue",
            type: "submit",
            preventDoubleClick: true,
            attributes: { "data-qa": "submit-button" }
            }) }}
          <a href="/prisoner/{{ prisonerNumber }}/image" class="govuk-link govuk-link--no-visited-state" data-qa="edit-cancel-button">
            Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block pageScripts %}
  <script src="/assets/js/fileUploadWithPreview.js" nonce="{{ cspNonce }}"></script>
{% endblock %}