{% extends "../../../partials/layout.njk" %}
{% from "../../../macros/summaryCardMacro.njk" import summaryCard %}
{% from '../../../components/miniBanner/miniBanner.njk' import miniBanner %}
{% from '../../../components/fileUploadWithPreview/macro.njk' import fileUploadWithPreview %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set fileHtml %}
{{ fileUploadWithPreview("file") }}
{% endset -%}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ miniBanner(miniBannerData, {nameLink: false, displayImage: false, nameClasses: "govuk-!-font-size-24" }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include '../../../partials/edit/photo/photoUploadFeedbackBanner.njk' %}
    </div>
  </div>
  {% if errors.length > 0 %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errors,
              attributes: { 'data-qa-errors': true },
              classes: 'govuk-!-margin-bottom-6'
          }) }}
      </div>
    </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" enctype="multipart/form-data" autocomplete="off" action="{{ "" | appendRefererToUrl(referer) }}">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <div class="govuk-form-group {{ " govuk-form-group--error" if errors.length > 0 }}">
          {{ govukRadios({
            name: "photoType",
            id: 'photoType',
            fieldset: {
              legend: {
                text: "Add a new facial image",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "upload",
                text: "Upload a new photo of the person",
                conditional: {
                  html: fileHtml
                },
                checked: photoType == 'upload'
              },
              {
                value: "webcam",
                text: "Use a webcam",
                hint: {
                  text: 'The webcam must be connected to the computer you are using to access DPS.'
                },
                checked: formValues['photoType'] == 'webcam'
              } if isDpsAppDeveloper,
              {
                value: "withheld",
                text: "Use the 'Photo withheld for security reasons' image",
                hint: {
                  text: 'This should be used for all Category A prisoners.'
                },
                checked: photoType == 'withheld'
              }
            ]
          }) }}
        </div>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue",
            type: "submit",
            preventDoubleClick: true,
            attributes: { "data-qa": "submit-button" }
            }) }}
          <a href="{{ "/prisoner/" + prisonerNumber + "/image" | appendRefererToUrl(referer) }}" class="govuk-link govuk-link--no-visited-state" data-qa="edit-cancel-button">
            Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
