{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../macros/hmppsActionButton.njk" import hmppsActionButton %}
{% extends "./index.njk" %}
{% set breadCrumbs = [
  {
    text: 'Home',
    href:  "/" | prependBaseUrl
  }
] %}
{% block body %}

    {% if errors.length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors,
            attributes: { 'data-qa-errors': true }
        })
        }}
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 id="alerts">{{ 'Active' if activeTab else 'Inactive' }} alerts</h1>
        </div>
    </div>

    {% set tabs = [
        { text: 'Active ('+activeAlertCount+' alerts)', path: '/alerts/active', visible: true, testId: 'active' },
        { text: 'Inactive ('+inactiveAlertCount+' alerts)', path: '/alerts/inactive', visible: true, testId: 'inactive' }
    ]
    %}

    <div class="govuk-tabs">
        <ul class="govuk-tabs__list">
            {% for tab in tabs %}
                {% if tab.visible %}
                {% set fullTabPath = '/prisoner/' + prisonerNumber + tab.path %}
                {% set isSelected = (' govuk-tabs__list-item--selected' if currentUrlPath === fullTabPath) %}
                    <li class="{{ 'govuk-tabs__list-item' + isSelected }}">
                        <a class="govuk-tabs__tab" href="{{ fullTabPath }}" data-qa="{{'alerts-tabs-' + tab.testId }}">
                            {{ tab.text }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">&nbsp;<!-- Intentionally blank - for triggering layout only --></div>
        <div class="govuk-grid-column-three-quarters">
            {% if addAlertLinkUrl %}
            <div class="hmpps-action-header">
                {{ hmppsActionButton({ text: 'Add alert', iconName: 'add-alert', id: 'add-alert-action-button', url: addAlertLinkUrl }) }}
            </div>
            {% endif %}
        </div>
    </div>

    {% if (activeTab and activeAlertCount) or (not activeTab and inactiveAlertCount) %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter app-sidebar">
            {% include '../partials/alertsPage/alertsFilter.njk' %}
        </div>
        <div class="govuk-grid-column-three-quarters ">
            {% include '../partials/alertsPage/alertsList.njk' %}
        </div>
    </div>
    {% else %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" data-qa="alerts-empty-state">
            {{ fullName }} does not have any {{ 'active' if activeTab else 'inactive' }} alerts
        </div>
    </div>
    {% endif %}

    {% include "../partials/backToTop.njk" %}

{% endblock %}
