{% from "../macros/hmppsActionButton.njk" import hmppsActionButton %}
{% extends "./index.njk" %}
{% block body %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 id="alerts">Alerts</h1>
        </div>
    </div>

    {% set activeCount = 8 %}
    {% set inactiveCount = 23 %}
    {% set tabs = [
        { text: 'Active ('+activeCount+' alerts)', path: '/alerts/active', visible: true, testId: 'active' },
        { text: 'Inactive ('+inactiveCount+' alerts)', path: '/alerts/inactive', visible: true, testId: 'inactive' }
    ]
    %}

    <div class="govuk-tabs">
        <ul class="govuk-tabs__list">
            {% for tab in tabs %}
                {% if tab.visible %}
                {% set fullTabPath = '/prisoner/' + prisonerNumber + tab.path %}
                {% set isSelected = ' govuk-tabs__list-item--selected' if currentUrlPath.split('?')[0].replace(r/\/$/, '') === fullTabPath %}
                    <li class="{{'govuk-tabs__list-item' + isSelected }}">
                        <a class="govuk-tabs__tab" href="{{ fullTabPath }}" data-qa="{{'alerts-tabs-' + tab.testId }}">
                            {{ tab.text }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">&nbsp;<!-- Intentionally blank - for triggering layout only --></div>
        <div class="govuk-grid-column-three-quarters">
            <div class="hmpps-action-header">
                <h2>Active alerts</h2>
                {{ hmppsActionButton({ text: 'Add alert', iconName: 'add-appointment', id: 'add-alert-action-button', url: '#' }) }}
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            {% include '../partials/alertsPage/alertsFilter.njk' %}
        </div>
        <div class="govuk-grid-column-three-quarters ">
            {% include '../partials/alertsPage/alertsList.njk' %}
        </div>
    </div>
{% endblock %}
