{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../macros/hmppsActionButton.njk" import hmppsActionButton %}
{% extends "./index.njk" %}
{% set breadCrumbs = [
  {
    text: 'Back to search results',
    href:  "/" | prependBaseUrl
  }
]%}
{% block body %}

    {% if errors.length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors,
            attributes: { 'data-qa-errors': true }
        })}}
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 id="caseNotes">Case notes</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">&nbsp;<!-- Intentionally blank - for triggering layout only --></div>
        <div class="govuk-grid-column-three-quarters">
            {% if addCaseNoteLinkUrl %}
            <div class="hmpps-action-header">
                {{ hmppsActionButton({ text: 'Add case note', iconName: 'add-case-note', id: 'add-case-note-action-button', url: addCaseNoteLinkUrl }) }}
            </div>
            {% endif %}
        </div>
    </div>

    {% if (hasCaseNotes) %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            {% include '../partials/caseNotesPage/caseNotesFilter.njk' %}
        </div>
        <div class="govuk-grid-column-three-quarters ">
            {% include '../partials/caseNotesPage/caseNotesList.njk' %}
        </div>
    </div>
    {% else %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" data-qa="case-notes-empty-state">
            {{ fullName }} does not have any case notes
        </div>
    </div>
    {% endif %}
{% endblock %}
