{% extends "../partials/layout.njk" %}

{% set pageTitle = "Error" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <h1 class="govuk-heading-l">{{ message }}</h1>

  {% if paraContent %}
    <p class="govuk-body">{{ paraContent }}</p>
  {% endif %}

  {% if status %}
    <h2 class="govuk-heading-m">{{ status }}</h2>
  {% endif %}

  {% if stack %}
    <pre>{{ stack }}</pre>
  {% endif %}

{% endblock %}
