{% extends "../partials/layout.njk" %}

{% set pageTitle = "Error" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <h1 class="govuk-heading-l">{{ message }}</h1>
  <h2 class="govuk-heading-m">{{ status }}</h2>
  <pre>{{ stack }}</pre>

{% endblock %}
