{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "../partials/layout.njk" %}
{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "govuk-body" %}
{% block beforeContent %}
  {{ govukBackLink({
    text: backLinkLabel,
    href: "#",
    classes: "govuk-link"
  }) }}
{% endblock %}
{% block content %}
  {% include "../partials/profileBanner/profileBanner.njk" %}
  {% include "./overviewPage.njk" %}
{% endblock %}
