{% extends "../partials/layout.njk" %}

{% set mainClasses = "govuk-body" %}
{% block content %}
  {% include "../partials/profileBanner/profileBanner.njk" %}
  {% block body %}{% endblock %}
{% endblock %}
