{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {# <h1>This site is under construction...</h1>
  <p>Please check back later when there is content to view.</p> #}
  <a href="#" class="govuk-back-link">Back to search results</a>
  <div class="hmpps-profile-header">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full hmpps-profile-header-top">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <img class="hmpps-profile-photo position-relative" src="/assets/images/prisoner-profile-photo.png" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
              </div>
              <div class="govuk-grid-column-three-quarters">
                <div class="govuk-grid-row">
                  <h2 class="govuk-heading-l hmpps-profile-prisoner-name">Jones, David</h2>
                </div>
                <div class="govuk-grid-row">
                  <p class="govuk-body govuk-!-font-size-24">A8469DY</p>
                </div>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-half hmpps-profile-header-top-nav-container">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <div class="govuk-grid-row">
                  <h3 class="govuk-heading-s">Location</h3>
                </div>
                <div class="govuk-grid-row">
                  <a href="#" class="govuk-link govuk-link--inverse">C-2-013</a>
                </div>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <div class="govuk-grid-row">
                  <h3 class="govuk-heading-s">Category</h3>
                </div>
                <div class="govuk-grid-row">
                  <a href="#" class="govuk-link govuk-link--inverse">B</a>
                </div>                
              </div>
              <div class="govuk-grid-column-one-quarter">
                <div class="govuk-grid-row">
                  <h3 class="govuk-heading-s">LCSRA</h3>
                </div>
                <div class="govuk-grid-row">
                  <a href="#" class="govuk-link govuk-link--inverse">Standard</a>
                </div>                 
              </div>
              <div class="govuk-grid-column-one-quarter remove-column-gutter-right">
                <div class="govuk-grid-row">
                  <h3 class="govuk-heading-s">Incentive level</h3>
                </div>
                <div class="govuk-grid-row">
                  <a href="#" class="govuk-link govuk-link--inverse">Standard</a>
                </div>                 
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-row"></div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full hmpps-profile-header-bottom">
        <div class="govuk-grid-row">
          <ul class="alerts-list" >
            <li class="alert-status alert-status--arsonist">Staff assaulter</li>
            <li class="alert-status alert-status--risk-females">Risk to females</li>
            <li class="alert-status alert-status--gang-member ">Gang member</li>
            <li class="alert-status alert-status--acct">ACCT open</li>
          </ul>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <hr>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <ul class="hmpps-profile-tab-links">
              <li class="govuk-heading-s hmpps-profile-tab-link-selected">
                <a href="#" class="govuk-link govuk-link--no-underline">Overview</a>
              </li>
              <li class="govuk-heading-s">
                <a href="#" class="govuk-link govuk-link--no-underline">Personal</a>
              </li>
              <li class="govuk-heading-s">
                <a href="#" class="govuk-link govuk-link--no-underline">Case notes</a>
              </li>
              <li class="govuk-heading-s">
                <a href="#" class="govuk-link govuk-link--no-underline">Alerts</a>
              </li>
              <li class="govuk-heading-s">
                <a href="#" class="govuk-link govuk-link--no-underline">Sentence</a>
              </li>
              <li class="govuk-heading-s">
                <a href="#" class="govuk-link govuk-link--no-underline">Work and skills</a>
              </li>
            </ul>            
          </div>
        </div>
      </div>      
    </div>
  </div>
{% endblock %}
