{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../macros/hmppsActionButton.njk" import hmppsActionButton %}

{% extends "./index.njk" %}

{% set hideBackLink = true %}
{% set breadCrumbs = [
  {
    text: 'Digital Prison Services',
    href:  "/" | prependBaseUrl
  },
  {
    text: prisonerName.lastCommaFirst,
    href: "/prisoner/" + prisonerNumber
  }
] %}

{% block body %}
  {% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters hmpps-full-width-print">
        <h1 class="govuk-heading-l govuk-!-margin-top-5 govuk-!-margin-bottom-8">{{prisonerName.firstLast |  apostrophe}} location details</h1>
      </div>
    </div>

    {% if isTransfer %}
      {{ govukInsetText({
        text: "This prisoner is being transferred.",
        classes: "govuk-!-margin-top-2"
      }) }}
    {% elseif isReleased %}
      {{ govukInsetText({
        text: "This person has been released.",
        classes: "govuk-!-margin-top-2"
      }) }}
    {% else %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter hmpps-full-width-print"><h2 class="govuk-heading-l">Current location</h2></div>
        <div class="location-actions govuk-grid-column-three-quarters govuk-!-display-none-print">
          {% if canViewMoveToReceptionButton %}
            <div class="hmpps-action-header">
              {{ hmppsActionButton({ text: 'Move to reception', iconName: 'move-to-reception', id: 'move-to-reception-action-button', url: moveToReceptionLink }) }}
            </div>
          {% endif %}
          {% if canViewCellMoveButton %}
            <div class="govuk-!-margin-left-4 hmpps-action-header">
              {{ hmppsActionButton({ text: 'Change cell', iconName: 'change-cell', id: 'change-cell-action-button', url: changeCellLink }) }}
            </div>
          {% endif %}
        </div>
      </div>

      <div class="horizontal-information horizontal-information--with-border govuk-!-margin-bottom-6">
        <div class="horizontal-information__item">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Establishment</h3>
          <p class="govuk-body" data-qa="establishment"> {{ currentLocation.establishment }} </p>
        </div>
        <div class="horizontal-information__item">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Location</h3>
          <p class="govuk-body" data-qa="location"> {{ currentLocation.location }} </p>
        </div>
        <div class="horizontal-information__item">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Moved in</h3>
          <p class="govuk-body" data-qa="current-location-moved-in-date"> {{ currentLocation.movedIn }} </p>
        </div>
        <div class="horizontal-information__item">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Moved in by</h3>
          <p class="govuk-body" data-qa="current-location-moved-in-by"> {{ currentLocation.movedInBy }} </p>
        </div>
        {% if occupants.length %}
          <div class="horizontal-information__item">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Currently sharing with</h3>
            <div data-qa="currently-sharing-with">
              {% for occupant in occupants %}
                <p class="govuk-body" data-qa="occupants">
                  <a class="govuk-link" href={{occupant.profileUrl}}>{{ occupant.name }}</a>
                </p>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        <div class="horizontal-information__item">
          {% if currentLocation.locationHistoryLink %}
            <a href="{{ currentLocation.locationHistoryLink }}" class="govuk-link govuk-body govuk-!-display-none-print" data-qa="current-location-history-link">
            View details<span class="govuk-visually-hidden"> for location {{ currentLocation.location }}</span>
            </a>
          {% endif %}
        </div>
      </div>
    {% endif %}

    <h2 class="govuk-heading-l">Previous locations</h2>
    <div data-qa="previous-locations">
      {% for agency in locationDetailsGroupedByAgency %}
        {% set agencyDatePeriod = "from " + agency.fromDate + " to " + agency.toDate %}
        {% if agency.agencyName %}
          {% set rows = [] %}

          {% for location in agency.locationDetails %}
            {% set rows = (rows.push([
              { text: location.location },
              { text: location.movedIn },
              { text: location.movedInBy },
              { text: location.movedOut },
              { html: '<a href="' + location.locationHistoryLink + '" class="govuk-link govuk-!-display-none-print">View details<span class="govuk-visually-hidden"> for location ' + location.location + '</span></a>' if location.locationHistoryLink }
            ]), rows) %}
          {% endfor %}

          <div data-qa="agency-group">
            <h3 class="govuk-heading-m" data-qa="agency-heading">{{ agency.agencyName }} <span class="govuk-!-font-weight-regular">{{ agencyDatePeriod }}</span></h3>

            {{ govukTable({
              head: [
                { text: "Location" },
                { text: "Moved in" },
                { text: "Moved in by" },
                { text: "Moved out" },
                { html: '<span class="govuk-visually-hidden">Details link</span>' }
              ],
              rows: rows,
              attributes: { "data-qa": "prisoner-cell-history-" }
            }) }}
          </div>
        {% else %}
          <h3 class="govuk-heading-m" data-qa="invalid-agency-heading">There is no known cell location <span class="govuk-!-font-weight-regular">{{ agencyDatePeriod }}</span></h3>
        {% endif %}
      {% endfor %}
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-body">
          <a class="govuk-link govuk-!-display-none-print" href="{{ profileUrl }}" data-qa="back-link">Return to prisoner’s profile</a>
        </p>
      </div>
    </div>
  {% endblock %}

  {% include "../partials/backToTop.njk" %}

{% endblock %}
