{% extends "./index.njk" %}
{% set breadCrumbs = [
  {
    text: 'Digital Prison Services',
    href:  "/" | prependBaseUrl
  }
] %}
{% block body %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1>Offences</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter app-sidebar">
      <ul class="govuk-list hmpps-sidebar">
        <li><a class="govuk-link" href="#courtCasesAccordion">Court cases and offences</a></li>
        <li><a class="govuk-link" href="#release-dates">Release dates</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <div class="govuk-grid-row" data-qa="court-cases-and-offences">
        <div class="govuk-grid-column-full" id="courtCasesAccordion">
          {% include "../partials/offencesPage/courtCasesAndOffences.njk" %}
        </div>
        
          <div class="govuk-grid-column-full">
            {% include "../partials/offencesPage/releaseDates.njk" %}
          </div>
      </div>
    </div>
  </div>
  {% include "../partials/backToTop.njk" %}
{% endblock %}