{% from "../macros/sidebarNav.njk" import sidebarNav %}
{% extends "./index.njk" %}
{% set breadCrumbs = [
  {
    text: 'Digital Prison Services',
    href:  "/" | prependBaseUrl
  }
] %}
{% block body %}
  {% set sidebar %}
    {{ sidebarNav([
      { text: "Court cases and offences", href: "#courtCasesAccordion" },
      { text: "Release dates", href: "#release-dates" }
    ]) }}
  {% endset %}

  {% set content %}
    <div class="govuk-grid-row" data-qa="court-cases-and-offences">
      <div class="govuk-grid-column-full" id="courtCasesAccordion">
        {% include "../partials/offencesPage/courtCasesAndOffences.njk" %}
      </div>

      <div class="govuk-grid-column-full">
        {% include "../partials/offencesPage/releaseDates.njk" %}
      </div>
    </div>
  {% endset %}

  {% set heading = "Offences" %}
  {% include "../partials/sidebarPageLayout.njk" %}
{% endblock %}
