{% extends "./index.njk" %}
{% set breadCrumbs = [
  {
    text: 'Digital Prison Services',
    href:  "/" | prependBaseUrl
  }
] %}
{% from "../macros/conditionallyShow.njk" import conditionallyShow %}
{% block body %}
  <div class="govuk-grid-row">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l govuk-!-margin-top-5">Overview</h1>
    </div>
    {% if pageHasApiErrors and useCustomErrorBanner %}
      <div class="hmpps-api-error-banner govuk-!-margin-3">
        <p>Sorry, there is a problem with the service</p>
        <p>Some information on this page may be unavailable. Try again later.</p>
      </div>
    {% endif %}
  </div>

  <div class="govuk-grid-row hmpps-three-quarters-responsive">
    <div class="govuk-grid-column-three-quarters hmpps-full-width-print">
      {% include "../partials/overviewPage/mainBody.njk" %}
    </div>
    <div class="govuk-grid-column-one-quarter govuk-!-display-none-print">
      {%- call conditionallyShow({condition: isInUsersCaseLoad(prisonId, user), id: 'overview-side-bar'}) -%}
        {% include "../partials/overviewPage/sideBar.njk" %}
      {%- endcall -%}
    </div>
  </div>
{% endblock %}
