{% extends "./index.njk" %}
{% set breadCrumbs = [
  {
    text: 'Digital Prison Services',
    href:  "/" | prependBaseUrl
  }
] %}
{% from "../macros/conditionallyShow.njk" import conditionallyShow %}
{% block body %}
  {% if pageHasApiErrors and useCustomErrorBanner %}
    <div class="govuk-grid-row">
      <div class="hmpps-api-error-banner govuk-!-margin-3">
        <p>Sorry, there is a problem with the service</p>
        <p>Some information on this page may be unavailable. Try again later.</p>
      </div>
    </div>
  {% endif %}

  {% set sidebar %}
    {%- call conditionallyShow({condition: isInUsersCaseLoad(prisonId, user), id: 'overview-side-bar'}) -%}
      {% include "../partials/overviewPage/sideBar.njk" %}
    {%- endcall -%}
  {% endset %}

  {% set content %}
    {% include "../partials/overviewPage/mainBody.njk" %}
  {% endset %}

  {% set sidebarSide = "right" %}
  {% set rowClasses = "hmpps-three-quarters-responsive" %}
  {% set heading = "Overview" %}
  {% include "../partials/sidebarPageLayout.njk" %}
{% endblock %}
