{% extends "./index.njk" %}
{% from "../macros/hmppsError.njk" import hmppsError %}
{% from "../macros/conditionallyShow.njk" import conditionallyShow %}
{% set breadCrumbs = [
  {
    text: 'Digital Prison Services',
    href:  "/" | prependBaseUrl
  }
] %}
{% block body %}
  {% if pageHasApiErrors and useCustomErrorBanner %}
    <div class="govuk-grid-row">
      {{ hmppsError({ type: 'banner', classes: 'govuk-!-margin-3' }) }}
    </div>
  {% endif %}

  {% set sidebar %}
    {%- call conditionallyShow({condition: isInUsersCaseLoad(prisonId, user), id: 'overview-side-bar'}) -%}
      {% include "../partials/overviewPage/sideBar.njk" %}
    {%- endcall -%}
  {% endset %}

  {% set content %}
    {% include "../partials/overviewPage/mainBody.njk" %}
  {% endset %}

  {% set sidebarSide = "right" %}
  {% set heading = "Overview" %}
  {% include "../partials/sidebarPageLayout.njk" %}
{% endblock %}
