{% from "../macros/sidebarNav.njk" import sidebarNav %}
{% from "../macros/conditionallyShow.njk" import conditionallyShow %}
{% extends "./index.njk" %}
{%
  set breadCrumbs = [
  {
  text: 'Digital Prison Services',
  href:  "/" | prependBaseUrl
  }
  ]
%}
{% set showSecurity  = security.interestToImmigration == "Yes" or security.travelRestrictions or security.xrays.total > 0 %}
{% set showNeurodiversity = neurodiversityEnabled(user.activeCaseLoadId) and learnerNeurodivergence.status === 'fulfilled' and learnerNeurodivergence.value.length %}
{% set inUserCaseload = isInUsersCaseLoad(prisonId, user) %}

{% block body %}
  {% if pageHasApiErrors and useCustomErrorBanner %}
    <div class="govuk-grid-row">
      <div class="hmpps-api-error-banner govuk-!-margin-3">
        <p>Sorry, there is a problem with the service</p>
        <p>Some information on this page may be unavailable. Try again later.</p>
      </div>
    </div>
  {% endif %}

  {% set sections = [
    { text: "Personal details", href: "#personal-details", template: "../partials/personalPage/personalDetails.njk" },
    { text: "Identity numbers", href: "#identity-numbers", template: "../partials/personalPage/identityNumbers.njk" },
    { text: "Care needs", href: "#care-needs", template: "../partials/personalPage/careNeeds.njk" },
    { text: "Neurodiversity", href: "#neurodiversity", template: "../partials/personalPage/neurodiversity.njk", condition: showNeurodiversity },
    { text: "Appearance", href: "#appearance", template: "../partials/personalPage/appearance.njk", condition: inUserCaseload },
    { text: "Addresses", href: "#addresses", template: "../partials/personalPage/addresses.njk" if displayNewAddressesCard else "../partials/personalPage/oldAddresses.njk" },
    { text: "Phone and email", href: "#phones-and-emails", template: "../partials/personalPage/globalNumbersAndEmailAddresses.njk", condition: inUserCaseload and editEnabled, id: "global-numbers-and-email-addresses" },
    { text: "Next of kin", href: "#next-of-kin", template: "../partials/personalPage/nextOfKin.njk" if personalRelationshipsApiReadEnabled else "../partials/personalPage/oldNextOfKin.njk", condition: inUserCaseload },
    { text: "Security", href: "#security", template: "../partials/personalPage/security.njk", condition: showSecurity },
    { text: "Property", href: "#property", template: "../partials/personalPage/property.njk", condition: inUserCaseload }
  ] %}

  {% set sidebar %}
    {{ sidebarNav(sections) }}
  {% endset %}

  {% set content %}
    <div class="hmpps-profile--personal-content hmpps-full-width-print {{ 'new-arrival' if newArrival72 }}">
      {% for section in sections %}
        {% set sectionHtml %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              {% include section.template %}
            </div>
          </div>
        {% endset %}

        {% if section.condition != null %}
          {%- call conditionallyShow({condition: section.condition, id: section.id or section.href | replace('#', '')}) -%}
            {{ sectionHtml | safe }}
          {%- endcall -%}
        {% else %}
          {{ sectionHtml | safe }}
        {% endif %}
      {% endfor %}
    </div>
  {% endset %}

  {% set heading = "Personal" %}
  {% include "../partials/sidebarPageLayout.njk" %}
{% endblock %}
