{% from "../macros/conditionallyShow.njk" import conditionallyShow %}
{% extends "./index.njk" %}
{%
  set breadCrumbs = [
  {
  text: 'Digital Prison Services',
  href:  "/" | prependBaseUrl
  }
  ]
%}
{% set showSecurity  = security.interestToImmigration == "Yes" or security.travelRestrictions or security.xrays.total > 0 %}
{% set showNeurodiversity = neurodiversityEnabled(user.activeCaseLoadId) and learnerNeurodivergence.status === 'fulfilled' and learnerNeurodivergence.value.length %}

{% block body %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1>Personal</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter app-sidebar govuk-!-display-none-print">
      <ul class="govuk-list hmpps-sidebar">
        <li><a class="govuk-link govuk-link--no-visited-state" href="#personal-details">Personal details</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="#identity-numbers">Identity numbers</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="#care-needs">Care needs</a></li>
        {%- call conditionallyShow({condition: showNeurodiversity, id: 'neurodiversity'}) -%}
          <li><a class="govuk-link govuk-link--no-visited-state" href="#neurodiversity">Neurodiversity</a></li>
        {%- endcall -%}
        {%- call conditionallyShow({condition: isInUsersCaseLoad(prisonId, user), id: 'appearance-nav'}) -%}
          <li><a class="govuk-link govuk-link--no-visited-state" href="#appearance">Appearance</a></li>
        {%- endcall -%}
        <li><a class="govuk-link govuk-link--no-visited-state" href="#addresses">Addresses</a></li>
        {%- call conditionallyShow({condition: isInUsersCaseLoad(prisonId, user), id: 'next-of-kin-nav'}) -%}
          <li><a class="govuk-link govuk-link--no-visited-state" href="#next-of-kin">Next of kin</a></li>
        {%- endcall -%}
        {%- call conditionallyShow({condition: showSecurity, id: 'security-nav'}) -%}
          <li><a class="govuk-link govuk-link--no-visited-state" href="#security">Security</a></li>
        {%- endcall -%}
        {%- call conditionallyShow({condition: isInUsersCaseLoad(prisonId, user), id: 'property-nav'}) -%}
          <li><a class="govuk-link govuk-link--no-visited-state" href="#property">Property</a></li>
        {%- endcall -%}
      </ul>
    </div>
    <div class="govuk-grid-column-three-quarters hmpps-profile--personal-content hmpps-full-width-print {{ 'new-arrival' if newArrival72 }}">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "../partials/personalPage/personalDetails.njk" %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "../partials/personalPage/identityNumbers.njk" %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "../partials/personalPage/careNeeds.njk" %}
        </div>
      </div>
      {%- call conditionallyShow({condition: showNeurodiversity, id: 'neurodiversity'}) -%}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {% include "../partials/personalPage/neurodiversity.njk" %}
          </div>
        </div>
      {%- endcall -%}
      {%- call conditionallyShow({condition: isInUsersCaseLoad(prisonId, user), id: 'appearance'}) -%}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {% include "../partials/personalPage/appearance.njk" %}
          </div>
        </div>
      {%- endcall -%}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "../partials/personalPage/addresses.njk" %}
        </div>
      </div>
      {%- call conditionallyShow({condition: isInUsersCaseLoad(prisonId, user), id: 'next-of-kin'}) -%}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {% include "../partials/personalPage/nextOfKin.njk" %}
          </div>
        </div>
      {%- endcall -%}
      {%- call conditionallyShow({condition: showSecurity, id: 'security'}) -%}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {% include "../partials/personalPage/security.njk" %}
          </div>
        </div>
      {%- endcall -%}
      {%- call conditionallyShow({condition: isInUsersCaseLoad(prisonId, user), id: 'property'}) -%}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {% include "../partials/personalPage/property.njk" %}
          </div>
        </div>
      {%- endcall -%}
    </div>
  </div>
  {% include "../partials/backToTop.njk" %}
{% endblock %}
