<div class="govuk-grid-row govuk-!-padding-top-9">
    <div class="govuk-grid-column-full center-content">
        <img class="hmpps-profile-photo" src="/api/prisoner/{{ prisonerNumber or photoType }}/image" alt="{{ prisonerName }}" />
        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-padding-top-4">
            Print this image
        </a>      
    </div>
</div>


