{% from "macros/filteredListPage.njk" import hmppsFilteredListPage %}
{% extends "./index.njk" %}
{% set title = "Visit details" %}
{% set hideBackLink = true %}
{%
  set breadCrumbs = [
  { text: 'Digital Prison Services', href:  "/" | prependBaseUrl },
  { text: prisonerName.lastCommaFirst, href: "/prisoner/" + prisonerNumber }
  ]
%}

{% block body %}
    {% set titleHtml = (prisonerName.firstLast | apostrophe) + " visits" %}
    {% set hasContent = hasVisits or hasNoVisitsForQuery %}
    {% set emptyStateHtml = '<p class="govuk-body">There are no visits for this person.</p>' %}

    {% set filterHtml %}
        {% include 'partials/visitsDetailsPage/filter.njk' %}
    {% endset %}

    {% call hmppsFilteredListPage({
        titleHtml: titleHtml,
        hasContent: hasContent,
        emptyStateHtml: emptyStateHtml,
        emptyStateDataQa: "visits-empty-state",
        filterHtml: filterHtml,
        errors: errors
    }) %}
        {% include 'partials/visitsDetailsPage/list.njk' %}
    {% endcall %}
{% endblock %}
