{% from "../macros/sidebarNav.njk" import sidebarNav %}
{% extends "./index.njk" %}
{% set breadCrumbs = [
  {
    text: 'Digital Prison Services',
    href:  "/" | prependBaseUrl
  }
] %}
{% block body %}
  {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}

  {% set sidebar %}
    {{ sidebarNav([
      { text: "Functional skills", href: "#functional-skills-level" },
      { text: "Courses and qualifications", href: "#courses-and-qualifications" },
      { text: "Work and activities", href: "#work-and-activities" },
      { text: "Goals", href: "#goals" },
      { text: "Employability skills", href: "#employability-skills" }
    ]) }}
  {% endset %}

  {% set content %}
    <div class="govuk-grid-row" data-qa="courses-and-qualifications">
      <div class="govuk-grid-column-full">
        {% include "../partials/workAndSkillsPage/functionalSkills/index.njk" %}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include "../partials/workAndSkillsPage/inPrisonCoursesAndQualifications/index.njk" %}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include "../partials/workAndSkillsPage/workAndActivities.njk" %}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include "../partials/workAndSkillsPage/goals/index.njk" %}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include "../partials/workAndSkillsPage/employabilitySkills.njk" %}
      </div>
    </div>
  {% endset %}

  {% set heading = "Work and skills" %}
  {% include "../partials/sidebarPageLayout.njk" %}
{% endblock %}
