{% extends "../edit/editPage.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from 'components/miniBanner/miniBanner.njk' import miniBanner %}
{% macro identifierOptionHtml(option) %}
  {% if option.mostRecentExistingValue %}
    {{ govukWarningText({
      text: "This person already has the " + option.description + " " + option.mostRecentExistingValue + ". Check if this is correct before adding a new one.",
      iconFallbackText: "Warning",
      attributes: { 'data-qa': 'existing-id-warning'}
    }) }}
  {% endif %}
  {{ govukInput({
    id: option.id + "-value-input",
    name: option.id + "[value]",
    label: {
      text: "Number"
    },
    value: option.value,
    errorMessage: errors | findError(option.id + "-value-input"),
    classes: "govuk-!-width-one-third"
  }) }}
  {{ govukCharacterCount({
    id: option.id + "-comments-input",
    name: option.id + "[comment]",
    label: {
      text: "Comments (optional)"
    },
    value: option.comment,
    maxlength: 240,
    rows: 3,
    errorMessage: errors | findError(option.id + "-comments-input"),
    classes: "govuk-!-width-three-quarters"
  }) }}
{% endmacro %}
{% set selectItems = [] %}
{% for option in identifierOptions %}
  {% set selectItems = (selectItems.push(
    {
      name: option.id + "[selected]",
      value: option.id,
      text: option.label,
      id: option.id,
      checked: option.selected,
      hint: { text: option.hint },
      conditional: { html: identifierOptionHtml(option) }
    }
  ), selectItems) %}
{% endfor %}
{% block form %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <form method="post" novalidate="novalidate" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/> {{ govukCheckboxes({ items: selectItems }) }}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save",
        type: "submit",
        preventDoubleClick: true,
        attributes: { "data-qa": "edit-save-button" }
      }) }}
      <a
        href="/prisoner/{{ prisonerNumber }}/personal#identity-numbers"
        class="govuk-link govuk-link--no-visited-state"
        data-qa="edit-cancel-button">Cancel</a>
    </div>
  </form>
{% endblock %}