{% extends "../edit/editPage.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from 'components/miniBanner/miniBanner.njk' import miniBanner %}
{% block form %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <form method="post" novalidate="novalidate" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <input type="hidden" name="type" value="{{ identifierType }}"/> {{ govukInput({
      id: 'identifier-value-input',
      name: 'value',
      label: {
        text: 'Number',
        classes: 'govuk-label--s'
      },
      value: formValues.value,
      errorMessage: errors | findError('identifier-value-input'),
      classes: "govuk-!-width-one-third"
    }) }}
    {{ govukCharacterCount({
      id: "identifier-comments-input",
      name: "comment",
      label: {
        text: "Comments (optional)",
        classes: 'govuk-label--s'
      },
      value: formValues.comment,
      maxlength: 240,
      rows: 3,
      errorMessage: errors | findError("identifier-comments-input"),
      classes: "govuk-!-width-three-quarters"
    }) }}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save",
        type: "submit",
        preventDoubleClick: true,
        attributes: { "data-qa": "edit-save-button" }
      }) }}
      <a
        href="/prisoner/{{ prisonerNumber }}/personal#identity-numbers"
        class="govuk-link govuk-link--no-visited-state"
        data-qa="edit-cancel-button">Cancel</a>
    </div>
  </form>
{% endblock %}